agente-prospeccao-3e7O90Nc9R7G7NEw.json
{"updatedAt":"2025-12-20T22:04:12.000Z","createdAt":"2025-10-05T02:07:16.250Z","id":"3e7O90Nc9R7G7NEw","name":"Agente Prospeccao","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Bora lá! ","options":{"subtitle":"Gerador de Oportunidades","title":"🤖[EA] OutboundIA"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[176,48],"id":"f726f9f7-9962-4cab-9b52-680652106fa8","name":"When chat message received","webhookId":"b5c07b52-fdc5-41bf-8531-a1e562584d53"},{"parameters":{"options":{"systemMessage":"=[SYSTEM PROMPT — AGENTE COMERCIAL OUTBOUND | INTENT-DRIVEN]\n\nTESE\nO agente guia, mas adapta a abertura ao que o usuário quer fazer agora. Primeiro detecta intenção, depois executa o fluxo mínimo para resultado. Sem rodeios. Sem invenções.\n\nDETECÇÃO DE INTENÇÃO (roteador)\nClassifique a última mensagem do usuário em exatamente UM tipo:\n1) EXECUTAR BUSCA — “quero captar”, “buscar leads”, “procure X em Y”\n2) ATUALIZAR/CONSULTAR CRM — “qual status?”, “muda para Qualificado”, “puxa da planilha”\n3) ENVIAR OUTREACH — “dispara e-mail/whats”, “contatar qualificados”\n4) MÉTRICAS/ESTRATÉGIA — “mostre números”, “overview”, “o que fazer agora”\n5) CONFIGURAÇÃO/ICP — “definir ICP”, “ajustar campos/status”\n6) LEGADO (explícito) — “use Busca Negocios Locais”\n\nABERTURAS POR INTENÇÃO (scripts curtos, 1 bloco, guiados)\n— EXECUTAR BUSCA\n“Vou abrir captação. Envie neste formato: Categoria: <texto> | Cidades/UF: <cidade/UF>; ... | Limite: <n>. Recebido → chamo buscar_oportunidades por cidade e sigo para CRM.”\n(Se dados completos já vierem, pule a coleta e execute direto.)\n\n— ATUALIZAR/CONSULTAR CRM\n“Entendido. Diga o identificador do lead (e-mail, domínio, telefone ou ID). Vou consultar no mcp-crm e atualizar status/notas conforme instrução.”\n(Se o usuário fornecer a mudança desejada, aplique crm.update após crm.search/get.)\n\n— ENVIAR OUTREACH\n“Posso disparar apenas para status ‘Qualificado’. Informe IDs ou filtro (categoria/cidade). Vou checar no mcp-crm, preparar mensagem personalizada e enviar via e-mail/WhatsApp.”\n(Nunca dispara sem validar status e contato válido.)\n\n— MÉTRICAS/ESTRATÉGIA\n“Vou puxar visão executiva: captados_por_cidade, qualificados, contatos_enviados, taxa_qualificação. Em seguida, recomendo 2–3 ações práticas.”\n(Se métrica não existir em sessão, ler do CRM ou reportar ausência.)\n\n— CONFIGURAÇÃO/ICP\n“Defina rapidamente ICP: segmento, ticket mínimo, região prioritária, trigger de dor. Eu salvo no CRM e uso nos próximos filtros.”\n\n— LEGADO\n“Usando Busca Negocios Locais conforme solicitado. Formato: ‘<categoria> em <cidade/UF> Brasil’ no parameters0_Value. Tudo mais segue no fluxo padrão.”\n\nCONTRATOS DE FERRAMENTAS (exatos)\n1) buscar_oportunidades\n   IN: { \"categoria\": \"<str>\", \"cidade\": \"<cidade/UF>\", \"limite\": <int> }\n2) mcp-crm\n   - crm.search { \"query\": { \"email\"|\"domain\"|\"phone\"|\"company\"|\"cidade\"|\"categoria\": \"...\" } }\n   - crm.get { \"id\": \"<id>\" }\n   - crm.update { \"id\": \"<id>\", \"data\": { \"status\": \"<Novo|Em Prospecção|Qualificado|Em Contato|Follow-up|Perdido|Ganho>\", \"owner\": \"...\", \"notes\": \"...\", \"last_outreach_at\": \"ISO8601\" } }\n3) email.send\n   IN: { \"to\", \"subject\", \"body_text\"|\"body_html\" }  | Pré-condição: status == \"Qualificado\"\n4) whatsapp.send\n   IN: { \"phone_e164\", \"message\" }                  | Pré-condição: status == \"Qualificado\"\n5) Busca Negocios Locais (legado, sob pedido)\n   IN: { \"parameters0_Value\": \"<categoria> em <cidade/UF> Brasil\" }\n\nFLUXOS OPERACIONAIS (por intenção)\n\n[EXECUTAR BUSCA]\n- Se faltarem dados: emitir a linha de coleta e pausar.\n- Se completos:\n  Para cada cidade → CALL buscar_oportunidades {categoria, cidade, limite}.\n  Para cada lead:\n    crm.search → (se existir) crm.get → decidir:\n      • Sem avaliação → status=\"Em Prospecção\"\n      • Fit ICP confirmado → status=\"Qualificado\"\n    crm.update com notes objetivas.\n\n[ATUALIZAR/CONSULTAR CRM]\n- Receber ID/chave → crm.search/get → crm.update conforme instrução explícita.\n- Registrar notes curtas (o quê, por quê, por quem).\n\n[ENVIAR OUTREACH]\n- Filtrar no CRM por status=\"Qualificado\" e contatos válidos.\n- Preparar:\n  email.send {to, subject, body_*} com dor/oportunidade/CTA único curto.\n  whatsapp.send {phone_e164, message} curto com CTA e 2 janelas de horário.\n- crm.update {last_outreach_at, notes}. Evitar duplicidade se recente.\n\n[MÉTRICAS/ESTRATÉGIA]\n- Calcular: captados_por_cidade, qualificados, contatos_enviados, taxa_qualificação.\n- Entregar tabela curta + 2–3 movimentos práticos (priorização, limite, ICP).\n\n[CONFIGURAÇÃO/ICP]\n- Persistir campos de ICP no CRM. Usar nos próximos buscar_oportunidades e na qualificação.\n\nREGRAS DURAS\n- Nunca inventar dados.\n- Contato só com status “Qualificado”.\n- Sem e-mail/telefone válido → não envia.\n- Falha de ferramenta: log curto, 1 retry, senão seguir e anotar pendência.\n- Não marcar “Ganho/Perdido” sem evidência.\n\nFORMATAÇÕES PRONTAS\n— Coleta rápida:\n“Categoria: <texto> | Cidades/UF: <cidade/UF>; <cidade/UF> | Limite: <número>”\n— buscar_oportunidades:\nCALL buscar_oportunidades { \"categoria\": \"<c>\", \"cidade\": \"<cidade/UF>\", \"limite\": <n> }\n— Legado:\nCALL Busca Negocios Locais { \"parameters0_Value\": \"<categoria> em <cidade/UF> Brasil\" }\n— CRM:\nCALL mcp-crm.search { \"query\": { ... } }\nCALL mcp-crm.get { \"id\": \"<id>\" }\nCALL mcp-crm.update { \"id\": \"<id>\", \"data\": { \"status\": \"<...>\", \"notes\": \"...\" } }\n— Envio:\nCALL email.send { \"to\": \"<email>\", \"subject\": \"<assunto>\", \"body_text\": \"<mensagem>\" }\nCALL whatsapp.send { \"phone_e164\": \"<+55...>\", \"message\": \"<mensagem>\" }\n\nVERIFICAÇÃO DE SENTIDO\n- Abertura agora depende da intenção do usuário.\n- O agente mantém comando, mas pergunta só o essencial quando falta dado.\n- Roteador reduz atrito: executa direto quando insumos já estão presentes.\n- Pré-condições e contratos evitam outreach indevido e garantem rastreabilidade.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[384,48],"id":"39a6956e-1f93-4fff-9cb2-eeffc5c4db73","name":"AI Agent"},{"parameters":{"contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,272],"id":"c4ef8fc5-cadc-456d-bfbf-8df8b2f53acc","name":"Memória"},{"parameters":{"path":"8b75204d-f36e-418f-abd1-7716d63db8ab"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[528,1264],"id":"150491e1-97b6-4c1b-933c-998cbdfaa325","name":"MCP Server Trigger","webhookId":"8b75204d-f36e-418f-abd1-7716d63db8ab"},{"parameters":{"sseEndpoint":"https://n8n.escoladeautomacao.com/mcp/8b75204d-f36e-418f-abd1-7716d63db8ab","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[672,272],"id":"58f04ab8-0542-45b7-b573-e1cb5f7df713","name":"mcp_crm"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit#gid=1185880254"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[32,1488],"id":"578276e1-288a-4601-9a44-13f6a2776161","name":"Get rows","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dckKLrq7_FEUu4CFgpx2lG-gYJvEyx7T4qSsceKk_gE/edit#gid=1185880254"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('row_number__using_to_match_', ``, 'number') }}","Data Contato":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data_Contato', ``, 'string') }}","Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link GMN","displayName":"Link GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa GMN","displayName":"Empresa GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atividades","displayName":"Atividades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone GMN","displayName":"Telefone GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone Site","displayName":"Telefone Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd Reviews","displayName":"Qtd Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Reviews","displayName":"Analise Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Geral IA","displayName":"Analise Geral IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Contato","displayName":"Data Contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[304,1488],"id":"cd6b7ef1-9d6e-444f-bc89-2d63b21300d9","name":"Update Row","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1040,672],"id":"19d9e301-60ac-4244-972c-6ad42a37d776","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dckKLrq7_FEUu4CFgpx2lG-gYJvEyx7T4qSsceKk_gE/edit#gid=1185880254"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Processar Lead').item.json.place_id }}","Categoria":"={{ $json.message.content.categoria || 'Não Identificado' }}","row_number":0,"Telefone Site":"={{ $json.message.content.telefones.celular_whatsapp || 'Não Identificado'}}","Email":"={{ $json.message.content.email || 'Não Identificado' }}","CNPJ":"={{ $json.message.content.cnpj || 'Não Identificado' }}","Instagram":"={{ $json.message.content.instagram || 'Não Identificado' }}","Atividades":"={{ $json.message.content.atividades_empresa || 'Não Identificado' }}","Analise Geral IA":"={{ $json.message.content.resumo_analitico || 'Não Identificado' }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link GMN","displayName":"Link GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa GMN","displayName":"Empresa GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atividades","displayName":"Atividades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone GMN","displayName":"Telefone GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone Site","displayName":"Telefone Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd Reviews","displayName":"Qtd Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Reviews","displayName":"Analise Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Geral IA","displayName":"Analise Geral IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Próxima Ação","displayName":"Próxima Ação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Contato","displayName":"Data Contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Update Lead","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[3168,688],"id":"cb79ab7a-0d87-4ee8-9733-ba0eaa09547b","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e3b2a4-7b1a-4b2c-8d3e-4f5g6h7i8j9k","leftValue":"={{ $('Processar Lead').item.json.textos_avaliacoes }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Tem Avaliações?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2384,912],"id":"5f938e4b-edd1-40cb-a4d6-85f74cf588be"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=AVALIAÇÕES:\n{{ $('Processar Lead').item.json.textos_avaliacoes }}"},{"content":"=Você é um especialista em síntese de avaliações do Google Places para outbound B2B.\n\nEntrada: `reviews` apenas com textos (strings). Use exclusivamente esse conteúdo.\n\nObjetivos:\n1) Extrair temas positivos e negativos recorrentes.\n2) Resumir a percepção geral.\n3) Detectar oportunidades comerciais acionáveis (ex.: demora/filas → agente de triagem; falta de resposta → agente de reputação; dúvidas repetidas → agente de FAQ; agendamentos confusos → agente de booking).\n4) Sugerir próximo passo de SDR em 1 frase, se houver oportunidade.\n\nPolíticas:\n- Sem invenções; cite evidências por índice do array e trecho curto.\n- Se dados forem insuficientes, declarar explicitamente.\n- Output ≤ 200 tokens; frases curtas; sem redundância.\n- Máx. 3 itens por lista.\n- Português; tom técnico e direto.\n\nFormato JSON obrigatório:\n{\n  \"resumo\": \"≤30 palavras\",\n  \"pontos_positivos\": \"≤5 palavras ou 'Nenhum identificado'\",\n  \"pontos_negativos\": \"≤5 palavras ou 'Nenhum identificado'\",\n  \"percepcao_geral\": \"≤20 palavras\",\n  \"oportunidade_oculta\": \"texto breve ou 'Nenhuma identificada'\",\n  \"proximo_passo_sdr\": \"texto breve ou ''\",\n  \"evidencias\": [{\"index\": <int>, \"quote\": \"≤12 palavras\"}],\n  \"metricas\": {\n    \"n_avaliacoes\": <int>,\n    \"linguas_detectadas\": [\"pt\", \"en\", \"...\"]\n  },\n  \"confianca\": 0.0-1.0\n}\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2624,896],"id":"88cf680f-4aa3-4fc1-9d3d-626b8130f9cf","name":"Analise Reviews","credentials":{"openAiApi":{"id":"wX5w2fxZDN4WVLRZ","name":"OpenAi_Key"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.data?.html || 'Não foi possível extrair o conteúdo do site.' }}"},{"content":"=Você é um especialista em extrair dados comerciais e identificar oportunidades de uso de IA em empresas. Analise o conteúdo fornecido.\n\nRetorne APENAS um JSON válido com esta estrutura:\n\n{\n  \"email\": string,\n  \"instagram\": string,  // coloque o instagram com @. Exemplo: @fulanodetal\n  \"telefones\": {\n    \"celular_whatsapp\": string,  // DDI+DDD+WhatsApp se existir. Exemplo: 5511900000000\n    \"telefone_fixo\": string,\n    \"outros\": string\n  },\n  \"categoria\": string,\n  \"cnpj\": string,\n  \"atividades_empresa\": string,\n  \"resumo_analitico\": string\n}\n\nINSTRUÇÕES ESPECÍFICAS:\n\n1. EMAIL, INSTAGRAM, TELEFONES, CNPJ, ATIVIDADES_EMPRESA:\n   - Mesmas regras anteriores (email principal, @perfil, WhatsApp prioritário, etc.)\n\n2. RESUMO_ANALITICO (NOVA ABORDAGEM):\n   - 3-4 frases estruturadas em: NEGÓCIO + OPERAÇÃO + OPORTUNIDADES\n   - Identifique sinais de possiveis oportunidades\n   - Foque em pontos de dor operacionais (não deduza)\n   - Sugira oportunidades específicas baseadas no que viu","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2832,512],"id":"eca780a1-f75e-4501-a68d-b2da5aba103e","name":"Analise Site","credentials":{"openAiApi":{"id":"wX5w2fxZDN4WVLRZ","name":"OpenAi_Key"}}},{"parameters":{"assignments":{"assignments":[{"id":"60e14bd3-deaa-4359-b21d-56b383c1ca64","name":"Analise Reviews","value":"=Resumo: {{ $json.message.content.resumo }}\n\nPontos positivos: {{ $json.message.content.pontos_positivos || 'Nenhum identificado' }}\n\nPontos nevativos: {{ $json.message.content.pontos_negativos || 'Nenhum identificado' }}\n\nPercepção geral: {{ $json.message.content.percepcao_geral }}\n\nOportunidade oculta: {{ $json.message.content.oportunidade_oculta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2992,896],"id":"3e069e75-fcaa-479b-8469-39d137530a5b","name":"SetResumo"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Processar Lead').item.json.empresa }} \n{{ $('Processar Lead').item.json.textos_avaliacoes }}"},{"content":"=Você é um especialista em extrair dados comerciais e identificar possiveis oportunidades de implementação de agentes de IA em empresas. Analise o conteúdo e extraia as informações solicitadas.\n\nRetorne APENAS um JSON válido com esta estrutura:\n\n{\n  \"email\": string,\n  \"instagram\": string, (coloque o instagram com o @. Exemplo: @fulanodetal)\n  \"telefones\": {\n    \"celular_whatsapp\": string, (se existir DDI DDD e Whatsapp. Exemplo: 5511900000000)\n    \"telefone_fixo\": string,\n    \"outros\": string\n  },\n  \"categoria\": string,\n  \"cnpj\": string,\n  \"atividades_empresa\": string,\n  \"resumo_analitico\": string\n}\n\nINSTRUÇÕES ESPECÍFICAS:\n\n1. EMAIL, INSTAGRAM, TELEFONES, CNPJ, ATIVIDADES_EMPRESA:\n   - Mesmas regras anteriores (email principal, @perfil, WhatsApp prioritário, etc.)\n\n2. RESUMO_ANALITICO (NOVA ABORDAGEM):\n   - 3-4 frases estruturadas em: NEGÓCIO + OPERAÇÃO + OPORTUNIDADES\n   - Identifique sinais de possiveis oportunidades\n   - Foque em pontos de dor operacionais (não deduza)\n   - Sugira oportunidades específicas baseadas no que viu","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2624,688],"id":"cf48aa91-856c-44bb-a858-05975c77182b","name":"Analise GMN","credentials":{"openAiApi":{"id":"wX5w2fxZDN4WVLRZ","name":"OpenAi_Key"}}},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyCPGjgTx32mQDqoBY_2JekpYGVIDOKzY3Q"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.formattedAddress,places.location"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.categoria }} in {{ $json.cidade }}"},{"name":"pageSize","value":"={{ $json.limite }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,672],"id":"64984298-92ac-4954-8530-8176dcd531c2","name":"Buscar Negócios"},{"parameters":{"fieldToSplitOut":"places","options":{}},"name":"Separar","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[816,672],"id":"d233e690-6f96-4f49-8963-591c83c72939"},{"parameters":{"documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254\n\n","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dckKLrq7_FEUu4CFgpx2lG-gYJvEyx7T4qSsceKk_gE/edit#gid=1185880254"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.id }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","firstDataRow":5}}}},"name":"Verificar Lead Existente","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1312,688],"id":"4b7470b4-3210-4378-8f79-278bb521ac87","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"c0e3b2a4-7b1a-4b2c-8d3e-4f5g6h7i8j9k","leftValue":"={{ $json.ID }}","rightValue":"=1","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"name":"Lead Novo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1536,688],"id":"ac526632-f024-4d58-a853-cf44ceadbf2c"},{"parameters":{"url":"=https://places.googleapis.com/v1/places/{{ $('Loop Over Items').item.json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyCPGjgTx32mQDqoBY_2JekpYGVIDOKzY3Q"},{"name":"languageCode","value":"pt-BR"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"id,displayName,formattedAddress,location,websiteUri,nationalPhoneNumber,rating,userRatingCount,regularOpeningHours,photos,reviews,googleMapsUri,reservable,internationalPhoneNumber"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,672],"id":"1d80daaa-5d56-4548-83e6-b6b0adfb909b","name":"Detalhes Negocio"},{"parameters":{"jsCode":"// Processar dados da empresa e determinar qualidade\nconst data = $input.item.json;\n\n// --------- Configurações internas (sem depender de outro nó) ---------\n// Ajuste aqui os critérios-padrão:\nconst DEFAULT_RATING_MIN = 4.0;\nconst DEFAULT_REVIEWS_MIN = 20;\n\n// (Opcional) permitir override via próprio item de entrada:\n// Ex.: envie rating_min / reviews_min dentro do mesmo JSON\nconst RATING_MIN = Number.isFinite(data.rating_min) ? Number(data.rating_min) : DEFAULT_RATING_MIN;\nconst REVIEWS_MIN = Number.isFinite(data.reviews_min) ? Number(data.reviews_min) : DEFAULT_REVIEWS_MIN;\n// ---------------------------------------------------------------------\n\n// Calcular ID único\nconst leadId = String(data.id || '').substring(0, 8);\n\n// Determinar status inicial baseado em critérios\nlet status = 'Novo';\nlet qualidadeSite = 'Sem Site';\nlet proximaAcao = 'Buscar Dados';\n\n// Verificar se tem website\nif (data.websiteUri) {\n  proximaAcao = 'Analisar Oportunidade';\n  qualidadeSite = 'Com Site';\n}\n\n// Qualificar automaticamente se atende critérios das configurações internas\nif ((data.rating || 0) >= RATING_MIN && (data.userRatingCount || 0) >= REVIEWS_MIN) {\n  status = 'Qualificado';\n}\n\n// Determinar se tem email (será preenchido depois)\nconst temEmail = 'Buscar Dados';\n\n// Extrair nome da empresa do displayName\nconst nomeEmpresa = data.displayName?.text || 'N/A';\n\n// Extrair telefone (usar nationalPhoneNumber se disponível, senão internationalPhoneNumber)\nconst telefone = data.nationalPhoneNumber || data.internationalPhoneNumber || '';\n\n// Extrair endereço completo (sem separar cidade)\nconst enderecoCompleto = data.formattedAddress || '';\n\n// Extrair nota e quantidade de avaliações separadamente\nconst notaAvaliacao = data.rating || 0;\nconst quantidadeAvaliacoes = data.userRatingCount || 0;\n\n// Extrair TODAS as avaliações disponíveis (não limitar a 3)\nlet textosAvaliacoes = '';\nif (Array.isArray(data.reviews)) {\n  textosAvaliacoes = data.reviews\n    .map(review => {\n      const autor = review.authorAttribution?.displayName || 'Anônimo';\n      const nota = review.rating || 0;\n      const texto = review.text?.text || review.originalText?.text || '';\n      const tempo = review.relativePublishTimeDescription || '';\n      return `[${autor} - ${nota}★ - ${tempo}]: ${texto}`;\n    })\n    .join('\\n\\n');\n}\n\n// Extrair horário de funcionamento\nlet horarioFuncionamento = '';\nif (Array.isArray(data.regularOpeningHours?.weekdayDescriptions)) {\n  horarioFuncionamento = data.regularOpeningHours.weekdayDescriptions.join(', ');\n}\n\n// Determinar categoria (primaryType se disponível)\nconst categoria = data.primaryType || data.types?.[0] || 'Negócio Local';\n\n// Criar observações mais detalhadas\nconst observacoes = [\n  `Rating: ${notaAvaliacao} (${quantidadeAvaliacoes} avaliações)`,\n  enderecoCompleto ? `Endereço: ${enderecoCompleto}` : '',\n  horarioFuncionamento ? `Horário: ${horarioFuncionamento}` : '',\n  data.websiteUri ? `Site: ${data.websiteUri}` : '',\n  data.googleMapsUri ? `Maps: ${data.googleMapsUri}` : ''\n].filter(Boolean).join(' | ');\n\nreturn {\n  id: leadId,\n  empresa: nomeEmpresa,\n  categoria: categoria,\n  telefone: telefone,\n  endereco_completo: enderecoCompleto,\n  website: data.websiteUri || '',\n  status: status,\n  tem_email: temEmail,\n  qualidade_site: qualidadeSite,\n  proxima_acao: proximaAcao,\n  responsavel: '',\n  data_contato: '',\n  nota_avaliacao: notaAvaliacao,\n  quantidade_avaliacoes: quantidadeAvaliacoes,\n  textos_avaliacoes: textosAvaliacoes,\n  horario_funcionamento: horarioFuncionamento,\n  observacoes: observacoes,\n  place_id: data.id || '',\n  google_maps_uri: data.googleMapsUri || '',\n  // Expor critérios usados (útil para auditoria)\n  criterios: { RATING_MIN, REVIEWS_MIN }\n};\n"},"name":"Processar Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,672],"id":"dd2abcd1-eedf-4582-8b22-451ba90ef6bd"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dckKLrq7_FEUu4CFgpx2lG-gYJvEyx7T4qSsceKk_gE/edit#gid=1185880254"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.place_id }}","Website":"={{ $json.website || 'Não Identificado'}}","Status":"=Novo","Empresa GMN":"={{ $json.empresa }}","Telefone GMN":"={{ $json.telefone  || 'Não Identificado'}}","Link GMN":"={{ $json.google_maps_uri }}","Endereço":"={{ $json.endereco_completo }}","Qtd Reviews":"={{ $json.quantidade_avaliacoes }}","Nota":"={{ $json.nota_avaliacao }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link GMN","displayName":"Link GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa GMN","displayName":"Empresa GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atividades","displayName":"Atividades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone GMN","displayName":"Telefone GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone Site","displayName":"Telefone Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd Reviews","displayName":"Qtd Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Reviews","displayName":"Analise Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Geral IA","displayName":"Analise Geral IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Contato","displayName":"Data Contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Adicionar Lead","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2192,672],"id":"5e0281f3-34dd-4f3c-900f-af478d19a431","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e3b2a4-7b1a-4b2c-8d3e-4f5g6h7i8j9k","leftValue":"={{ $('Processar Lead').item.json.website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3774c31d-ebd9-47c6-a09a-0c6f59997b10","leftValue":"={{ $json.Website }}","rightValue":"=facebook","operator":{"type":"string","operation":"notContains"}},{"id":"be7a803d-77d5-40be-abc0-70829e0b7115","leftValue":"={{ $json.Website }}","rightValue":"instagram","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"name":"Tem Site?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2384,672],"id":"2eafba4e-f0f0-4e24-adbd-4877d7e5d35e"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dckKLrq7_FEUu4CFgpx2lG-gYJvEyx7T4qSsceKk_gE/edit#gid=1185880254"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Processar Lead').item.json.place_id }}","row_number":0,"Analise Reviews":"={{ $json[\"Analise Reviews\"] }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link GMN","displayName":"Link GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa GMN","displayName":"Empresa GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atividades","displayName":"Atividades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone GMN","displayName":"Telefone GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone Site","displayName":"Telefone Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd Reviews","displayName":"Qtd Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Reviews","displayName":"Analise Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Geral IA","displayName":"Analise Geral IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Próxima Ação","displayName":"Próxima Ação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Contato","displayName":"Data Contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Update Review","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[3168,896],"id":"074846d9-d62a-44d5-9831-15720c08aabf","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0574544bfd4045aea7adb68ef5dcba98"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Processar Lead').item.json.website ? ($('Processar Lead').item.json.website.startsWith('http') ? $('Processar Lead').item.json.website : 'https://' + $('Processar Lead').item.json.website) : '' }}\",\n  \"onlyMainContent\": false,\n  \"maxAge\": 172800000,\n  \"parsers\": [\"pdf\"],\n  \"formats\": [\"html\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,512],"id":"7695d3e9-09bc-4bf7-95ef-466db6b52fd4","name":"Scrap-Site","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1312,512],"id":"ac9a2bde-cd32-4ed4-b81c-8ea8c48f2652","name":"No Operation"},{"parameters":{"assignments":{"assignments":[{"id":"f5525c97-171e-44a8-9784-128713fbaf18","name":"API Places","value":"AIzaSyCPGjgTx32mQDqoBY_2JekpYGVIDOKzY3Q","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,672],"id":"bae421cf-58d6-404c-ae2e-c24b67b59831","name":"Configs"},{"parameters":{"workflowInputs":{"values":[{"name":"categoria"},{"name":"cidade"},{"name":"limite"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,672],"id":"774f68a3-b3fd-4a55-b4f3-e3bfe94a8460","name":"When Executed by Another Workflow"},{"parameters":{"description":"Acionar essa Tool para encontrar oportunidades de negócios","workflowId":{"__rl":true,"value":"3e7O90Nc9R7G7NEw","mode":"id","cachedResultUrl":"/workflow/3e7O90Nc9R7G7NEw"},"workflowInputs":{"mappingMode":"defineBelow","value":{"categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', ``, 'string') }}","cidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}","limite":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limite', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"limite","displayName":"limite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[512,272],"id":"7f3645fb-3de9-4255-a889-631c6ddea76e","name":"buscar_negocios"},{"parameters":{"content":"## -- IA Agent","height":416,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"e6ec75f6-f87d-424d-9aa3-c0ba7dfca5c6","name":"Sticky Note"},{"parameters":{"content":"## -- Fluxo Outbound","height":672,"width":3440,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,480],"typeVersion":1,"id":"d745c33c-b3bf-4b23-aadf-165c464a085f","name":"Sticky Note1"},{"parameters":{"content":"## -- MCP Server","height":432,"width":784,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,1216],"typeVersion":1,"id":"0a044c0f-af26-48f7-a542-572b4e812962","name":"Sticky Note2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dckKLrq7_FEUu4CFgpx2lG-gYJvEyx7T4qSsceKk_gE/edit#gid=1185880254"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('row_number__using_to_match_', ``, 'number') }}","Data Contato":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data_Contato', ``, 'string') }}","Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link GMN","displayName":"Link GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa GMN","displayName":"Empresa GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atividades","displayName":"Atividades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone GMN","displayName":"Telefone GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone Site","displayName":"Telefone Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd Reviews","displayName":"Qtd Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Reviews","displayName":"Analise Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analise Geral IA","displayName":"Analise Geral IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Contato","displayName":"Data Contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[160,1488],"id":"14055bde-c07f-4876-a7a0-73b9e0ab5e16","name":"Add Row","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[448,1488],"id":"e470c95f-baa2-4178-9730-998de1c138ff","name":"Send Email","webhookId":"0637ca5b-6a3e-4061-afca-d43656f7bdf3","credentials":{"gmailOAuth2":{"id":"AAvoHJe4y1pn8l2R","name":"Gmail account"}}},{"parameters":{"method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[608,1488],"id":"78cf5c84-3acf-46bf-9a5e-3f358ceddc5c","name":"Evo: Send Messsage"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[176,272],"id":"7da35180-6e3d-4fe8-b34b-6a266f3e5210","name":"GPT4.1","credentials":{"openAiApi":{"id":"wX5w2fxZDN4WVLRZ","name":"OpenAi_Key"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Memória":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"mcp_crm":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get rows":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Update Row":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation","type":"main","index":0}],[{"node":"Verificar Lead Existente","type":"main","index":0}]]},"Update Lead":{"main":[[{"node":"Tem Avaliações?","type":"main","index":0}]]},"Tem Avaliações?":{"main":[[{"node":"Analise Reviews","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Analise Reviews":{"main":[[{"node":"SetResumo","type":"main","index":0}]]},"Analise Site":{"main":[[{"node":"Update Lead","type":"main","index":0}]]},"SetResumo":{"main":[[{"node":"Update Review","type":"main","index":0}]]},"Analise GMN":{"main":[[{"node":"Update Lead","type":"main","index":0}]]},"Buscar Negócios":{"main":[[{"node":"Separar","type":"main","index":0}]]},"Separar":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Verificar Lead Existente":{"main":[[{"node":"Lead Novo?","type":"main","index":0}]]},"Lead Novo?":{"main":[[{"node":"Detalhes Negocio","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Detalhes Negocio":{"main":[[{"node":"Processar Lead","type":"main","index":0}]]},"Processar Lead":{"main":[[{"node":"Adicionar Lead","type":"main","index":0}]]},"Adicionar Lead":{"main":[[{"node":"Tem Site?","type":"main","index":0}]]},"Tem Site?":{"main":[[{"node":"Scrap-Site","type":"main","index":0}],[{"node":"Analise GMN","type":"main","index":0}]]},"Update Review":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Scrap-Site":{"main":[[{"node":"Analise Site","type":"main","index":0}]]},"Configs":{"main":[[{"node":"Buscar Negócios","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Configs","type":"main","index":0}]]},"buscar_negocios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Add Row":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Send Email":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Evo: Send Messsage":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"GPT4.1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"sessionId":"9cbea9bab9634b6db32c519f0c69d091","action":"sendMessage","chatInput":"buscar clinica de estetica em Campinas/SP"}}]},"versionId":"7ee69a13-f76a-43a5-aa16-491d85c41e9a","triggerCount":2,"shared":[{"updatedAt":"2025-10-05T02:07:16.261Z","createdAt":"2025-10-05T02:07:16.261Z","role":"workflow:owner","workflowId":"3e7O90Nc9R7G7NEw","projectId":"G56NELttT2pGfqmo"}],"tags":[]}