agenteclinica-NZnXwq3xlJ4GCX9J.json
{"updatedAt":"2025-12-17T22:24:03.000Z","createdAt":"2025-09-22T23:14:45.825Z","id":"NZnXwq3xlJ4GCX9J","name":"AgenteClinica","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente_clinica","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,-16],"id":"ce9bd989-0c19-4943-a8c7-6d55584ae66d","name":"Webhook","webhookId":"cfee5c42-a357-4c29-a3da-bd56c16d4aa8"},{"parameters":{"assignments":{"assignments":[{"id":"b99347a6-c276-4a5d-bfb0-3b1c77ef3123","name":"telefone","value":"={{ $json.body?.data?.key?.senderPn ?? $json.body?.data?.key?.remoteJid?.split('@')[0] }}","type":"string"},{"id":"67e3c967-69bb-4efd-b908-ffde7ab3cce8","name":"tipo_mensagem","value":"={{ $json.body.data.messageType ?? 'Desconhecido' }}","type":"string"},{"id":"d37f0855-66b4-4ec5-9398-ec87a57a3f90","name":"mensagem_usuario","value":"={{\n  $json.body.data.message.conversation ??\n  $json.body.data.message.audioMessage?.url ??\n  $json.body.data.message.imageMessage?.url ??\n  'Sem mensagem'\n}}","type":"string"},{"id":"bcacf8dd-1df1-476d-892c-169e40858a54","name":"mensagem_image","value":"={{ $json.body.data.message.imageMessage?.url ?? 'Sem imagem' }}","type":"string"},{"id":"5370abd1-6cb3-4fc2-95e2-d2cadecef635","name":"mensagem_audio","value":"={{ $json.body?.data?.message?.audioMessage?.url ?? '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-16],"id":"4495f36b-a9ea-4488-8f6e-ca37be6deaa3","name":"Organizando dados","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cc77167a-cded-4084-861b-8d64b8eb872a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a484e94-8640-40f8-9800-69648d4d7e85","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"269410c4-e415-4728-a09b-0082e4b3eae6","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,-32],"id":"c53b3029-7456-45b1-9483-5aabca520603","name":"Switch"},{"parameters":{"promptType":"define","text":"=O usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.mensagem_usuario}}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\nResponda APENAS com o texto que deve ser enviado ao paciente,\nseguindo todas as regras do System Message.\n\nEscreva apenas a resposta natural, como uma pessoa falando no WhatsApp.\n\nSiga as regras do System Message. ","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n### FUNÇÃO\nVocê é um agente da clínica odontológica Sorriso Perfeito.\nSua função é conversar com o paciente e ajudar a agendar consultas, esclarecer dúvidas básicas e coletar informações necessárias sempre respondendo apenas em texto natural, sem criar JSON, objetos, listas de programação ou campos estruturados.\n\n### OBJETIVO\nColetar:\n- Nome completo\n- Telefone: {{ $json.telefone }}\n- Email\n- Data e Hora escolhido\n- Serviço desejado (consulta, retorno, urgência)\n\nSempre confirme os dados antes de finalizar.\n\n### ESTILO\n- Seja Educado, Gentil Amigável, Acolhedor, claro e positivo.\n- Personalizar com o nome do paciente.\n- Para urgências, fornecer contato direto da clínica.\n- Nunca fornecer diagnósticos ou valores exatos; apenas aproximados ou informar que serão confirmados na clínica.\n\n### SERVIÇOS\n- Urgência/Dor: dor, trauma, sangramento, inchaço.\n- Prevenção: limpeza, check-up, flúor.\n- Estética: clareamento, facetas, restauração.\n- Tratamentos Gerais: obturação, canal, extração.\n- Ortodontia: aparelho fixo/móvel, alinhadores.\n- Próteses: coroas, pontes, implantes.\n- Odontopediatria: acompanhamento infantil.\n- Outros: convênios, orçamento, retorno.\n\n### FERRAMENTAS\n- #Listar: verificar horários disponíveis.\n- #Agendar: só usar após confirmar todos os dados.\n- #Reagendar / #Cancelar: confirmar com paciente antes de alterar.\n\n#Listar\nDescrição: Você pode listar todas as consultas desse paciente agendadas. Portanto, se o horário não estiver listado ele estará disponível. Se o usuário pedir a lista, cheque antes e depois envie os horarios disponíveis. Lembre-se que as consultas são de hora em hora.\nExemplo: 10h, 11h, 12h...\n\n#Agendar\nDescrição: você agendará uma consulta. É essencial verificar a disponibilidade na ferramenta #Listar antes de agendar e incluir no evento da agenda o email do usuario como convidado de forma que ele receba o agendamento no email.\nEntradas necessarias: Horário do cliente, Nome do Cliente, Email do cliente.\n\n#Reagendar\nDescrição: você reagendará uma consulta existente, alterando sua data e horário. Você precisa do ID da consulta, antes de reagendar consulte a a ferramenta #Listar para obter o ID da consulta.\nEntrada necessaria: ID da consulta.\n\n#Cancelar\nDescrição: você cancelará uma consulta existente. Você precisa do ID da consulta, antes de cancelar consulte a a ferramenta #Listar para obter o ID da consulta.\nEntrada necessaria: ID da consulta.\n\n### REGRAS\n- Nunca dê diagnosticos.\n- Se já tiver alguma consulta marcada no horário desejado pelo cliente, ofereça outro horário, informe o cleinte que não está disponível.\n- Se o cliente já tiver uma consulta, informe que ele já tem uma consulta e poderá apenas reagendar ou cancelar para agendar uma nova.\n- Se perguntarem de algo clinico, diga:\n\"Apenas o Dr. ou Dra poderá responder essa sua pergunta\"\n- Se houver erro ou informação faltando, pergunte ao paciente de forma natural.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1808,-48],"id":"7f561a2b-1dc9-45ad-9c69-4d262ae16138","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Organizando dados').item.json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1648,240],"id":"56e1d7be-81b3-4354-b023-61e9c13912da","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Zs7WcxE92Q90lOWY","name":"Postgres account"}}},{"parameters":{"calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `horário desejado`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `horário desejado + 1 hora`, 'string') }}","useDefaultReminders":false,"additionalFields":{"attendees":[]}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1808,224],"id":"35f67e4c-de59-40e2-856f-3b46ff4d43cd","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `horário desejado`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `horário desejado + 1 hora`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2144,224],"id":"f17135e7-85ed-4fe0-9287-03c0e2f9b114","name":"Listar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1920,224],"id":"fcc9a34a-6d9d-41cc-9f92-5050cb5071d0","name":"Reagendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2032,224],"id":"dbb5ab45-1890-4e40-ac4f-9eb9c1bac2f5","name":"Cancelar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"resource":"messages-api","instanceName":"=Teste_Agendamento","remoteJid":"={{ $('Organizando dados').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2608,-48],"id":"5cbb0cf2-1c43-49c0-ac04-3932edf37c26","name":"Enviar texto","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[736,16],"id":"f27e92ec-f6c9-42a4-80d9-abfeb8951960","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,16],"id":"5f8d19d9-4125-44ce-b525-0fcd116ae437","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1504,240],"id":"f7f95ddd-77c9-4ed4-98ec-4b335552471e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c7a7f70-722f-4cb8-a73d-983c82312609","name":"mensagem_usuario","value":"={{ $if($(\"Transcribe a recording\").isExecuted, $(\"Transcribe a recording\").last().json.text, \"\") }}","type":"string"},{"id":"3b2ae610-320c-4603-9665-6015441bc9c7","name":"mensagem_image","value":"={{ $if($(\"Analyze image\").isExecuted, $(\"Analyze image\").last().json.content, \"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,128],"id":"25aa50db-a69d-4bb6-8052-3db3453ffe7a","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[720,208],"id":"e499de76-4915-48d1-b3aa-b6e536ab1454","name":"Convert to File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Aqui está uma imagem enviada pelo usuário. Descreva detalhadamente a imagem e qualquer texto visível.\nColoque o máximo de detalhes.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,208],"id":"549fd843-ec74-4f77-939e-6618e9b8cf0a","name":"Analyze image","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,16],"id":"7a1c0508-60a8-4945-a158-966914fb63b7","name":"Audio","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,208],"id":"20da0118-8083-4010-a3f9-a34b8fe65b5a","name":"imagem","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"content":"Inicio Chat e tratamento dos dados","height":544,"width":688,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-208],"id":"2620352d-1244-45f7-9f29-b1bc5e9e3f2b","name":"Sticky Note"},{"parameters":{"content":"Fluxo de mensagem\n\n. Audio\n.Imagem","height":608,"width":928,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,-208],"id":"bac06612-e7b3-42c7-9bdb-ba68576cf2b3","name":"Sticky Note1"},{"parameters":{"content":"Agente Principal\n\n.Agendamentos\n.Listagem eventos\n.Reagendamentos\n.Cancelamentos","height":608,"width":1024,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,-208],"id":"6d737b56-5db9-4ad1-93ca-5fc670931551","name":"Sticky Note2"},{"parameters":{"content":"Envio de mensagens","height":288,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2496,-144],"id":"be808088-eac7-448d-824e-2296e40c2439","name":"Sticky Note3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2256,224],"id":"365dc223-47f7-4ca0-ab85-79282874aecb","name":"Think"}],"connections":{"Webhook":{"main":[[{"node":"Organizando dados","type":"main","index":0}]]},"Organizando dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Audio","type":"main","index":0}],[{"node":"imagem","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Listar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Reagendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cancelar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"imagem":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"034d044d-7fa7-4b04-81f0-295ed0c09dbf","triggerCount":1,"shared":[{"updatedAt":"2025-09-22T23:14:45.835Z","createdAt":"2025-09-22T23:14:45.835Z","role":"workflow:owner","workflowId":"NZnXwq3xlJ4GCX9J","projectId":"G56NELttT2pGfqmo"}],"tags":[]}