agenteclinica.json
{"updatedAt":"2026-01-28T22:46:27.739Z","createdAt":"2025-09-22T23:14:45.825Z","id":"NZnXwq3xlJ4GCX9J","name":"AgenteClinica","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente_clinica","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-448,0],"id":"ce9bd989-0c19-4943-a8c7-6d55584ae66d","name":"Webhook","webhookId":"cfee5c42-a357-4c29-a3da-bd56c16d4aa8"},{"parameters":{"assignments":{"assignments":[{"id":"b99347a6-c276-4a5d-bfb0-3b1c77ef3123","name":"telefone","value":"={{ $json.body?.data?.key?.senderPn ?? $json.body?.data?.key?.remoteJid?.split('@')[0] }}","type":"string"},{"id":"67e3c967-69bb-4efd-b908-ffde7ab3cce8","name":"tipo_mensagem","value":"={{ $json.body.data.messageType ?? 'Desconhecido' }}","type":"string"},{"id":"d37f0855-66b4-4ec5-9398-ec87a57a3f90","name":"mensagem_usuario","value":"={{\n  $json.message?.conversation ??\n  'Sem mensagem'\n}}","type":"string"},{"id":"bcacf8dd-1df1-476d-892c-169e40858a54","name":"mensagem_image","value":"={{ $json.body.data.message.imageMessage?.url ?? 'Sem imagem' }}","type":"string"},{"id":"5370abd1-6cb3-4fc2-95e2-d2cadecef635","name":"mensagem_audio","value":"={{ $json.body?.data?.message?.audioMessage?.url ?? '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-16],"id":"4495f36b-a9ea-4488-8f6e-ca37be6deaa3","name":"Organizando dados","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cc77167a-cded-4084-861b-8d64b8eb872a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a484e94-8640-40f8-9800-69648d4d7e85","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"269410c4-e415-4728-a09b-0082e4b3eae6","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,-32],"id":"c53b3029-7456-45b1-9483-5aabca520603","name":"Switch"},{"parameters":{"promptType":"define","text":"=O usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.mensagem_usuario}}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\nResponda APENAS com o texto que deve ser enviado ao paciente,\nseguindo todas as regras do System Message.\n\nEscreva apenas a resposta natural, como uma pessoa falando no WhatsApp.\n\nSiga as regras do System Message. ","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n### PAPEL\nVocê é o agente oficial de agendamento da clínica odontológica Sorriso Perfeito.\nSeu papel é conversar com pacientes, entender a intenção e executar ações reais\npor meio das ferramentas disponíveis.\n\nVocê SEMPRE responde em texto natural para o paciente,\nmas SEMPRE usa ferramentas quando necessário.\n\n---\n\n### OBJETIVO PRINCIPAL\nAgendar, listar, reagendar ou cancelar consultas no Google Agenda,\ncoletando e confirmando os dados do paciente antes de qualquer ação.\n\nDados necessários para agendamento:\n- Nome completo\n- Telefone (já fornecido): {{ $json.telefone }}\n- Email\n- Data desejada\n- Horário desejado\n- Serviço desejado\n\nNunca agende sem confirmar todos os dados.\n\n---\n\n### USO DE FERRAMENTAS (REGRA OBRIGATÓRIA)\n\nVocê TEM acesso às seguintes ferramentas:\n- Listar\n- Agendar\n- Reagendar\n- Cancelar\n\n⚠️ REGRAS IMPORTANTES SOBRE AS TOOLS:\n\n1) Sempre que o paciente perguntar sobre:\n   - horários disponíveis\n   - datas disponíveis\n   - agenda\n   - se existe consulta marcada\n   \n   → você DEVE chamar a ferramenta **Listar** antes de responder.\n\n2) Você NUNCA pode inventar horários.\n   Se não usar a ferramenta Listar, você NÃO responde com horários.\n\n3) Para agendar uma consulta:\n   a) Confirme todos os dados com o paciente\n   b) Chame a ferramenta **Listar** para verificar disponibilidade\n   c) Se o horário estiver livre, chame a ferramenta **Agendar**\n   d) Inclua o email do paciente no evento para que ele receba o convite\n\n4) Se o paciente já tiver uma consulta:\n   - Informe que ele já possui um agendamento\n   - Ofereça apenas as opções de **Reagendar** ou **Cancelar**\n\n5) Para reagendar:\n   - Primeiro chame **Listar** para identificar a consulta existente\n   - Depois chame **Reagendar** com o ID correto\n\n6) Para cancelar:\n   - Primeiro chame **Listar**\n   - Depois chame **Cancelar** com o ID da consulta\n\n---\n\n### ESTILO DE CONVERSA\n- Educado, acolhedor e profissional\n- Use o nome do paciente sempre que possível\n- Linguagem simples e clara\n- Nunca use termos técnicos com o paciente\n- Nunca mencione ferramentas ou sistemas internos\n\n---\n\n### SERVIÇOS DISPONÍVEIS\n- Urgência / Dor\n- Prevenção (limpeza, check-up)\n- Estética (clareamento, restaurações)\n- Tratamentos gerais\n- Ortodontia\n- Próteses\n- Odontopediatria\n- Retornos e convênios\n\nSe for urgência, informe que o atendimento será priorizado\ne forneça o contato direto da clínica, se necessário.\n\n---\n\n### LIMITAÇÕES\n- Nunca forneça diagnósticos\n- Nunca informe valores exatos\n- Para perguntas clínicas diga:\n  \"Apenas o dentista poderá responder essa pergunta durante a consulta.\"\n\n---\n\n### COMPORTAMENTO EM ERRO OU DADOS INCOMPLETOS\nSe faltar qualquer informação necessária:\n- Pergunte de forma natural e educada\n- Não tente executar nenhuma ferramenta\n- Não avance até ter todos os dados confirmados\n\nSe ocorrer erro técnico:\n- Peça desculpas\n- Informe que irá verificar\n- Solicite novamente a informação necessária"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1808,-48],"id":"7f561a2b-1dc9-45ad-9c69-4d262ae16138","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Organizando dados').item.json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1648,240],"id":"56e1d7be-81b3-4354-b023-61e9c13912da","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"KGdZtV7l7XLXY021","name":"Postgres Clinica"}}},{"parameters":{"resource":"messages-api","instanceName":"=Teste_Agendamento","remoteJid":"={{ $('Organizando dados').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2608,-48],"id":"5cbb0cf2-1c43-49c0-ac04-3932edf37c26","name":"Enviar texto","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[736,16],"id":"f27e92ec-f6c9-42a4-80d9-abfeb8951960","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,16],"id":"5f8d19d9-4125-44ce-b525-0fcd116ae437","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1504,240],"id":"f7f95ddd-77c9-4ed4-98ec-4b335552471e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c7a7f70-722f-4cb8-a73d-983c82312609","name":"mensagem_usuario","value":"={{ $if($(\"Transcribe a recording\").isExecuted, $(\"Transcribe a recording\").last().json.text, \"\") }}","type":"string"},{"id":"3b2ae610-320c-4603-9665-6015441bc9c7","name":"mensagem_image","value":"={{ $if($(\"Analyze image\").isExecuted, $(\"Analyze image\").last().json.content, \"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,128],"id":"25aa50db-a69d-4bb6-8052-3db3453ffe7a","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[720,208],"id":"e499de76-4915-48d1-b3aa-b6e536ab1454","name":"Convert to File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Aqui está uma imagem enviada pelo usuário. Descreva detalhadamente a imagem e qualquer texto visível.\nColoque o máximo de detalhes.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,208],"id":"549fd843-ec74-4f77-939e-6618e9b8cf0a","name":"Analyze image","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,16],"id":"7a1c0508-60a8-4945-a158-966914fb63b7","name":"Audio","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,208],"id":"20da0118-8083-4010-a3f9-a34b8fe65b5a","name":"imagem","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"content":"Inicio Chat e tratamento dos dados","height":544,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,-208],"id":"2620352d-1244-45f7-9f29-b1bc5e9e3f2b","name":"Sticky Note"},{"parameters":{"content":"Fluxo de mensagem\n\n. Audio\n.Imagem","height":608,"width":928,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,-208],"id":"bac06612-e7b3-42c7-9bdb-ba68576cf2b3","name":"Sticky Note1"},{"parameters":{"content":"Agente Principal\n\n.Agendamentos\n.Listagem eventos\n.Reagendamentos\n.Cancelamentos","height":608,"width":1024,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,-208],"id":"6d737b56-5db9-4ad1-93ca-5fc670931551","name":"Sticky Note2"},{"parameters":{"content":"Envio de mensagens","height":288,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2496,-144],"id":"be808088-eac7-448d-824e-2296e40c2439","name":"Sticky Note3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2256,224],"id":"365dc223-47f7-4ca0-ab85-79282874aecb","name":"Think"},{"parameters":{"calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `horário desejado`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `horário desejado + 1 hora`, 'string') }}","useDefaultReminders":false,"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1808,224],"id":"59627527-9492-4a74-bb5e-1f1a9fceffa9","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","useDefaultReminders":false,"updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1920,224],"id":"290527d9-c8ee-498a-94ff-4ee5ccd6112b","name":"Reagendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2032,224],"id":"42be5f51-e742-4a8f-adc2-6a23501c318a","name":"Cancelar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `horário desejado`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `horário desejado + 1 hora`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2144,224],"id":"55bafbde-43e7-414c-9975-cbc045db902f","name":"Listar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"10e83b97-cdf3-4de3-8692-1bb3da13f348","leftValue":"{{ $json.body.data.key.fromMe}}","rightValue":"=false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-256,0],"id":"832dc6db-4119-4f56-a7d9-da673da6c2f7","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Organizando dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Audio","type":"main","index":0}],[{"node":"imagem","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"imagem":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Reagendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cancelar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Listar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enviar texto":{"main":[[]]},"If":{"main":[[{"node":"Organizando dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69475eab-cd52-4a54-88db-451d4800f919","activeVersionId":"f91224c5-c64d-47f4-a416-0074a4b16551","triggerCount":1,"shared":[{"updatedAt":"2025-09-22T23:14:45.835Z","createdAt":"2025-09-22T23:14:45.835Z","role":"workflow:owner","workflowId":"NZnXwq3xlJ4GCX9J","projectId":"G56NELttT2pGfqmo"}],"activeVersion":{"updatedAt":"2026-01-27T00:28:51.000Z","createdAt":"2026-01-27T00:28:28.031Z","versionId":"f91224c5-c64d-47f4-a416-0074a4b16551","workflowId":"NZnXwq3xlJ4GCX9J","nodes":[{"parameters":{"httpMethod":"POST","path":"agente_clinica","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-448,0],"id":"ce9bd989-0c19-4943-a8c7-6d55584ae66d","name":"Webhook","webhookId":"cfee5c42-a357-4c29-a3da-bd56c16d4aa8"},{"parameters":{"assignments":{"assignments":[{"id":"b99347a6-c276-4a5d-bfb0-3b1c77ef3123","name":"telefone","value":"={{ $json.body?.data?.key?.senderPn ?? $json.body?.data?.key?.remoteJid?.split('@')[0] }}","type":"string"},{"id":"67e3c967-69bb-4efd-b908-ffde7ab3cce8","name":"tipo_mensagem","value":"={{ $json.body.data.messageType ?? 'Desconhecido' }}","type":"string"},{"id":"d37f0855-66b4-4ec5-9398-ec87a57a3f90","name":"mensagem_usuario","value":"={{\n  $json.message?.conversation ??\n  'Sem mensagem'\n}}","type":"string"},{"id":"bcacf8dd-1df1-476d-892c-169e40858a54","name":"mensagem_image","value":"={{ $json.body.data.message.imageMessage?.url ?? 'Sem imagem' }}","type":"string"},{"id":"5370abd1-6cb3-4fc2-95e2-d2cadecef635","name":"mensagem_audio","value":"={{ $json.body?.data?.message?.audioMessage?.url ?? '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-16],"id":"4495f36b-a9ea-4488-8f6e-ca37be6deaa3","name":"Organizando dados","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cc77167a-cded-4084-861b-8d64b8eb872a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a484e94-8640-40f8-9800-69648d4d7e85","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"269410c4-e415-4728-a09b-0082e4b3eae6","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,-32],"id":"c53b3029-7456-45b1-9483-5aabca520603","name":"Switch"},{"parameters":{"promptType":"define","text":"=O usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.mensagem_usuario}}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\nResponda APENAS com o texto que deve ser enviado ao paciente,\nseguindo todas as regras do System Message.\n\nEscreva apenas a resposta natural, como uma pessoa falando no WhatsApp.\n\nSiga as regras do System Message. ","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n### PAPEL\nVocê é o agente oficial de agendamento da clínica odontológica Sorriso Perfeito.\nSeu papel é conversar com pacientes, entender a intenção e executar ações reais\npor meio das ferramentas disponíveis.\n\nVocê SEMPRE responde em texto natural para o paciente,\nmas SEMPRE usa ferramentas quando necessário.\n\n---\n\n### OBJETIVO PRINCIPAL\nAgendar, listar, reagendar ou cancelar consultas no Google Agenda,\ncoletando e confirmando os dados do paciente antes de qualquer ação.\n\nDados necessários para agendamento:\n- Nome completo\n- Telefone (já fornecido): {{ $json.telefone }}\n- Email\n- Data desejada\n- Horário desejado\n- Serviço desejado\n\nNunca agende sem confirmar todos os dados.\n\n---\n\n### USO DE FERRAMENTAS (REGRA OBRIGATÓRIA)\n\nVocê TEM acesso às seguintes ferramentas:\n- Listar\n- Agendar\n- Reagendar\n- Cancelar\n\n⚠️ REGRAS IMPORTANTES SOBRE AS TOOLS:\n\n1) Sempre que o paciente perguntar sobre:\n   - horários disponíveis\n   - datas disponíveis\n   - agenda\n   - se existe consulta marcada\n   \n   → você DEVE chamar a ferramenta **Listar** antes de responder.\n\n2) Você NUNCA pode inventar horários.\n   Se não usar a ferramenta Listar, você NÃO responde com horários.\n\n3) Para agendar uma consulta:\n   a) Confirme todos os dados com o paciente\n   b) Chame a ferramenta **Listar** para verificar disponibilidade\n   c) Se o horário estiver livre, chame a ferramenta **Agendar**\n   d) Inclua o email do paciente no evento para que ele receba o convite\n\n4) Se o paciente já tiver uma consulta:\n   - Informe que ele já possui um agendamento\n   - Ofereça apenas as opções de **Reagendar** ou **Cancelar**\n\n5) Para reagendar:\n   - Primeiro chame **Listar** para identificar a consulta existente\n   - Depois chame **Reagendar** com o ID correto\n\n6) Para cancelar:\n   - Primeiro chame **Listar**\n   - Depois chame **Cancelar** com o ID da consulta\n\n---\n\n### ESTILO DE CONVERSA\n- Educado, acolhedor e profissional\n- Use o nome do paciente sempre que possível\n- Linguagem simples e clara\n- Nunca use termos técnicos com o paciente\n- Nunca mencione ferramentas ou sistemas internos\n\n---\n\n### SERVIÇOS DISPONÍVEIS\n- Urgência / Dor\n- Prevenção (limpeza, check-up)\n- Estética (clareamento, restaurações)\n- Tratamentos gerais\n- Ortodontia\n- Próteses\n- Odontopediatria\n- Retornos e convênios\n\nSe for urgência, informe que o atendimento será priorizado\ne forneça o contato direto da clínica, se necessário.\n\n---\n\n### LIMITAÇÕES\n- Nunca forneça diagnósticos\n- Nunca informe valores exatos\n- Para perguntas clínicas diga:\n  \"Apenas o dentista poderá responder essa pergunta durante a consulta.\"\n\n---\n\n### COMPORTAMENTO EM ERRO OU DADOS INCOMPLETOS\nSe faltar qualquer informação necessária:\n- Pergunte de forma natural e educada\n- Não tente executar nenhuma ferramenta\n- Não avance até ter todos os dados confirmados\n\nSe ocorrer erro técnico:\n- Peça desculpas\n- Informe que irá verificar\n- Solicite novamente a informação necessária"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1808,-48],"id":"7f561a2b-1dc9-45ad-9c69-4d262ae16138","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Organizando dados').item.json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1648,240],"id":"56e1d7be-81b3-4354-b023-61e9c13912da","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"KGdZtV7l7XLXY021","name":"Postgres Clinica"}}},{"parameters":{"resource":"messages-api","instanceName":"=Teste_Agendamento","remoteJid":"={{ $('Organizando dados').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2608,-48],"id":"5cbb0cf2-1c43-49c0-ac04-3932edf37c26","name":"Enviar texto","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[736,16],"id":"f27e92ec-f6c9-42a4-80d9-abfeb8951960","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,16],"id":"5f8d19d9-4125-44ce-b525-0fcd116ae437","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1504,240],"id":"f7f95ddd-77c9-4ed4-98ec-4b335552471e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c7a7f70-722f-4cb8-a73d-983c82312609","name":"mensagem_usuario","value":"={{ $if($(\"Transcribe a recording\").isExecuted, $(\"Transcribe a recording\").last().json.text, \"\") }}","type":"string"},{"id":"3b2ae610-320c-4603-9665-6015441bc9c7","name":"mensagem_image","value":"={{ $if($(\"Analyze image\").isExecuted, $(\"Analyze image\").last().json.content, \"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,128],"id":"25aa50db-a69d-4bb6-8052-3db3453ffe7a","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[720,208],"id":"e499de76-4915-48d1-b3aa-b6e536ab1454","name":"Convert to File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Aqui está uma imagem enviada pelo usuário. Descreva detalhadamente a imagem e qualquer texto visível.\nColoque o máximo de detalhes.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,208],"id":"549fd843-ec74-4f77-939e-6618e9b8cf0a","name":"Analyze image","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,16],"id":"7a1c0508-60a8-4945-a158-966914fb63b7","name":"Audio","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,208],"id":"20da0118-8083-4010-a3f9-a34b8fe65b5a","name":"imagem","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"content":"Inicio Chat e tratamento dos dados","height":544,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,-208],"id":"2620352d-1244-45f7-9f29-b1bc5e9e3f2b","name":"Sticky Note"},{"parameters":{"content":"Fluxo de mensagem\n\n. Audio\n.Imagem","height":608,"width":928,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,-208],"id":"bac06612-e7b3-42c7-9bdb-ba68576cf2b3","name":"Sticky Note1"},{"parameters":{"content":"Agente Principal\n\n.Agendamentos\n.Listagem eventos\n.Reagendamentos\n.Cancelamentos","height":608,"width":1024,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,-208],"id":"6d737b56-5db9-4ad1-93ca-5fc670931551","name":"Sticky Note2"},{"parameters":{"content":"Envio de mensagens","height":288,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2496,-144],"id":"be808088-eac7-448d-824e-2296e40c2439","name":"Sticky Note3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2256,224],"id":"365dc223-47f7-4ca0-ab85-79282874aecb","name":"Think"},{"parameters":{"calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `horário desejado`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `horário desejado + 1 hora`, 'string') }}","useDefaultReminders":false,"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1808,224],"id":"59627527-9492-4a74-bb5e-1f1a9fceffa9","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","useDefaultReminders":false,"updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1920,224],"id":"290527d9-c8ee-498a-94ff-4ee5ccd6112b","name":"Reagendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2032,224],"id":"42be5f51-e742-4a8f-adc2-6a23501c318a","name":"Cancelar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `horário desejado`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `horário desejado + 1 hora`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2144,224],"id":"55bafbde-43e7-414c-9975-cbc045db902f","name":"Listar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar BM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"10e83b97-cdf3-4de3-8692-1bb3da13f348","leftValue":"{{ $json.body.data.key.fromMe}}","rightValue":"=false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-256,0],"id":"832dc6db-4119-4f56-a7d9-da673da6c2f7","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Organizando dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Audio","type":"main","index":0}],[{"node":"imagem","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"imagem":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Reagendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cancelar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Listar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enviar texto":{"main":[[]]},"If":{"main":[[{"node":"Organizando dados","type":"main","index":0}]]}},"authors":"Bruno Maia","name":"Rev9","description":"","autosaved":true},"tags":[]}