agenterag-6xOL3aueA4zy9kNI.json
{"updatedAt":"2025-12-20T22:10:55.000Z","createdAt":"2025-12-17T22:29:49.754Z","id":"6xOL3aueA4zy9kNI","name":"AgenteRAG","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"0df84601-f10e-4f79-9805-1e257361f7a0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"80410b4c-bc6e-4674-b20d-84ea6a33a0ae","name":"Webhook","webhookId":"0df84601-f10e-4f79-9805-1e257361f7a0"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=## FUNÇÃO\nVocê é um Agente de Suporte e FAQ da faculdade.\n\n## OBRIGAÇÃO DE CONSULTA (MUITO IMPORTANTE)\n1. Antes de responder qualquer pergunta, você DEVE obrigatoriamente consultar a ferramenta de busca vetorial (Supabase Vector Store) para obter o CONTEXTO DE RAG (FAQ).\n2. Nunca responda perguntas sem antes utilizar essa ferramenta.\n\n## OBJETIVO\n1. Responder perguntas de forma precisa utilizando EXCLUSIVAMENTE o conteúdo retornado pela ferramenta de busca vetorial (CONTEXTO DE RAG).\n\n## ESTILO\n1. Seja cortês, objetivo e prestativo. Utilize linguagem clara.\n\n## REGRAS\n1. Baseie sua resposta apenas no conteúdo retornado pela ferramenta.\n2. **Formatação:** Use negrito e/ou listas para destacar a informação principal da resposta.\n3. Se o conteúdo retornado estiver vazio ou não contiver a resposta, diga:\n   \"Não encontrei essa informação nas FAQs. Recomendo entrar em contato com o suporte humano.\"\n4. Não utilize conhecimento próprio.\n5. Não invente informações.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[592,0],"id":"dd448274-11cf-4a3f-be08-f0dad1395a12","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[448,208],"id":"3a2ff679-7cc0-4088-a35c-09607a22feca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[592,208],"id":"04ae9e87-f1f7-489a-99aa-e1003b68608e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Zs7WcxE92Q90lOWY","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"RAG","remoteJid":"={{ $('Organizar Dados').item.json.telefone }}","messageText":"={{ $json.respostas }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1712,16],"id":"f628565e-4010-44a9-a32a-789f7b99bf27","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Aqui tem tudo sobre o FAQ de perguntas frequentes sobre a faculdade","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[736,224],"id":"8e11b1ee-b4d6-4e48-8fd4-d073f96b031a","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[736,400],"id":"041d72bd-9906-40e7-949c-b372b9ac407e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,832],"id":"0a7b593d-fd8a-47fe-a481-f314d5e2d967","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[672,832],"id":"686ca85e-d37c-418a-8fd0-e182b85395a6","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[672,1024],"id":"5fd59cd2-a18b-4bd6-b263-cd5ba1fd68c8","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[864,1008],"id":"902e3e0d-e6d8-4338-8969-c619c758ad9e","name":"Default Data Loader"},{"parameters":{"fieldToSplitOut":"respostas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1232,0],"id":"cabb2e71-ed19-48e8-bffc-0a6aba083fd8","name":"Split Out"},{"parameters":{"content":"# Setar Variaveis","height":384,"width":416},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-112],"id":"82ec0e22-2fb0-4250-85b8-00aa4444cfc0","name":"Sticky Note"},{"parameters":{"content":"# Agente principal","height":704,"width":624,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,-160],"id":"93ceab2d-4e0b-4f93-8a82-9f7fb8e07276","name":"Sticky Note1"},{"parameters":{"content":"# Organiza mensagens","height":384,"width":368,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,-128],"id":"f3b681b9-d59c-4137-9c84-5be1d8642045","name":"Sticky Note2"},{"parameters":{"content":"# Loop e envia mgn separadamente","height":480,"width":448,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-160],"id":"403769d7-4d3e-474a-9e10-0261f3fed97f","name":"Sticky Note3"},{"parameters":{"content":"# Aguarda 5s para envio de cada mgn","height":400,"width":336,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1872,-128],"id":"b5e1ee04-11fa-43be-8013-5ec4f5de5fc8","name":"Sticky Note4"},{"parameters":{"content":"# Treinamento do Agente Principal\n\n## Busca doc. no google drive para realizar o embedding  ","height":720,"width":1184,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,624],"id":"55e1087b-c221-4657-b31d-b6e28f21c5c6","name":"Sticky Note5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1eKHbwCupKPIcqcNs2XafO0gGrQOFmnyq","mode":"list","cachedResultName":"faq_universidade.md","cachedResultUrl":"https://drive.google.com/file/d/1eKHbwCupKPIcqcNs2XafO0gGrQOFmnyq/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,832],"id":"5623a2ef-4186-4759-8103-56ba333ea1d7","name":"Obter Dados Drive","credentials":{"googleDriveOAuth2Api":{"id":"dYuCJT526nkIgyfF","name":"Google Drive"}}},{"parameters":{"separator":"4000","chunkSize":800},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[864,1184],"id":"1f312e9e-22cb-41eb-8541-310a5d9ce831","name":"Separador de textos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1968,16],"id":"1519fc13-b66b-4381-b04e-a15e96cd99b0","name":"Pausa","webhookId":"cbe31973-12c2-4193-948b-5e8f6771ff7d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1472,0],"id":"d97170df-a6ce-41d3-9d03-453a05506b9f","name":"Loop"},{"parameters":{"assignments":{"assignments":[{"id":"3119deff-f687-48c5-a0c1-0a2255b8887b","name":"respostas","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,0],"id":"14946dc6-66c0-4262-9cf7-65c4d9033026","name":"Preparar Dados"},{"parameters":{"assignments":{"assignments":[{"id":"1d7a966a-ca50-49cc-bdf3-048609262428","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"c3ea82c9-c3f2-4d67-9a32-c82dab9bc2cf","name":"nome_usuario","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"fa34f4d1-4743-48a5-b92a-f17610de2034","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"8c3848ee-5a3b-4bc1-a092-825c230d96e3","name":"Organizar Dados"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[416,832],"id":"5d742b83-8ce9-4204-9e67-e2528043a3f1","name":"Extrair Textos"}],"connections":{"Webhook":{"main":[[{"node":"Organizar Dados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Preparar Dados","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Obter Dados Drive","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Split Out":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Obter Dados Drive":{"main":[[{"node":"Extrair Textos","type":"main","index":0}]]},"Separador de textos":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pausa":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Preparar Dados":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Organizar Dados":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Extrair Textos":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e26ac0f2-034b-4a2d-afef-4f808ef991ff","triggerCount":1,"shared":[{"updatedAt":"2025-12-17T22:29:49.758Z","createdAt":"2025-12-17T22:29:49.758Z","role":"workflow:owner","workflowId":"6xOL3aueA4zy9kNI","projectId":"G56NELttT2pGfqmo"}],"tags":[]}