agente_instagram.json
{"updatedAt":"2026-01-28T17:42:30.876Z","createdAt":"2026-01-21T23:24:30.514Z","id":"jJLqYobgL8654cV6","name":"Agente_Instagram","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"53dee9ff-2e0b-49a9-882a-fcca8bcf33d3","name":"Resposta - Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[688,448]},{"parameters":{"content":"## Conecta Exército na DM [Adeus Manychat]","height":320,"width":1268,"color":3},"id":"e6cd4353-ab5a-417b-b42c-584719669c14","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,720]},{"parameters":{"content":"## Arma Secreta Insta - Post\n• Recebe interações, como mensagens e comentários no Instagram.\n• Confirma se não são de nossa autoria.\n• Se for um comentário, responde o comentário.\n","height":353,"width":1016,"color":4},"id":"d0be4067-5012-40c2-9120-90096e7629c2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[912,320]},{"parameters":{"content":"## Arma Secreta Insta- Get  \nUtilizado apenas uma única vez.  ","height":353,"width":922,"color":6},"id":"9aafb98b-c198-4aac-af28-08b6d2478197","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,320]},{"parameters":{"path":"encha","responseMode":"responseNode","options":{}},"id":"d4dec56d-d439-4c0b-9192-14c072f47450","name":"Webhook - Challenge","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,448],"webhookId":"6761f957-d6b3-4b12-88fc-8619b26eea03"},{"parameters":{"httpMethod":"POST","path":"encha","options":{}},"id":"e1e1a4cd-1aaa-422e-8541-2fcda283ec9c","name":"Webhook - Conteudo","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1008,480],"webhookId":"6761f957-d6b3-4b12-88fc-8619b26eea03","disabled":true},{"parameters":{"httpMethod":"POST","path":"encha","options":{}},"id":"6111b167-0b0a-4148-b087-680c07e23f4c","name":"Webhook - Conteudo1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,848],"webhookId":"6761f957-d6b3-4b12-88fc-8619b26eea03","disabled":true},{"parameters":{"content":"UTILIZAR SE QUISER SOMENTE RESPOSTAS NOS COMENTÁRIOS","height":80},"type":"n8n-nodes-base.stickyNote","position":[2000,320],"typeVersion":1,"id":"cfc605d9-e137-4bc2-8fd6-422b2a73afc4","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"8c4001fe-b9e6-4829-babf-c0ce45b6ed57","name":"endpoint","value":"=https://graph.instagram.com/v22.0","type":"string"},{"id":"a4b162b7-88f8-47a7-b78c-7a09ceb50e2c","name":"conta.id","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"d13b88db-654a-4df3-b88a-19cc5bfa2d8c","name":"user.id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"22848b6f-5d3b-466d-8dcd-ddceeaf8be73","name":"user.name","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"5af40082-0b88-4254-8d3f-d163f059b06e","name":"user.msg.id","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"15ab2e3a-d3e4-4348-8be0-0923d394168c","name":"user.msg.text","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"ffb0ef17-f824-4d9d-a5ba-18191e566568","name":"user.media.id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,848],"id":"189b6abe-285f-4398-a0d2-221579e44499","name":"Normaliza"},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.endpoint }}/{{ $('Normaliza').item.json.user.msg.id }}/replies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"=@{{ $('Normaliza').item.json.user.name }} fazendo teste"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,912],"id":"87e96d29-2f84-460c-9b37-419d2c283494","name":"Responde Comentário"},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.endpoint }}/{{ $('Normaliza').item.json.conta.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message.text","value":"MENSAGEM DA DM"},{"name":"recipient.comment_id","value":"={{ $('Normaliza').item.json.user.msg.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,912],"id":"19c31c1c-135a-4fe8-81be-6de0b9688fcb","name":"Responde DM"},{"parameters":{"method":"POST","url":"={{ $('Normaliza1').item.json.endpoint }}/{{ $('Normaliza1').item.json.user.msg.id }}/replies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"=@{{ $('Normaliza1').item.json.user.name }} fazendo teste"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,528],"id":"34513abd-f01a-4ce0-bb5b-b3179ad4fba4","name":"Responde Comentário1"},{"parameters":{"assignments":{"assignments":[{"id":"8c4001fe-b9e6-4829-babf-c0ce45b6ed57","name":"endpoint","value":"=https://graph.instagram.com/v22.0","type":"string"},{"id":"a4b162b7-88f8-47a7-b78c-7a09ceb50e2c","name":"conta.id","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"d13b88db-654a-4df3-b88a-19cc5bfa2d8c","name":"user.id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"22848b6f-5d3b-466d-8dcd-ddceeaf8be73","name":"user.name","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"5af40082-0b88-4254-8d3f-d163f059b06e","name":"user.msg.id","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"15ab2e3a-d3e4-4348-8be0-0923d394168c","name":"user.msg.text","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"ffb0ef17-f824-4d9d-a5ba-18191e566568","name":"user.media.id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,480],"id":"d98b96cb-015b-411f-a06b-46ba1a2f9948","name":"Normaliza1"},{"parameters":{"content":"UTILIZAR SE QUISER TAMBÉM CHAMAR O USUÁRIO NA DM","height":80},"type":"n8n-nodes-base.stickyNote","position":[1312,720],"typeVersion":1,"id":"a25c22b0-af43-4c04-99e0-06c3e98ed1bc","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4af705a6-1cd2-48dd-81ae-458f692502ab","leftValue":"={{ $json.conta.id }}","rightValue":"={{ $json.user.id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1408,480],"id":"27473405-eba2-4627-b611-20b4b2da3397","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1600,352],"id":"df5dbe71-9a6a-4ed1-862e-56df0c811d86","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4af705a6-1cd2-48dd-81ae-458f692502ab","leftValue":"={{ $json.conta.id }}","rightValue":"={{ $json.user.id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,848],"id":"b57bc702-4284-44a9-aa88-2aef145406b3","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,752],"id":"35d4d26f-38ff-4779-adab-c31b6eb78984","name":"No Operation, do nothing1"}],"connections":{"Webhook - Challenge":{"main":[[{"node":"Resposta - Challenge","type":"main","index":0}]]},"Webhook - Conteudo":{"main":[[{"node":"Normaliza1","type":"main","index":0}]]},"Webhook - Conteudo1":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"If1","type":"main","index":0}]]},"Responde Comentário":{"main":[[{"node":"Responde DM","type":"main","index":0}]]},"Normaliza1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Responde Comentário1","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Responde Comentário","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - Conteudo":[{"json":{"headers":{"host":"teste.valparaiso.pro","user-agent":"Webhooks/1.0 (https://fb.me/webhooks)","content-length":"318","accept":"*/*","content-type":"application/json","x-forwarded-for":"173.252.95.14","x-forwarded-host":"teste.valparaiso.pro","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c0c9dcb1c5fa","x-hub-signature":"sha1=a453627e39186af6851c65c05b1caa14aa86b119","x-hub-signature-256":"sha256=2945b9f5c22493df01fb4d146a564d8d12b5352c0791f2a3acd3266173d95ac8","x-real-ip":"173.252.95.14","accept-encoding":"gzip"},"params":{},"query":{},"body":{"entry":[{"id":"17841470141371280","time":1751281289,"changes":[{"value":{"from":{"id":"1366525881100789","username":"harryson_campos_martins5"},"media":{"id":"17861529735430243","media_product_type":"FEED"},"id":"18052803236113144","text":"Teste"},"field":"comments"}]}],"object":"instagram"},"webhookUrl":"https://webhook.valparaiso.pro/webhook-test/encha","executionMode":"test"}}]},"versionId":"f83d1c9b-9593-4af5-9608-648b8a482ab2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-21T23:24:30.529Z","createdAt":"2026-01-21T23:24:30.529Z","role":"workflow:owner","workflowId":"jJLqYobgL8654cV6","projectId":"G56NELttT2pGfqmo"}],"activeVersion":null,"tags":[]}