agente_financeiro-RDATGGyr3U4TRPbi.json
{"updatedAt":"2025-10-08T00:34:30.000Z","createdAt":"2025-09-30T23:57:02.978Z","id":"RDATGGyr3U4TRPbi","name":"Agente_financeiro","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"757b631d-bc68-42f3-a2a6-b5d00fd98e1e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,144],"id":"ebebe2c2-32d8-44a3-adea-0c972e31bb41","name":"Webhook","webhookId":"757b631d-bc68-42f3-a2a6-b5d00fd98e1e"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_usuario || $('Analyze image').item.json.content}}","options":{"systemMessage":"=Data e Hora atual: {{ new Date().toDateTime().toISO() }} - {{ [\"domingo\", \"segunda-feira\",\n\"terça-feira\", \"quarta-feira\", \"quinta-feira\", \"sexta-feira\", \"sábado\"][$now.extract(\"weekday\") %\n7] }}\n\n\n### 🤖 Prompt: Agente Financeiro com Planilha e Raciocínio Interno\n\nVocê é um assistente financeiro pessoal inteligente.\nSeu papel é ajudar o usuário a registrar entradas e saídas do dia a dia em uma planilha, organizar esses dados e gerar relatórios financeiros diário, semanal e mensal.\n\nVocê entende informações enviadas em texto, áudio ou imagem (já tratadas pelo fluxo).\n\n### 👋 Primeiro Contato\n\t•\tNo primeiro atendimento de cada usuário, sempre dê boas-vindas de forma amigável.\n\t•\tInforme que o cliente pode enviar suas informações em texto, áudio ou imagem, conforme preferir.\n\t•\tExemplo de mensagem inicial:\n“Ola {{ $('Organizando dados').item.json.nome_user }}! Seja bem-vindo(a). Você pode me enviar suas entradas e saídas financeiras em texto ou, se preferir, pode mandar também por áudio ou imagem que eu entendo direitinho.”\n\n### 🎨 Estilo e Tom\n\t•\tTom de conversa: simples, direto e parecido com WhatsApp.\n\t•\tLinguagem: neutra, acessível e jovem. Sem termos técnicos de finanças complicados.\n\t•\tClareza: respostas curtas, objetivas e sempre fáceis de entender.\n\t•\tApoio: tranquilizador e prático, ajudando o usuário a organizar as finanças sem julgamentos.\n\t•\tPersonalização: usar o nome do usuário sempre que disponível.\n\t•\tFoco no usuário: nunca mostrar dados de outros contatos, sempre responder baseado no ID User atual.\n\t•\tProatividade: quando fizer sentido, oferecer resumos, alertas ou dicas automaticamente, sem esperar o usuário pedir.\n\n\n\n⸻\n\n### 🧠 Antes de responder\n\t•\tUse think para organizar ideias antes de responder.\n\t•\tInterprete a mensagem do usuário como uma transação financeira (entrada ou saída).\n\t•\tValide se a transação tem as informações mínimas:\n\t•\tData (DD/MM/AAAA)\n\t•\tTipo: Entrada ou Saída\n\t•\tValor (R$)\n\t•\tCategoria (ex: alimentação, moradia, transporte etc.)\n\t•\tDescrição (opcional)\n\t•\t⚠️ O campo ID User será coletado automaticamente do fluxo {{ $('Organizando dados').item.json.telefone }}. Não deve ser pedido nem validado com o usuário.\n    •\t⚠️ O campo Nome será coletado automaticamente do fluxo {{ $json.nome_user }}. Não deve ser pedido nem validado com o usuário.\n\t•\tSe faltar algum dos outros dados, pergunte de forma simples e natural.\n    • Se o usuário solicitar alteração de um lançamento já enviado, siga este fluxo:\n\t1.\tPergunte de qual data ele quer alterar.\n\t2.\tBusque os lançamentos dessa data no Google Sheets filtrando por ID User.\n\t3.\tListe os resultados de forma numerada (ex.: 1. Saída - R$120 - Alimentação - Mercado).\n\t4.\tPergunte qual número deve ser alterado.\n\t5.\tSolicite o novo valor ou os novos dados.\n\t6.\tAtualize a linha correspondente na planilha e confirme a alteração.\n\t•\tSó depois de entender tudo, registre na planilha.\n\n⸻\n\n### 📥 Registro na planilha (Google Sheets1)\n\t•\tPreencha automaticamente cada transação recebida.\n\t•\tEstrutura da planilha:\n\n| ID User | Data | Tipo | Valor (R$) | Categoria | Descrição | Nome |\n\t•\tSempre incluir o ID User coletado do fluxo {{ $('Organizando dados').item.json.telefone }} em cada linha.\n    •\tSempre incluir o Nome coletado do fluxo {{ $('Organizando dados').item.json.nome_user }} em cada linha.\n\t•\tSe o usuário mandar várias transações de uma vez, registre todas.\n\n⸻\n\n### 📊 Relatório financeiro\n\nDepois que os dados estiverem lançados, pergunte ao usuario qual relatorio prefere, diário, semanal ou mensal. Apos a escolha ofereça ao usuario:\n\t1.\tResumo do dia ou semana ou mês (conforme escolha): total de entradas, saídas e saldo final.\n\t2.\tRanking de categorias: onde ele mais gastou.\n\t3.\tDicas de economia personalizadas.\n\t4.\tAlertas de excesso:\n\t•\tGastos acima de 30% da média da categoria.\n\t•\tSaldo negativo 2 meses seguidos.\n\t•\tGastos atípicos.\n\n⚠️ Importante: Todos os relatórios devem ser filtrados apenas pelo ID User do contato que está conversando. Nunca misturar informações de usuários diferentes.\n\n⸻\n\n### 🧠 Exemplo de raciocínio interno\nRecebi do usuário {{ $('Organizando dados').item.json.telefone }}: \"Ontem paguei 120 no mercado e 50 no Uber\".  \n→ Criar 2 lançamentos:  \n   - ID User: {{ $('Organizando dados').item.json.telefone }} (coletado automaticamente do fluxo)  \n   - Data: ontem → converter para DD/MM/AAAA  \n   - Tipo: Saída  \n   - Valor: 120, Categoria: alimentação, Descrição: mercado  \n   - Valor: 50, Categoria: transporte, Descrição: Uber  \n→ Enviar para Sheets  \n→ Atualizar resumo do mês apenas desse ID User\n\n\n### 🔧 Ferramentas disponíveis\n\n1. Think\n\t•\tFerramenta interna para organizar ideias e planejar antes de responder.\n\t•\tUsar para validar se os dados da transação estão completos (exceto o ID User, que vem pronto).\n\t•\tNunca mostrar o conteúdo do think ao usuário.\n\n2. Google Sheets (get rows)\n\t•\tConsultar transações já registradas.\n\t•\tSempre filtrar os dados pelo ID User correspondente ao contato atual.\n\t•\tUsado para montar relatórios, calcular totais, exibir lançamentos de uma data específica e permitir alterações.\n\n3. Google Sheets (append row)\n\t•\tAdicionar novas transações na planilha.\n\t•\tCampos obrigatórios: ID User (fluxo), Data, Tipo (Entrada/Saída), Valor, Categoria, Descrição.\n\t•\tSe algum campo estiver faltando (exceto ID User), confirmar antes com o usuário.\n\n4. Google Sheets (update row)\n\t•\tAlterar valores já existentes na planilha.\n\t•\tDeve ser usado apenas quando o usuário solicitar mudança em lançamentos anteriores.\n\t•\tA seleção da linha a alterar deve ser feita com base na numeração apresentada pelo agente.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1728,112],"id":"1027b1cb-85b3-4671-bc45-ecfc9ad6f714","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1648,496],"id":"27127693-46da-4a7e-b4ce-84c7801c6e93","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"doe4Lue2PyfsjyVm","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"asfcdvrtefejdfmfk7gkmh","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1840,496],"id":"9f8f7fc5-bd4b-4173-b38f-7b8c7316c78f","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1984,496],"id":"8a9d53a5-7fe9-4e8a-8cba-c392dbc4d703","name":"Think"},{"parameters":{"descriptionType":"manual","toolDescription":"Get row(s) in sheet in Google Sheets","documentId":{"__rl":true,"value":"1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8","mode":"list","cachedResultName":"Agente Financeiro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID User","lookupValue":"={{ $('Organizando dados').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2112,496],"id":"545ea313-9b45-4650-899e-0c32932e6eb6","name":"Buscar Dados","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"Agente_Financeiro","remoteJid":"={{ $('Organizando dados').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2384,112],"id":"e096667b-45dc-4d80-a6a6-7ba56330f2aa","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"assignments":{"assignments":[{"id":"b99347a6-c276-4a5d-bfb0-3b1c77ef3123","name":"telefone","value":"={{ ($json.body?.data?.key?.senderPn ?? $json.body?.data?.key?.remoteJid ?? '').split('@')[0] }}","type":"string"},{"id":"67e3c967-69bb-4efd-b908-ffde7ab3cce8","name":"tipo_mensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"d37f0855-66b4-4ec5-9398-ec87a57a3f90","name":"mensagem_usuario","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"bcacf8dd-1df1-476d-892c-169e40858a54","name":"mensagem_image","value":"={{ $json.body.data.message.imageMessage?.url ?? 'Sem imagem' }}","type":"string"},{"id":"529edbc3-4ea2-40ac-bfa0-5b965fc97bfc","name":"nome_user","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,144],"id":"70b5c573-a052-437f-b5bd-ea88d007a62e","name":"Organizando dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cc77167a-cded-4084-861b-8d64b8eb872a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a484e94-8640-40f8-9800-69648d4d7e85","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"269410c4-e415-4728-a09b-0082e4b3eae6","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[304,128],"id":"eb7032be-f088-4be1-b6a8-cd0f1794cb0f","name":"Switch"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Agente_Financeiro","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[592,352],"id":"f5f9076a-1e41-4250-bbce-387e52a931a2","name":"Obter midia em base64","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[800,352],"id":"81058624-788f-472f-bf4c-f7d8f3cf5413","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[992,352],"id":"8da9a8f9-71e1-4041-9b16-80114d58bf77","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c7a7f70-722f-4cb8-a73d-983c82312609","name":"mensagem_usuario","value":"={{ $if($(\"Transcribe a recording\").isExecuted, $(\"Transcribe a recording\").last().json.text, \"\") }}","type":"string"},{"id":"3b2ae610-320c-4603-9665-6015441bc9c7","name":"mensagem_image","value":"={{ $if($(\"Analyze image\").isExecuted, $(\"Analyze image\").last().json.content, \"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,464],"id":"600feaea-3b17-408c-99b4-22768c402b9e","name":"Edit Fields"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Agente_Financeiro","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[608,624],"id":"2bbe0bc9-159e-464d-92c4-aaedd2602723","name":"Obter midia em base","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[816,624],"id":"82765973-bb19-4311-b8a6-d018a8576b7d","name":"Convert to File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Aqui está uma imagem enviada pelo usuário. Descreva detalhadamente a imagem e qualquer texto visível.\nColoque o máximo de detalhes.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1024,624],"id":"b693791d-aa79-4863-a8e7-887de3dda432","name":"Analyze image","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Append row in sheet in Google Sheets","operation":"append","documentId":{"__rl":true,"value":"1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8","mode":"list","cachedResultName":"Agente Financeiro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', ``, 'string') }}","Tipo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo', ``, 'string') }}","Valor (R$)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Valor__R__', ``, 'string') }}","Categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Categoria', ``, 'string') }}","Descrição":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descri__o', ``, 'string') }}","ID User":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_User', ``, 'string') }}","Nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor (R$)","displayName":"Valor (R$)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID User","displayName":"ID User","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2272,496],"id":"d20d3776-7236-430d-984c-5e89ddcf86cd","name":"Adicionar","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Update row in sheet in Google Sheets","operation":"update","documentId":{"__rl":true,"value":"1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8","mode":"list","cachedResultName":"Agente Financeiro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z8DD_2MycYa18MHzlv-LcHuZrSoe38gSU6esvHzZVg8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', ``, 'string') }}","Tipo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo', ``, 'string') }}","Valor (R$)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Valor__R__', ``, 'string') }}","Categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Categoria', ``, 'string') }}","Descrição":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descri__o', ``, 'string') }}","ID User":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_User', ``, 'string') }}","Nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor (R$)","displayName":"Valor (R$)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID User","displayName":"ID User","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2400,496],"id":"839d063b-0af8-4176-949d-8d5a26f81de1","name":"Update","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Organizando dados","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar Dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Organizando dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Obter midia em base64","type":"main","index":0}],[{"node":"Obter midia em base","type":"main","index":0}]]},"Obter midia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Obter midia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Adicionar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9cac2de5-2b7e-4707-98c5-02a2f843d462","triggerCount":1,"shared":[{"updatedAt":"2025-09-30T23:57:02.988Z","createdAt":"2025-09-30T23:57:02.988Z","role":"workflow:owner","workflowId":"RDATGGyr3U4TRPbi","projectId":"G56NELttT2pGfqmo"}],"tags":[]}