agenterag.json
{"updatedAt":"2026-01-31T21:20:02.024Z","createdAt":"2025-12-17T22:29:49.754Z","id":"6xOL3aueA4zy9kNI","name":"AgenteRAG","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"0df84601-f10e-4f79-9805-1e257361f7a0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[4192,0],"id":"80410b4c-bc6e-4674-b20d-84ea6a33a0ae","name":"Webhook","webhookId":"0df84601-f10e-4f79-9805-1e257361f7a0"},{"parameters":{"promptType":"define","text":"=O usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.mensagem_usuario }}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\nResponda APENAS com o texto que deve ser enviado ao paciente,\nseguindo todas as regras do System Message.","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n\n## FUNÇÃO\nVocê é Bia um Agente de Atendimento Automatizado com CRM e Agenda integrados da personal trainer Profª Camila.\nVocê inicia, conduz e finaliza o atendimento, operando como:\n- Atendimento ao cliente\n- Pré-vendas\n- Operador de CRM\n- Orquestrador de agendamentos (Google Calendar)\n\nVocê responde sempre com eficiência, usando dados existentes antes de perguntar qualquer coisa.\n\n---\n\n## 🚨 REGRA ABSOLUTA: BLOQUEIO DE RESPOSTA SEM EXECUÇÃO\n\n**PROIBIDO ABSOLUTAMENTE:**\n\n❌ Dizer \"agendamento confirmado\" SEM ter executado a ferramenta Agendar\n❌ Responder com confirmação SEM ter recebido eventId do Google Calendar\n❌ Pular coleta de email\n❌ Assumir que tem dados que não foram coletados\n\n**REGRA DE OURO:**\n```\nSE não executou Agendar (MCP) E não recebeu eventId:\n  → NUNCA diga \"confirmado\"\n  → NUNCA envie mensagem de sucesso\n  → COLETE OS DADOS FALTANTES\n```\n\n---\n\n## 🔴 REGRA CRÍTICA: SALVAR EMAIL NO CRM IMEDIATAMENTE\n\n**SEMPRE que coletar email do cliente durante a conversa:**\n```\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[email coletado]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n**Momento de execução:**\n- ✅ Usuário informa email → SALVAR IMEDIATAMENTE no CRM\n- ✅ ANTES de prosseguir com qualquer outra ação\n- ✅ Atualizar last_interaction_at junto\n\n**Exemplo de fluxo:**\n```\nUser: \"joao@email.com\"\n\nAI: [IMEDIATAMENTE executar:]\n    Tool: up_KanbanCRM\n    {\n      \"id\": \"{{ $json.contact_id }}\",\n      \"email\": \"joao@email.com\",\n      \"last_interaction_at\": \"NOW()\"\n    }\n\nAI: [ENTÃO prosseguir com próxima pergunta]\n    \"Perfeito! Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n```\n\n---\n\n## 🔴 VALIDAÇÃO OBRIGATÓRIA ANTES DE AGENDAR\n\n**Use Think para validar TODOS os dados:**\n```\nTool: Think\n\nCHECKLIST OBRIGATÓRIO:\n1. ✅ Tenho nome? → {{ $json.nome }}\n2. ✅ Tenho telefone? → {{ $json.telefone }}\n3. ✅ Tenho EMAIL? → [verificar se existe no sistema]\n   - SE NÃO EXISTE → Perguntar e SALVAR IMEDIATAMENTE em up_KanbanCRM\n   - SE EXISTE → Usar\n4. ✅ Tenho serviço? → [verificar]\n5. ✅ Tenho data e horário? → [verificar]\n6. ✅ Tenho objetivos? → [verificar]\n7. ✅ Validei disponibilidade com Listar? → [sim/não]\n\nSE FALTAR QUALQUER ITEM:\n  → PARAR\n  → COLETAR O DADO FALTANTE\n  → SE FOR EMAIL → SALVAR IMEDIATAMENTE EM up_KanbanCRM\n  → NÃO CONFIRMAR NADA\n\nSE TIVER TODOS:\n  → Confirmar verbalmente UMA vez\n  → AGUARDAR confirmação do usuário\n  → EXECUTAR Agendar\n  → AGUARDAR eventId\n  → ENTÃO responder confirmação\n```\n\n---\n\n## FERRAMENTAS DISPONÍVEIS\n\n### 🔵 CONSULTA\n- **buscar_conversations** - Histórico de mensagens\n- **buscar_appointments** - Agendamentos existentes\n- **Supabase Vector Store** - FAQs\n\n### 🟢 AGENDAMENTO (MCP_Agendamento_Personal) ⭐\n- **Listar** - Ver agendamentos (validar disponibilidade)\n- **Agendar** - CRIAR agendamento (RETORNA eventId)\n- **Reagendar** - ALTERAR agendamento (requer eventId validado)\n- **Deletar** - CANCELAR agendamento (requer eventId validado)\n\n### 🟡 CRM\n- **up_KanbanCRM** - Atualizar contacts (id, email, name, kanban_stage, status, last_interaction_at)\n- **update_appointments** - Salvar appointments\n- **up_ContactEvents** - Registrar eventos\n- **update_conversation** - Salvar mensagens\n\n### 🟠 RACIOCÍNIO\n- **Think** - OBRIGATÓRIO para validação\n\n---\n\n## CONTEXTO DISPONÍVEL\n\n- `contact_id` → {{ $json.contact_id }}\n- `name` → {{ $json.nome }}\n- `phone` → {{ $json.telefone }}\n- `email` → **VERIFICAR SE EXISTE - SE NÃO, COLETAR E SALVAR EM up_KanbanCRM**\n\n---\n\n## ETAPA 0: BUSCAR CONTEXTO\n\n**SEMPRE ao iniciar:**\n\n1. `buscar_conversations` (filtrar por {{ $json.telefone }})\n2. `buscar_appointments` (filtrar por {{ $json.telefone }})\n3. **Think: Armazenar dados recuperados, incluindo se email existe**\n\n**Resposta:**\n```\nOlá {{ $json.nome }}! Tudo bem?\n\n[Se tiver agendamento]: Vi que você tem [serviço] agendado para [data] às [hora].\n\nComo posso te ajudar?\n```\n\n---\n\n## FLUXO: CRIAR AGENDAMENTO\n\n### PASSO 1: VALIDAÇÃO DE DADOS (OBRIGATÓRIO)\n```\nTool: Think\n\nVALIDAR:\n1. Nome: {{ $json.nome }} ✅\n2. Telefone: {{ $json.telefone }} ✅\n3. Email: [EXISTE NO SISTEMA?]\n   - SE SIM → Usar\n   - SE NÃO → COLETAR E SALVAR IMEDIATAMENTE\n4. Serviço: [FOI INFORMADO?]\n   - SE NÃO → PERGUNTAR\n5. Data/horário: [FOI INFORMADO?]\n   - SE NÃO → PERGUNTAR\n6. Objetivos: [FORAM INFORMADOS?]\n   - SE NÃO → PERGUNTAR\n\nRESULTADO:\n- Falta email? → Parar e perguntar: \"Para agendar, preciso do seu email.\"\n- Falta serviço? → Parar e perguntar: \"Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n- Falta horário? → Parar e perguntar: \"Qual data e horário prefere?\"\n- Falta objetivos? → Parar e perguntar: \"Quais seus objetivos?\"\n\nSOMENTE QUANDO TIVER TODOS → Prosseguir para Passo 2\n```\n\n### PASSO 1.5: SALVAR EMAIL NO CRM (SE COLETADO AGORA)\n\n**Quando usuário informar o email:**\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[email informado pelo usuário]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n**🚨 EXECUTAR IMEDIATAMENTE após receber o email, ANTES de prosseguir.**\n\n**Exemplo:**\n```\nUser: \"meu email é joao@email.com\"\n\nAI: [IMEDIATAMENTE executar:]\n    Tool: up_KanbanCRM\n    {\n      \"id\": \"{{ $json.contact_id }}\",\n      \"email\": \"joao@email.com\",\n      \"last_interaction_at\": \"NOW()\"\n    }\n\nAI: [ENTÃO prosseguir:]\n    \"Perfeito! Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n```\n\n### PASSO 2: VALIDAR DISPONIBILIDADE\n```\nTool: Listar (MCP)\n\nTool: Think\nAnalisar: O horário solicitado está livre?\n\nSE OCUPADO:\n  → Informar: \"Esse horário já está ocupado. Horários disponíveis: [sugestões]\"\n  → Aguardar nova escolha\n  → VOLTAR ao Passo 2\n\nSE LIVRE:\n  → Prosseguir para Passo 3\n```\n\n### PASSO 3: CONFIRMAR VERBALMENTE\n```\nConfirma [Serviço] para [data] das [hora início] às [hora fim]?\n```\n\n**AGUARDAR resposta do usuário.**\n\n### PASSO 4: EXECUTAR AGENDAMENTO\n\n**SOMENTE quando usuário confirmar (\"sim\", \"confirmo\", \"ok\", \"pode agendar\"):**\n```json\nTool: Agendar (MCP)\n{\n  \"calendar\": \"brunomaladasilva@gmail.com\",\n  \"description\": \"[Objetivos em 2-5 frases]\",\n  \"start\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"end\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"additionalFields\": {\n    \"summary\": \"{{ $json.nome }} - [Serviço]\",\n    \"attendees\": [{\"email\": \"[EMAIL já salvo no CRM]\"}],\n    \"location\": \"Campinas, São Paulo, Brasil\",\n    \"timeZone\": \"America/Sao_Paulo\",\n    \"reminders\": [\n      {\"minutesBefore\": 1440},\n      {\"minutesBefore\": 120}\n    ]\n  }\n}\n```\n\n**🚨 CRÍTICO: Espere o retorno da ferramenta!**\n\n### PASSO 5: AGUARDAR RETORNO DO GOOGLE CALENDAR\n```\nFerramenta Agendar retorna: eventId = \"abc123xyz\"\n\nTool: Think\nArmazenar: eventId = \"abc123xyz\"\nStatus: Agendamento criado com sucesso no Google Calendar\n```\n\n**SOMENTE APÓS receber eventId → Prosseguir para Passo 6**\n\n### PASSO 6: SALVAR NO BANCO DE DADOS\n```json\nTool: update_appointments\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"service\": \"[Serviço]\",\n  \"start_time\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"end_time\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"calendar_event_id\": \"[eventId recebido]\",\n  \"status\": \"scheduled\"\n}\n\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"kanban_stage\": \"agendado\",\n  \"status\": \"agendado\",\n  \"last_interaction_at\": \"NOW()\"\n}\n\nTool: up_ContactEvents\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"event_type\": \"agendamento\",\n  \"description\": \"Agendamento criado: [Serviço] em [data] às [hora]\"\n}\n\nTool: update_conversation\n(salvar todas as mensagens trocadas)\n```\n\n### PASSO 7: SOMENTE ENTÃO RESPONDER AO CLIENTE\n```\n✅ Agendamento confirmado com sucesso!\n\n📋 Detalhes:\n- Nome: {{ $json.nome }}\n- Celular: {{ $json.telefone }}\n- Data e Horário: [DD/MM] - [HH]h às [HH]h\n- Serviço: [Serviço]\n\n📨 Convite enviado para: [email salvo no CRM]\n```\n\n---\n\n## 🔴 EXEMPLO COMPLETO COM SALVAMENTO DE EMAIL\n\n**Conversa CORRETA com salvamento de email:**\n```\n✅ User: \"Quero treinar amanhã 14h\"\n\n✅ AI: [buscar_conversations, buscar_appointments]\n\n✅ AI: [Think: \n     Nome: João Silva ✅\n     Telefone: (19) 98765-4321 ✅\n     Email: NÃO EXISTE no sistema ❌\n     Serviço: NÃO INFORMADO ❌\n     Horário: 14h ✅\n     Objetivos: NÃO INFORMADOS ❌\n     \n     FALTAM: email, serviço, objetivos\n     AÇÃO: Coletar email PRIMEIRO e salvar no CRM\n   ]\n\n✅ AI: \"Olá João! Para agendar, preciso do seu email.\"\n\n✅ User: \"joao@email.com\"\n\n✅ AI: [IMEDIATAMENTE executar:]\n       Tool: up_KanbanCRM\n       {\n         \"id\": \"{{ $json.contact_id }}\",\n         \"email\": \"joao@email.com\",\n         \"last_interaction_at\": \"NOW()\"\n       }\n\n✅ AI: [Think: Email salvo no CRM ✅. Agora coletar serviço e objetivos.]\n\n✅ AI: \"Perfeito! Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n\n✅ User: \"Personal\"\n\n✅ AI: \"Quais seus objetivos?\"\n\n✅ User: \"Emagrecer 10kg\"\n\n✅ AI: [Think:\n     AGORA tenho TODOS os dados:\n     Nome: João Silva ✅\n     Telefone: (19) 98765-4321 ✅\n     Email: joao@email.com ✅ (SALVO NO CRM)\n     Serviço: Personal Training ✅\n     Horário: amanhã 14h ✅\n     Objetivos: emagrecer 10kg ✅\n     \n     Próximo: Validar disponibilidade\n   ]\n\n✅ AI: [Listar → horário 14h livre]\n\n✅ AI: \"Confirma Personal Training para 29/01 das 14h às 15h?\"\n\n✅ User: \"Sim\"\n\n✅ AI: [Agendar (MCP) → executa com email do CRM]\n\n✅ AI: [Recebe eventId: \"abc123\"]\n\n✅ AI: [update_appointments, up_KanbanCRM (kanban_stage: agendado), up_ContactEvents, update_conversation]\n\n✅ AI: \"✅ Agendamento confirmado com sucesso!\n\n📋 Detalhes:\n- Nome: João Silva\n- Celular: (19) 98765-4321\n- Data e Horário: 29/01 - 14h às 15h\n- Serviço: Personal Training\n\n📨 Convite enviado para: joao@email.com\"\n```\n\n---\n\n## 🔴 EXEMPLO: ATUALIZAR OUTROS CAMPOS DO CRM\n\n**Quando coletar/atualizar QUALQUER informação do cliente:**\n\n### Atualizar nome (se corrigido):\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"name\": \"[Nome correto]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n### Atualizar email (sempre que coletado):\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[Email informado]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n### Atualizar kanban_stage:\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"kanban_stage\": \"agendado\",\n  \"status\": \"agendado\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n### Atualizar múltiplos campos ao mesmo tempo:\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[email]\",\n  \"kanban_stage\": \"agendado\",\n  \"status\": \"agendado\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n---\n\n## 🔴 REGRAS DE BLOQUEIO ABSOLUTO\n\n### BLOQUEIO 1: NÃO TEM EMAIL\n```\nSE email NÃO existe no sistema:\n  → PARAR\n  → Perguntar: \"Para agendar, preciso do seu email.\"\n  → AGUARDAR resposta\n  → SALVAR IMEDIATAMENTE em up_KanbanCRM\n  → NUNCA prosseguir sem salvar\n```\n\n### BLOQUEIO 2: NÃO VALIDOU DISPONIBILIDADE\n```\nSE não chamou Listar (MCP):\n  → PARAR\n  → Chamar Listar\n  → Validar horário\n  → NUNCA agendar sem validar\n```\n\n### BLOQUEIO 3: NÃO EXECUTOU FERRAMENTA\n```\nSE não chamou Agendar (MCP):\n  → PARAR\n  → NUNCA dizer \"confirmado\"\n  → NUNCA enviar mensagem de sucesso\n```\n\n### BLOQUEIO 4: NÃO RECEBEU EVENTID\n```\nSE Agendar (MCP) não retornou eventId:\n  → PARAR\n  → Informar erro: \"Houve um problema ao criar o agendamento. Pode tentar novamente?\"\n  → NUNCA dizer que está confirmado\n```\n\n### É PROIBIDO encerrar o atendimento ou responder confirmação ao usuário sem executar TODAS as ações abaixo, NESTA ORDEM:\n\nSE eventId foi recebido DO Google Calendar:\nOBRIGATÓRIO EXECUTAR, NESTA ORDEM:\n\n1️⃣ Tool: update_appointments\n2️⃣ Tool: up_ContactEvents\n3️⃣ Tool: update_conversation\n\nSOMENTE APÓS AS 3 EXECUÇÕES:\n→ O agente está AUTORIZADO a responder ao usuário\nSE qualquer uma dessas tools NÃO for executada:\n→ NÃO responder ao usuário\n→ NÃO dizer \"confirmado\"\n→ NÃO finalizar atendimento\n\n---\n\n## 🔴 VALIDAÇÃO COM THINK (OBRIGATÓRIA)\n\n**ANTES de confirmar QUALQUER agendamento:**\n```\nTool: Think\n\nVALIDAÇÃO FINAL:\n1. ✅ Tenho nome? {{ $json.nome }}\n2. ✅ Tenho telefone? {{ $json.telefone }}\n3. ✅ Tenho EMAIL? [verificar]\n   - SE coletei agora → JÁ SALVEI em up_KanbanCRM? ✅\n   - SE já existia → Posso usar ✅\n4. ✅ Tenho serviço? [verificar]\n5. ✅ Tenho data/horário? [verificar]\n6. ✅ Tenho objetivos? [verificar]\n7. ✅ Validei disponibilidade? [sim/não]\n8. ✅ Horário está livre? [sim/não]\n\nSE QUALQUER ITEM FALTAR:\n  → COLETAR AGORA\n  → SE FOR EMAIL → SALVAR em up_KanbanCRM IMEDIATAMENTE\n  → NÃO PROSSEGUIR\n\nSE TODOS PRESENTES:\n  → Confirmar verbalmente\n  → Executar Agendar\n  → Aguardar eventId\n  → Salvar no banco\n  → ENTÃO responder confirmação\n```\n\n---\n\n## 🔐 SEGURANÇA: ISOLAMENTO POR TELEFONE\n\n**Todas as operações devem filtrar por:**\n```\nphone = {{ $json.telefone }}\n```\n\n**Ao listar/reagendar/deletar:**\n```\nTool: Think\nValidar: O eventId pertence a {{ $json.telefone }}?\n\nSE NÃO:\n  → BLOQUEAR\n  → \"Não encontrei esse agendamento.\"\n\nSE SIM:\n  → Prosseguir\n```\n\n---\n\n## FLUXO: REAGENDAMENTO\n\n### PASSO 1: BUSCAR E VALIDAR EVENTID\n```\nTool: Listar (MCP)\n\nTool: Think\n1. Encontrei o agendamento?\n2. Pertence a {{ $json.telefone }}?\n3. SE NÃO → BLOQUEAR\n4. SE SIM → Armazenar eventId\n```\n\n### PASSO 2: COLETAR NOVO HORÁRIO\n```\nPara qual horário gostaria de remarcar?\n```\n\n### PASSO 3: VALIDAR DISPONIBILIDADE\n```\nTool: Listar (MCP)\n\nTool: Think\nNovo horário está livre?\nSE NÃO → Sugerir alternativas\nSE SIM → Prosseguir\n```\n\n### PASSO 4: CONFIRMAR\n```\nConfirma mudança de [data antiga] [hora antiga] para [data nova] [hora nova]?\n```\n\n### PASSO 5: EXECUTAR\n```json\nTool: Reagendar (MCP)\n{\n  \"eventId\": \"[ID validado]\",\n  \"start\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"end\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"additionalFields\": {\n    \"summary\": \"{{ $json.nome }} - [Serviço]\",\n    \"attendees\": [{\"email\": \"[email do CRM]\"}],\n    \"location\": \"Campinas, São Paulo, Brasil\",\n    \"timeZone\": \"America/Sao_Paulo\",\n    \"reminders\": [\n      {\"minutesBefore\": 1440},\n      {\"minutesBefore\": 120}\n    ]\n  }\n}\n```\n\n### PASSO 6: ATUALIZAR BANCO E RESPONDER\n```json\nTool: update_appointments (se tiver update configurado)\n\nTool: up_ContactEvents\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"event_type\": \"reagendamento\",\n  \"description\": \"Reagendamento: de [data antiga] para [data nova]\"\n}\n\nTool: update_conversation\n```\n\n**Responder:**\n```\n✅ Agendamento alterado com sucesso!\n\n📋 Novo horário:\n- Nome: {{ $json.nome }}\n- Celular: {{ $json.telefone }}\n- Data e Horário: [DD/MM] - [HH]h\n- Serviço: [Serviço]\n\n📨 Convite atualizado enviado para: [email do CRM]\n```\n\n---\n\n## FLUXO: CANCELAMENTO\n\n### PASSO 1: BUSCAR E VALIDAR\n```\nTool: Listar (MCP)\n\nTool: Think\nValidar: eventId pertence a {{ $json.telefone }}?\n```\n\n### PASSO 2: CONFIRMAR\n```\nConfirma cancelamento de [data] às [hora]?\n```\n\n### PASSO 3: EXECUTAR\n```json\nTool: Deletar (MCP)\n{\n  \"eventId\": \"[ID validado]\"\n}\n```\n\n### PASSO 4: ATUALIZAR BANCO\n```json\nTool: update_appointments\n{\n  \"calendar_event_id\": \"[eventId]\",\n  \"status\": \"cancelled\"\n}\n\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"kanban_stage\": \"perdido\",\n  \"status\": \"perdido\",\n  \"last_interaction_at\": \"NOW()\"\n}\n\nTool: up_ContactEvents\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"event_type\": \"cancelamento\",\n  \"description\": \"Agendamento cancelado pelo cliente\"\n}\n\nTool: update_conversation\n```\n\n**Responder:**\n```\nAgendamento cancelado com sucesso.\n\nSe mudar de ideia, estamos aqui para te ajudar!\n```\n\n---\n\n## ❌ ERROS FATAIS - NUNCA FAÇA\n\n❌ Dizer \"confirmado\" sem executar Agendar\n❌ Pular coleta de email\n❌ Coletar email e NÃO salvar em up_KanbanCRM\n❌ Assumir que tem dados\n❌ Agendar sem validar disponibilidade\n❌ Responder sem receber eventId\n❌ Confirmar múltiplas vezes\n\n---\n\n## ✅ CHECKLIST FINAL\n\n**Quando coletar email:**\n✅ Salvei imediatamente em up_KanbanCRM?\n✅ Atualizei last_interaction_at?\n\n**Antes de dizer \"confirmado\":**\n✅ Email está salvo no CRM?\n✅ Executei Agendar (MCP)?\n✅ Recebi eventId do Google Calendar?\n✅ Salvei em update_appointments?\n✅ Atualizei up_KanbanCRM (kanban_stage: agendado)?\n✅ Registrei em up_ContactEvents?\n✅ Salvei conversas?\n\n**SE QUALQUER ITEM = NÃO:**\n→ NÃO RESPONDA \"CONFIRMADO\"\n\n---\n\n## 💬 TOM\n\n- Curto e direto\n- Profissional mas humano\n- Máximo 2 emojis por mensagem\n\n---\n\n## 🎯 OBJETIVO\n\n✅ COLETAR dados faltantes\n✅ SALVAR email no CRM imediatamente quando coletado\n✅ VALIDAR disponibilidade\n✅ EXECUTAR ferramentas\n✅ AGUARDAR retorno (eventId)\n✅ ENTÃO responder confirmação\n\n**NUNCA confirme sem executar. NUNCA execute sem validar. SEMPRE salve email no CRM.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6192,0],"id":"dd448274-11cf-4a3f-be08-f0dad1395a12","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[5856,240],"id":"3a2ff679-7cc0-4088-a35c-09607a22feca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[6000,240],"id":"04ae9e87-f1f7-489a-99aa-e1003b68608e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Zs7WcxE92Q90lOWY","name":"Postgres RAG"}}},{"parameters":{"resource":"messages-api","instanceName":"RAG","remoteJid":"={{ $('Organizar Dados').item.json.telefone }}","messageText":"={{ $json.respostas }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[8000,32],"id":"f628565e-4010-44a9-a32a-789f7b99bf27","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Aqui tem tudo sobre o FAQ de perguntas frequentes sobre a faculdade","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[6128,256],"id":"8e11b1ee-b4d6-4e48-8fd4-d073f96b031a","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[6128,432],"id":"041d72bd-9906-40e7-949c-b372b9ac407e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4832,816],"id":"686ca85e-d37c-418a-8fd0-e182b85395a6","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4832,1008],"id":"5fd59cd2-a18b-4bd6-b263-cd5ba1fd68c8","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[5024,992],"id":"902e3e0d-e6d8-4338-8969-c619c758ad9e","name":"Default Data Loader"},{"parameters":{"fieldToSplitOut":"respostas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[7552,16],"id":"cabb2e71-ed19-48e8-bffc-0a6aba083fd8","name":"Split Out"},{"parameters":{"content":"## Webhook e formatação com Edit Field\n**Recebimento de mensagem e formatação dos dados**","height":416,"width":416},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4112,-160],"id":"82ec0e22-2fb0-4250-85b8-00aa4444cfc0","name":"Sticky Note"},{"parameters":{"content":"## Agente de IA com base de conhecimento sobre o FAQ\n**Informações sobre o FAQ no banco vetorial**","height":704,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5744,-144],"id":"93ceab2d-4e0b-4f93-8a82-9f7fb8e07276","name":"Sticky Note1"},{"parameters":{"content":"## Quebra e envio de mensagens via Evolution API\n\n**Envio de mensagens quebradas e pausadas simulando um humano**","height":464,"width":1152,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7296,-144],"id":"403769d7-4d3e-474a-9e10-0261f3fed97f","name":"Sticky Note3"},{"parameters":{"content":"# Cria o embedding dos arquivos upload para o agente RAG do nosso atendente","height":720,"width":1248,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4112,624],"id":"55e1087b-c221-4657-b31d-b6e28f21c5c6","name":"Sticky Note5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4384,816],"id":"5623a2ef-4186-4759-8103-56ba333ea1d7","name":"Obter Dados Drive","credentials":{"googleDriveOAuth2Api":{"id":"dYuCJT526nkIgyfF","name":"Google Drive"}}},{"parameters":{"separator":"4000","chunkSize":800},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[5024,1168],"id":"1f312e9e-22cb-41eb-8541-310a5d9ce831","name":"Separador de textos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8256,32],"id":"1519fc13-b66b-4381-b04e-a15e96cd99b0","name":"Pausa","webhookId":"cbe31973-12c2-4193-948b-5e8f6771ff7d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[7760,16],"id":"d97170df-a6ce-41d3-9d03-453a05506b9f","name":"Loop"},{"parameters":{"assignments":{"assignments":[{"id":"3119deff-f687-48c5-a0c1-0a2255b8887b","name":"respostas","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7376,16],"id":"14946dc6-66c0-4262-9cf7-65c4d9033026","name":"Preparar Dados"},{"parameters":{"assignments":{"assignments":[{"id":"1d7a966a-ca50-49cc-bdf3-048609262428","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"c3ea82c9-c3f2-4d67-9a32-c82dab9bc2cf","name":"nome_usuario","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"fa34f4d1-4743-48a5-b92a-f17610de2034","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4400,0],"id":"8c3848ee-5a3b-4bc1-a092-825c230d96e3","name":"Organizar Dados"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[4576,816],"id":"5d742b83-8ce9-4204-9e67-e2528043a3f1","name":"Extrair Textos"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1gAiHB6jU9NznXbyESfypjRXyFSNUR5wL","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1gAiHB6jU9NznXbyESfypjRXyFSNUR5wL"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[4160,816],"id":"5766d95e-d74d-4b9c-b053-20f470bc368c","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"dYuCJT526nkIgyfF","name":"Google Drive"}}},{"parameters":{"endpointUrl":"https://n8n-n8n.rd7jsk.easypanel.host/mcp/Agendamento","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[6352,384],"id":"bbca57d1-f44c-4651-969c-edd154cdcece","name":"MCP Client"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6448,288],"id":"be2a8202-6b98-46f0-8c9d-dc175c65b70a","name":"Think"},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4592,0],"id":"fda2d5a7-467f-4b0f-be5c-786f316b749a","name":"Buscar_User","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"189d60d6-0d15-495a-a254-84018c2e9ef1","leftValue":"={{ $json.created_at }}","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4752,0],"id":"f7df81b4-2db8-4e67-9b1d-dd212d15ccba","name":"if_user"},{"parameters":{"tableId":"contacts","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Organizar Dados').item.json.telefone }}"},{"fieldId":"name","fieldValue":"={{ $('Organizar Dados').item.json.nome_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4912,-112],"id":"0b7a1ed7-716c-4f18-a614-ce56bc524cdf","name":"Crear_user","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"assignments":{"assignments":[{"id":"2609c16a-572d-494b-adbc-c60f8e9b5231","name":"contact_id","value":"={{ $json.id ?? $('Set_default_contact').item.json.contact_id }}","type":"string"},{"id":"197afe87-b391-425e-a7fb-ca85df8c637d","name":"telefone","value":"={{ $json.phone ?? $('Organizar Dados').item.json.telefone }}","type":"string"},{"id":"a7ede9f8-bb00-47d9-858d-db0852a7160a","name":"mensagem_usuario","value":"={{ $('Organizar Dados').item.json.mensagem }}","type":"string"},{"id":"6587fb1b-5cc1-4471-9550-dac1c1343ccd","name":"tipo_mensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"2526aeea-4ded-4f96-8583-454c0c112875","name":"nome","value":"={{ $('Organizar Dados').item.json.nome_usuario ?? 'Não informado' }}","type":"string"},{"id":"90ce7d53-e571-4d86-9528-2491895e4f4e","name":"email","value":"={{ $json.email ?? null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5552,0],"id":"0311ab3e-0f20-4cea-a281-bc0674e5db5d","name":"SET_CONTEXT_AGENT"},{"parameters":{"tableId":"conversations","fieldsUi":{"fieldValues":[{"fieldId":"contact_id","fieldValue":"={{ $json.contact_id }}"},{"fieldId":"direction","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Direção da mensagem: 'inbound' (do usuário) ou 'outbound' (do agente)`, 'string') }}"},{"fieldId":"message_type","fieldValue":"={{ $json.tipo_mensagem }}"},{"fieldId":"message","fieldValue":"={{ $json.mensagem_usuario }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6800,256],"id":"225dbe55-00fa-43cf-b2d4-777b536fc324","name":"up_conversation","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"update","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"kanban_stage","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Estágio do Kanban - valores possíveis: 'lead', 'em_atendimento', 'agendado', 'compareceu', 'convertido', 'perdido'`, 'string') }}"},{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Email do contato (obrigatorio,  coletar o email e preencher esse campo)`, 'string') }}"},{"fieldId":"last_interaction_at","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Timestamp da última interação - use 'NOW()' ou formato ISO 8601`, 'string') }}"},{"fieldId":"phone","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `Numero do telefone do cliente`, 'string') }}"},{"fieldId":"name","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', `Nome completo do contato`, 'string') }}"},{"fieldId":"channel","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', `Local de onde veio o contato do cliente`, 'string') }}"},{"fieldId":"status","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', `Status do contato (geralmente igual ao kanban_stage)`, 'string') }}"},{"fieldId":"updated_at","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues7_Field_Value', `Data e horario da ultima atualização `, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6960,256],"id":"ef173541-1930-4914-b31c-7ffa9b0282db","name":"up_KanbanCRM","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"tableId":"contact_events","fieldsUi":{"fieldValues":[{"fieldId":"contact_id","fieldValue":"={{ $json.contact_id }}"},{"fieldId":"event_type","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Tipo de evento para auditoria. Valores possíveis: 'first_contact' (primeiro contato), 'agendamento' (novo agendamento criado), 'reagendamento' (horário alterado), 'cancelamento' (agendamento cancelado), 'status_change' (mudança de estágio no funil), 'conversion' (cliente converteu). Use o valor mais apropriado para cada situação.`, 'string') }}"},{"fieldId":"description","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Descrição detalhada do evento para registro de auditoria. Deve incluir informações importantes como: data/hora, serviço, detalhes da mudança, razão do cancelamento, etc. Seja específico para facilitar consultas futuras. Exemplo: 'Agendamento criado: Personal Training em 29/01/2026 às 14h' ou 'Cliente cancelou agendamento devido a compromisso de trabalho'.`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6800,400],"id":"1338f438-9d0f-4864-b3ac-892b260193c7","name":"up_ContactEvents","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"tableId":"appointments","fieldsUi":{"fieldValues":[{"fieldId":"service","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Serviço de interesse do cliente: 'Personal Training', 'Avaliação Física', 'Consultoria Nutricional' (opcional)`, 'string') }}"},{"fieldId":"start_time","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Data e horario inicial`, 'string') }}"},{"fieldId":"end_time","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Data e horario inicial + 1 hora`, 'string') }}"},{"fieldId":"calendar_event_id","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `ID do evento retornado pelo Google Calendar após criar o agendamento usando a ferramenta MCP Agendar (obrigatório)`, 'string') }}"},{"fieldId":"status","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', `Status do agendamento. \nValores possíveis: 'scheduled' (agendado e aguardando), 'confirmed' (confirmado pelo cliente), 'completed' (cliente compareceu), 'cancelled' (cancelado), 'no_show' (cliente faltou). \nUse 'scheduled' por padrão ao criar novo agendamento.`, 'string') }}"},{"fieldId":"contact_id","fieldValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6960,400],"id":"01659a16-9b9a-4d82-871d-7cd09865b74a","name":"up_appointments","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"getAll","tableId":"appointments","limit":15,"filters":{"conditions":[{"keyName":"contact_id","condition":"eq","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7120,256],"id":"d06b6534-bb9f-40bb-86c4-7b1e95d0bfbf","name":"buscar_appointments","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"getAll","tableId":"conversations","limit":15,"filters":{"conditions":[{"keyName":"contact_id","condition":"eq","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7120,400],"id":"f4ca5e86-c135-4c75-8cc1-acc369af81be","name":"buscar_conversations","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"content":"## Banco de Dados consultar e atualização do (CRM)","height":480,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6624,80],"id":"70317a69-a34a-48c7-8bd9-74531dcc7550","name":"Sticky Note2"},{"parameters":{"content":"## Checagem de lead  conhecidos e cadastro de lead novo ","height":704,"width":1152,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4544,-176],"id":"f4dc0324-daf3-4cd7-8c79-c8dee1354144","name":"Sticky Note4"},{"parameters":{"operation":"update","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Organizar Dados').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"name","fieldValue":"={{ $json.name }}"},{"fieldId":"email","fieldValue":"={{ $json.email }}"},{"fieldId":"channel","fieldValue":"={{ $json.channel }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"kanban_stage","fieldValue":"={{ $json.kanban_stage }}"},{"fieldId":"first_contact_at","fieldValue":"={{ $json.first_contact_at }}"},{"fieldId":"last_interaction_at","fieldValue":"={{ $json.last_interaction_at }}"},{"fieldId":"created_at","fieldValue":"={{ $json.created_at }}"},{"fieldId":"updated_at","fieldValue":"={{ $json.updated_at }}"},{"fieldId":"id","fieldValue":"={{ $json.id ?? $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5088,64],"id":"1b471219-6c84-4f22-8346-5a320c2d6191","name":"insert_contacts","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"update","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Organizar Dados').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"name","fieldValue":"={{ $json.name }}"},{"fieldId":"email","fieldValue":"={{ $json.email }}"},{"fieldId":"channel","fieldValue":"={{ $json.channel }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"kanban_stage","fieldValue":"={{ $json.kanban_stage }}"},{"fieldId":"first_contact_at","fieldValue":"={{ $json.first_contact_at }}"},{"fieldId":"last_interaction_at","fieldValue":"={{ $json.last_interaction_at }}"},{"fieldId":"created_at","fieldValue":"={{ $json.created_at }}"},{"fieldId":"updated_at","fieldValue":"={{ $json.updated_at }}"},{"fieldId":"id","fieldValue":"={{ $json.id ?? $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5264,-112],"id":"cb01b663-5bdd-4131-a6be-e59e16d4366d","name":"insert_contacts1","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"assignments":{"assignments":[{"id":"62b0b1f7-1a93-43cc-bc22-d714e5a87618","name":"contact_id","value":"={{ $json.id ?? $json.contact_id }}","type":"string"},{"id":"144f04d3-302e-4033-ada0-4df0cdc16873","name":"phone","value":"={{ $json.phone }}","type":"string"},{"id":"24c46a0d-6069-41c9-9c4f-6551934363d4","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"93a7a6f4-7e6e-4def-a299-674305655da8","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"6f056687-88c1-4442-a654-ea4dbfb82ca6","name":"mensagem_usuario","value":"={{ $('Organizar Dados').item.json.mensagem }}","type":"string"},{"id":"d11663f6-10f4-49df-ac28-162e55c9ac7e","name":"tipo_mensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"008b652f-4968-4432-b854-9ddc499ae17a","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"677e7caf-30e2-448a-b710-95bee9b9dd37","name":"kanban_stage","value":"={{ $json.kanban_stage }}","type":"string"},{"id":"cc499b7a-152d-406f-9bcf-b6b601ec1ab7","name":"first_contact_at","value":"={{ $json.first_contact_at }}","type":"string"},{"id":"e31ea1e3-a3e0-4f78-ae44-9fe769691f74","name":"last_interaction_at","value":"={{ $json.last_interaction_at }}","type":"string"},{"id":"ed2e75ab-97ca-42cf-a4d5-9b0286ca55ec","name":"created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"cc482965-5a78-4774-9149-f2d0717c449a","name":"updated_at","value":"={{ $json.updated_at }}","type":"string"},{"id":"80d404c1-e692-4524-a5cb-299472d9ef83","name":"channel","value":"={{ $json.channel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5088,-112],"id":"b1dcaee9-8241-47f1-90c3-89b3519ad764","name":"SET_DEFAULT_USER3"}],"connections":{"Webhook":{"main":[[{"node":"Organizar Dados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Preparar Dados","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Split Out":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Obter Dados Drive":{"main":[[{"node":"Extrair Textos","type":"main","index":0}]]},"Separador de textos":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pausa":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Preparar Dados":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Organizar Dados":{"main":[[{"node":"Buscar_User","type":"main","index":0}]]},"Extrair Textos":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Obter Dados Drive","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar_User":{"main":[[{"node":"if_user","type":"main","index":0}]]},"if_user":{"main":[[{"node":"Crear_user","type":"main","index":0}],[{"node":"insert_contacts","type":"main","index":0}]]},"Crear_user":{"main":[[{"node":"SET_DEFAULT_USER3","type":"main","index":0}]]},"SET_CONTEXT_AGENT":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"up_conversation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"up_KanbanCRM":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"up_ContactEvents":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"up_appointments":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_appointments":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_conversations":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"insert_contacts":{"main":[[{"node":"SET_CONTEXT_AGENT","type":"main","index":0}]]},"insert_contacts1":{"main":[[{"node":"SET_CONTEXT_AGENT","type":"main","index":0}]]},"SET_DEFAULT_USER3":{"main":[[{"node":"insert_contacts1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2026-01-31T21:20:07Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.rd7jsk.easypanel.host","user-agent":"axios/1.13.2","content-length":"1429","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n-n8n.rd7jsk.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fd685c61e443","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"RAG","data":{"key":{"remoteJid":"5519999798080@s.whatsapp.net","remoteJidAlt":"5519999798080@s.whatsapp.net","fromMe":false,"id":"3A01E7CD7A32B76699EC","participant":"","addressingMode":"lid"},"pushName":"Bruno Maia","status":"DELIVERY_ACK","message":{"conversation":"Ola tudo bom?","messageContextInfo":{"threadId":[],"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderTimestamp":{"low":1769695735,"high":0,"unsigned":true},"recipientKeyHash":{"0":47,"1":179,"2":122,"3":14,"4":125,"5":191,"6":157,"7":62,"8":55,"9":23},"recipientTimestamp":{"low":1769121510,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":96,"1":30,"2":3,"3":132,"4":13,"5":55,"6":171,"7":111,"8":180,"9":25,"10":46,"11":112,"12":22,"13":237,"14":140,"15":102,"16":13,"17":46,"18":190,"19":216,"20":197,"21":172,"22":146,"23":152,"24":179,"25":125,"26":79,"27":38,"28":184,"29":116,"30":205,"31":129}}},"messageType":"conversation","messageTimestamp":1769721880,"instanceId":"c3e146dd-429c-4331-906b-98032497d02d","source":"ios"},"destination":"https://n8n-n8n.rd7jsk.easypanel.host/webhook/0df84601-f10e-4f79-9805-1e257361f7a0","date_time":"2026-01-29T18:24:40.536Z","sender":"5519984435930@s.whatsapp.net","server_url":"https://evolution-evolution-api.rd7jsk.easypanel.host","apikey":"1E0F6CB56EE6-422B-ADAC-8DF9B96C2FF4"},"webhookUrl":"https://n8n-n8n.rd7jsk.easypanel.host/webhook/0df84601-f10e-4f79-9805-1e257361f7a0","executionMode":"production"}}]},"versionId":"824ba6ef-c00b-4905-9641-b1f2e1822c38","activeVersionId":"824ba6ef-c00b-4905-9641-b1f2e1822c38","triggerCount":2,"shared":[{"updatedAt":"2025-12-17T22:29:49.758Z","createdAt":"2025-12-17T22:29:49.758Z","role":"workflow:owner","workflowId":"6xOL3aueA4zy9kNI","projectId":"G56NELttT2pGfqmo"}],"activeVersion":{"updatedAt":"2026-01-31T21:20:07.000Z","createdAt":"2026-01-31T21:20:02.038Z","versionId":"824ba6ef-c00b-4905-9641-b1f2e1822c38","workflowId":"6xOL3aueA4zy9kNI","nodes":[{"parameters":{"httpMethod":"POST","path":"0df84601-f10e-4f79-9805-1e257361f7a0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[4192,0],"id":"80410b4c-bc6e-4674-b20d-84ea6a33a0ae","name":"Webhook","webhookId":"0df84601-f10e-4f79-9805-1e257361f7a0"},{"parameters":{"promptType":"define","text":"=O usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.mensagem_usuario }}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\nResponda APENAS com o texto que deve ser enviado ao paciente,\nseguindo todas as regras do System Message.","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n\n## FUNÇÃO\nVocê é Bia um Agente de Atendimento Automatizado com CRM e Agenda integrados da personal trainer Profª Camila.\nVocê inicia, conduz e finaliza o atendimento, operando como:\n- Atendimento ao cliente\n- Pré-vendas\n- Operador de CRM\n- Orquestrador de agendamentos (Google Calendar)\n\nVocê responde sempre com eficiência, usando dados existentes antes de perguntar qualquer coisa.\n\n---\n\n## 🚨 REGRA ABSOLUTA: BLOQUEIO DE RESPOSTA SEM EXECUÇÃO\n\n**PROIBIDO ABSOLUTAMENTE:**\n\n❌ Dizer \"agendamento confirmado\" SEM ter executado a ferramenta Agendar\n❌ Responder com confirmação SEM ter recebido eventId do Google Calendar\n❌ Pular coleta de email\n❌ Assumir que tem dados que não foram coletados\n\n**REGRA DE OURO:**\n```\nSE não executou Agendar (MCP) E não recebeu eventId:\n  → NUNCA diga \"confirmado\"\n  → NUNCA envie mensagem de sucesso\n  → COLETE OS DADOS FALTANTES\n```\n\n---\n\n## 🔴 REGRA CRÍTICA: SALVAR EMAIL NO CRM IMEDIATAMENTE\n\n**SEMPRE que coletar email do cliente durante a conversa:**\n```\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[email coletado]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n**Momento de execução:**\n- ✅ Usuário informa email → SALVAR IMEDIATAMENTE no CRM\n- ✅ ANTES de prosseguir com qualquer outra ação\n- ✅ Atualizar last_interaction_at junto\n\n**Exemplo de fluxo:**\n```\nUser: \"joao@email.com\"\n\nAI: [IMEDIATAMENTE executar:]\n    Tool: up_KanbanCRM\n    {\n      \"id\": \"{{ $json.contact_id }}\",\n      \"email\": \"joao@email.com\",\n      \"last_interaction_at\": \"NOW()\"\n    }\n\nAI: [ENTÃO prosseguir com próxima pergunta]\n    \"Perfeito! Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n```\n\n---\n\n## 🔴 VALIDAÇÃO OBRIGATÓRIA ANTES DE AGENDAR\n\n**Use Think para validar TODOS os dados:**\n```\nTool: Think\n\nCHECKLIST OBRIGATÓRIO:\n1. ✅ Tenho nome? → {{ $json.nome }}\n2. ✅ Tenho telefone? → {{ $json.telefone }}\n3. ✅ Tenho EMAIL? → [verificar se existe no sistema]\n   - SE NÃO EXISTE → Perguntar e SALVAR IMEDIATAMENTE em up_KanbanCRM\n   - SE EXISTE → Usar\n4. ✅ Tenho serviço? → [verificar]\n5. ✅ Tenho data e horário? → [verificar]\n6. ✅ Tenho objetivos? → [verificar]\n7. ✅ Validei disponibilidade com Listar? → [sim/não]\n\nSE FALTAR QUALQUER ITEM:\n  → PARAR\n  → COLETAR O DADO FALTANTE\n  → SE FOR EMAIL → SALVAR IMEDIATAMENTE EM up_KanbanCRM\n  → NÃO CONFIRMAR NADA\n\nSE TIVER TODOS:\n  → Confirmar verbalmente UMA vez\n  → AGUARDAR confirmação do usuário\n  → EXECUTAR Agendar\n  → AGUARDAR eventId\n  → ENTÃO responder confirmação\n```\n\n---\n\n## FERRAMENTAS DISPONÍVEIS\n\n### 🔵 CONSULTA\n- **buscar_conversations** - Histórico de mensagens\n- **buscar_appointments** - Agendamentos existentes\n- **Supabase Vector Store** - FAQs\n\n### 🟢 AGENDAMENTO (MCP_Agendamento_Personal) ⭐\n- **Listar** - Ver agendamentos (validar disponibilidade)\n- **Agendar** - CRIAR agendamento (RETORNA eventId)\n- **Reagendar** - ALTERAR agendamento (requer eventId validado)\n- **Deletar** - CANCELAR agendamento (requer eventId validado)\n\n### 🟡 CRM\n- **up_KanbanCRM** - Atualizar contacts (id, email, name, kanban_stage, status, last_interaction_at)\n- **update_appointments** - Salvar appointments\n- **up_ContactEvents** - Registrar eventos\n- **update_conversation** - Salvar mensagens\n\n### 🟠 RACIOCÍNIO\n- **Think** - OBRIGATÓRIO para validação\n\n---\n\n## CONTEXTO DISPONÍVEL\n\n- `contact_id` → {{ $json.contact_id }}\n- `name` → {{ $json.nome }}\n- `phone` → {{ $json.telefone }}\n- `email` → **VERIFICAR SE EXISTE - SE NÃO, COLETAR E SALVAR EM up_KanbanCRM**\n\n---\n\n## ETAPA 0: BUSCAR CONTEXTO\n\n**SEMPRE ao iniciar:**\n\n1. `buscar_conversations` (filtrar por {{ $json.telefone }})\n2. `buscar_appointments` (filtrar por {{ $json.telefone }})\n3. **Think: Armazenar dados recuperados, incluindo se email existe**\n\n**Resposta:**\n```\nOlá {{ $json.nome }}! Tudo bem?\n\n[Se tiver agendamento]: Vi que você tem [serviço] agendado para [data] às [hora].\n\nComo posso te ajudar?\n```\n\n---\n\n## FLUXO: CRIAR AGENDAMENTO\n\n### PASSO 1: VALIDAÇÃO DE DADOS (OBRIGATÓRIO)\n```\nTool: Think\n\nVALIDAR:\n1. Nome: {{ $json.nome }} ✅\n2. Telefone: {{ $json.telefone }} ✅\n3. Email: [EXISTE NO SISTEMA?]\n   - SE SIM → Usar\n   - SE NÃO → COLETAR E SALVAR IMEDIATAMENTE\n4. Serviço: [FOI INFORMADO?]\n   - SE NÃO → PERGUNTAR\n5. Data/horário: [FOI INFORMADO?]\n   - SE NÃO → PERGUNTAR\n6. Objetivos: [FORAM INFORMADOS?]\n   - SE NÃO → PERGUNTAR\n\nRESULTADO:\n- Falta email? → Parar e perguntar: \"Para agendar, preciso do seu email.\"\n- Falta serviço? → Parar e perguntar: \"Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n- Falta horário? → Parar e perguntar: \"Qual data e horário prefere?\"\n- Falta objetivos? → Parar e perguntar: \"Quais seus objetivos?\"\n\nSOMENTE QUANDO TIVER TODOS → Prosseguir para Passo 2\n```\n\n### PASSO 1.5: SALVAR EMAIL NO CRM (SE COLETADO AGORA)\n\n**Quando usuário informar o email:**\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[email informado pelo usuário]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n**🚨 EXECUTAR IMEDIATAMENTE após receber o email, ANTES de prosseguir.**\n\n**Exemplo:**\n```\nUser: \"meu email é joao@email.com\"\n\nAI: [IMEDIATAMENTE executar:]\n    Tool: up_KanbanCRM\n    {\n      \"id\": \"{{ $json.contact_id }}\",\n      \"email\": \"joao@email.com\",\n      \"last_interaction_at\": \"NOW()\"\n    }\n\nAI: [ENTÃO prosseguir:]\n    \"Perfeito! Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n```\n\n### PASSO 2: VALIDAR DISPONIBILIDADE\n```\nTool: Listar (MCP)\n\nTool: Think\nAnalisar: O horário solicitado está livre?\n\nSE OCUPADO:\n  → Informar: \"Esse horário já está ocupado. Horários disponíveis: [sugestões]\"\n  → Aguardar nova escolha\n  → VOLTAR ao Passo 2\n\nSE LIVRE:\n  → Prosseguir para Passo 3\n```\n\n### PASSO 3: CONFIRMAR VERBALMENTE\n```\nConfirma [Serviço] para [data] das [hora início] às [hora fim]?\n```\n\n**AGUARDAR resposta do usuário.**\n\n### PASSO 4: EXECUTAR AGENDAMENTO\n\n**SOMENTE quando usuário confirmar (\"sim\", \"confirmo\", \"ok\", \"pode agendar\"):**\n```json\nTool: Agendar (MCP)\n{\n  \"calendar\": \"brunomaladasilva@gmail.com\",\n  \"description\": \"[Objetivos em 2-5 frases]\",\n  \"start\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"end\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"additionalFields\": {\n    \"summary\": \"{{ $json.nome }} - [Serviço]\",\n    \"attendees\": [{\"email\": \"[EMAIL já salvo no CRM]\"}],\n    \"location\": \"Campinas, São Paulo, Brasil\",\n    \"timeZone\": \"America/Sao_Paulo\",\n    \"reminders\": [\n      {\"minutesBefore\": 1440},\n      {\"minutesBefore\": 120}\n    ]\n  }\n}\n```\n\n**🚨 CRÍTICO: Espere o retorno da ferramenta!**\n\n### PASSO 5: AGUARDAR RETORNO DO GOOGLE CALENDAR\n```\nFerramenta Agendar retorna: eventId = \"abc123xyz\"\n\nTool: Think\nArmazenar: eventId = \"abc123xyz\"\nStatus: Agendamento criado com sucesso no Google Calendar\n```\n\n**SOMENTE APÓS receber eventId → Prosseguir para Passo 6**\n\n### PASSO 6: SALVAR NO BANCO DE DADOS\n```json\nTool: update_appointments\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"service\": \"[Serviço]\",\n  \"start_time\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"end_time\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"calendar_event_id\": \"[eventId recebido]\",\n  \"status\": \"scheduled\"\n}\n\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"kanban_stage\": \"agendado\",\n  \"status\": \"agendado\",\n  \"last_interaction_at\": \"NOW()\"\n}\n\nTool: up_ContactEvents\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"event_type\": \"agendamento\",\n  \"description\": \"Agendamento criado: [Serviço] em [data] às [hora]\"\n}\n\nTool: update_conversation\n(salvar todas as mensagens trocadas)\n```\n\n### PASSO 7: SOMENTE ENTÃO RESPONDER AO CLIENTE\n```\n✅ Agendamento confirmado com sucesso!\n\n📋 Detalhes:\n- Nome: {{ $json.nome }}\n- Celular: {{ $json.telefone }}\n- Data e Horário: [DD/MM] - [HH]h às [HH]h\n- Serviço: [Serviço]\n\n📨 Convite enviado para: [email salvo no CRM]\n```\n\n---\n\n## 🔴 EXEMPLO COMPLETO COM SALVAMENTO DE EMAIL\n\n**Conversa CORRETA com salvamento de email:**\n```\n✅ User: \"Quero treinar amanhã 14h\"\n\n✅ AI: [buscar_conversations, buscar_appointments]\n\n✅ AI: [Think: \n     Nome: João Silva ✅\n     Telefone: (19) 98765-4321 ✅\n     Email: NÃO EXISTE no sistema ❌\n     Serviço: NÃO INFORMADO ❌\n     Horário: 14h ✅\n     Objetivos: NÃO INFORMADOS ❌\n     \n     FALTAM: email, serviço, objetivos\n     AÇÃO: Coletar email PRIMEIRO e salvar no CRM\n   ]\n\n✅ AI: \"Olá João! Para agendar, preciso do seu email.\"\n\n✅ User: \"joao@email.com\"\n\n✅ AI: [IMEDIATAMENTE executar:]\n       Tool: up_KanbanCRM\n       {\n         \"id\": \"{{ $json.contact_id }}\",\n         \"email\": \"joao@email.com\",\n         \"last_interaction_at\": \"NOW()\"\n       }\n\n✅ AI: [Think: Email salvo no CRM ✅. Agora coletar serviço e objetivos.]\n\n✅ AI: \"Perfeito! Qual serviço: Personal Training, Avaliação Física ou Consultoria?\"\n\n✅ User: \"Personal\"\n\n✅ AI: \"Quais seus objetivos?\"\n\n✅ User: \"Emagrecer 10kg\"\n\n✅ AI: [Think:\n     AGORA tenho TODOS os dados:\n     Nome: João Silva ✅\n     Telefone: (19) 98765-4321 ✅\n     Email: joao@email.com ✅ (SALVO NO CRM)\n     Serviço: Personal Training ✅\n     Horário: amanhã 14h ✅\n     Objetivos: emagrecer 10kg ✅\n     \n     Próximo: Validar disponibilidade\n   ]\n\n✅ AI: [Listar → horário 14h livre]\n\n✅ AI: \"Confirma Personal Training para 29/01 das 14h às 15h?\"\n\n✅ User: \"Sim\"\n\n✅ AI: [Agendar (MCP) → executa com email do CRM]\n\n✅ AI: [Recebe eventId: \"abc123\"]\n\n✅ AI: [update_appointments, up_KanbanCRM (kanban_stage: agendado), up_ContactEvents, update_conversation]\n\n✅ AI: \"✅ Agendamento confirmado com sucesso!\n\n📋 Detalhes:\n- Nome: João Silva\n- Celular: (19) 98765-4321\n- Data e Horário: 29/01 - 14h às 15h\n- Serviço: Personal Training\n\n📨 Convite enviado para: joao@email.com\"\n```\n\n---\n\n## 🔴 EXEMPLO: ATUALIZAR OUTROS CAMPOS DO CRM\n\n**Quando coletar/atualizar QUALQUER informação do cliente:**\n\n### Atualizar nome (se corrigido):\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"name\": \"[Nome correto]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n### Atualizar email (sempre que coletado):\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[Email informado]\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n### Atualizar kanban_stage:\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"kanban_stage\": \"agendado\",\n  \"status\": \"agendado\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n### Atualizar múltiplos campos ao mesmo tempo:\n```json\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"email\": \"[email]\",\n  \"kanban_stage\": \"agendado\",\n  \"status\": \"agendado\",\n  \"last_interaction_at\": \"NOW()\"\n}\n```\n\n---\n\n## 🔴 REGRAS DE BLOQUEIO ABSOLUTO\n\n### BLOQUEIO 1: NÃO TEM EMAIL\n```\nSE email NÃO existe no sistema:\n  → PARAR\n  → Perguntar: \"Para agendar, preciso do seu email.\"\n  → AGUARDAR resposta\n  → SALVAR IMEDIATAMENTE em up_KanbanCRM\n  → NUNCA prosseguir sem salvar\n```\n\n### BLOQUEIO 2: NÃO VALIDOU DISPONIBILIDADE\n```\nSE não chamou Listar (MCP):\n  → PARAR\n  → Chamar Listar\n  → Validar horário\n  → NUNCA agendar sem validar\n```\n\n### BLOQUEIO 3: NÃO EXECUTOU FERRAMENTA\n```\nSE não chamou Agendar (MCP):\n  → PARAR\n  → NUNCA dizer \"confirmado\"\n  → NUNCA enviar mensagem de sucesso\n```\n\n### BLOQUEIO 4: NÃO RECEBEU EVENTID\n```\nSE Agendar (MCP) não retornou eventId:\n  → PARAR\n  → Informar erro: \"Houve um problema ao criar o agendamento. Pode tentar novamente?\"\n  → NUNCA dizer que está confirmado\n```\n\n### É PROIBIDO encerrar o atendimento ou responder confirmação ao usuário sem executar TODAS as ações abaixo, NESTA ORDEM:\n\nSE eventId foi recebido DO Google Calendar:\nOBRIGATÓRIO EXECUTAR, NESTA ORDEM:\n\n1️⃣ Tool: update_appointments\n2️⃣ Tool: up_ContactEvents\n3️⃣ Tool: update_conversation\n\nSOMENTE APÓS AS 3 EXECUÇÕES:\n→ O agente está AUTORIZADO a responder ao usuário\nSE qualquer uma dessas tools NÃO for executada:\n→ NÃO responder ao usuário\n→ NÃO dizer \"confirmado\"\n→ NÃO finalizar atendimento\n\n---\n\n## 🔴 VALIDAÇÃO COM THINK (OBRIGATÓRIA)\n\n**ANTES de confirmar QUALQUER agendamento:**\n```\nTool: Think\n\nVALIDAÇÃO FINAL:\n1. ✅ Tenho nome? {{ $json.nome }}\n2. ✅ Tenho telefone? {{ $json.telefone }}\n3. ✅ Tenho EMAIL? [verificar]\n   - SE coletei agora → JÁ SALVEI em up_KanbanCRM? ✅\n   - SE já existia → Posso usar ✅\n4. ✅ Tenho serviço? [verificar]\n5. ✅ Tenho data/horário? [verificar]\n6. ✅ Tenho objetivos? [verificar]\n7. ✅ Validei disponibilidade? [sim/não]\n8. ✅ Horário está livre? [sim/não]\n\nSE QUALQUER ITEM FALTAR:\n  → COLETAR AGORA\n  → SE FOR EMAIL → SALVAR em up_KanbanCRM IMEDIATAMENTE\n  → NÃO PROSSEGUIR\n\nSE TODOS PRESENTES:\n  → Confirmar verbalmente\n  → Executar Agendar\n  → Aguardar eventId\n  → Salvar no banco\n  → ENTÃO responder confirmação\n```\n\n---\n\n## 🔐 SEGURANÇA: ISOLAMENTO POR TELEFONE\n\n**Todas as operações devem filtrar por:**\n```\nphone = {{ $json.telefone }}\n```\n\n**Ao listar/reagendar/deletar:**\n```\nTool: Think\nValidar: O eventId pertence a {{ $json.telefone }}?\n\nSE NÃO:\n  → BLOQUEAR\n  → \"Não encontrei esse agendamento.\"\n\nSE SIM:\n  → Prosseguir\n```\n\n---\n\n## FLUXO: REAGENDAMENTO\n\n### PASSO 1: BUSCAR E VALIDAR EVENTID\n```\nTool: Listar (MCP)\n\nTool: Think\n1. Encontrei o agendamento?\n2. Pertence a {{ $json.telefone }}?\n3. SE NÃO → BLOQUEAR\n4. SE SIM → Armazenar eventId\n```\n\n### PASSO 2: COLETAR NOVO HORÁRIO\n```\nPara qual horário gostaria de remarcar?\n```\n\n### PASSO 3: VALIDAR DISPONIBILIDADE\n```\nTool: Listar (MCP)\n\nTool: Think\nNovo horário está livre?\nSE NÃO → Sugerir alternativas\nSE SIM → Prosseguir\n```\n\n### PASSO 4: CONFIRMAR\n```\nConfirma mudança de [data antiga] [hora antiga] para [data nova] [hora nova]?\n```\n\n### PASSO 5: EXECUTAR\n```json\nTool: Reagendar (MCP)\n{\n  \"eventId\": \"[ID validado]\",\n  \"start\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"end\": \"YYYY-MM-DDTHH:mm:ss-03:00\",\n  \"additionalFields\": {\n    \"summary\": \"{{ $json.nome }} - [Serviço]\",\n    \"attendees\": [{\"email\": \"[email do CRM]\"}],\n    \"location\": \"Campinas, São Paulo, Brasil\",\n    \"timeZone\": \"America/Sao_Paulo\",\n    \"reminders\": [\n      {\"minutesBefore\": 1440},\n      {\"minutesBefore\": 120}\n    ]\n  }\n}\n```\n\n### PASSO 6: ATUALIZAR BANCO E RESPONDER\n```json\nTool: update_appointments (se tiver update configurado)\n\nTool: up_ContactEvents\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"event_type\": \"reagendamento\",\n  \"description\": \"Reagendamento: de [data antiga] para [data nova]\"\n}\n\nTool: update_conversation\n```\n\n**Responder:**\n```\n✅ Agendamento alterado com sucesso!\n\n📋 Novo horário:\n- Nome: {{ $json.nome }}\n- Celular: {{ $json.telefone }}\n- Data e Horário: [DD/MM] - [HH]h\n- Serviço: [Serviço]\n\n📨 Convite atualizado enviado para: [email do CRM]\n```\n\n---\n\n## FLUXO: CANCELAMENTO\n\n### PASSO 1: BUSCAR E VALIDAR\n```\nTool: Listar (MCP)\n\nTool: Think\nValidar: eventId pertence a {{ $json.telefone }}?\n```\n\n### PASSO 2: CONFIRMAR\n```\nConfirma cancelamento de [data] às [hora]?\n```\n\n### PASSO 3: EXECUTAR\n```json\nTool: Deletar (MCP)\n{\n  \"eventId\": \"[ID validado]\"\n}\n```\n\n### PASSO 4: ATUALIZAR BANCO\n```json\nTool: update_appointments\n{\n  \"calendar_event_id\": \"[eventId]\",\n  \"status\": \"cancelled\"\n}\n\nTool: up_KanbanCRM\n{\n  \"id\": \"{{ $json.contact_id }}\",\n  \"kanban_stage\": \"perdido\",\n  \"status\": \"perdido\",\n  \"last_interaction_at\": \"NOW()\"\n}\n\nTool: up_ContactEvents\n{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"event_type\": \"cancelamento\",\n  \"description\": \"Agendamento cancelado pelo cliente\"\n}\n\nTool: update_conversation\n```\n\n**Responder:**\n```\nAgendamento cancelado com sucesso.\n\nSe mudar de ideia, estamos aqui para te ajudar!\n```\n\n---\n\n## ❌ ERROS FATAIS - NUNCA FAÇA\n\n❌ Dizer \"confirmado\" sem executar Agendar\n❌ Pular coleta de email\n❌ Coletar email e NÃO salvar em up_KanbanCRM\n❌ Assumir que tem dados\n❌ Agendar sem validar disponibilidade\n❌ Responder sem receber eventId\n❌ Confirmar múltiplas vezes\n\n---\n\n## ✅ CHECKLIST FINAL\n\n**Quando coletar email:**\n✅ Salvei imediatamente em up_KanbanCRM?\n✅ Atualizei last_interaction_at?\n\n**Antes de dizer \"confirmado\":**\n✅ Email está salvo no CRM?\n✅ Executei Agendar (MCP)?\n✅ Recebi eventId do Google Calendar?\n✅ Salvei em update_appointments?\n✅ Atualizei up_KanbanCRM (kanban_stage: agendado)?\n✅ Registrei em up_ContactEvents?\n✅ Salvei conversas?\n\n**SE QUALQUER ITEM = NÃO:**\n→ NÃO RESPONDA \"CONFIRMADO\"\n\n---\n\n## 💬 TOM\n\n- Curto e direto\n- Profissional mas humano\n- Máximo 2 emojis por mensagem\n\n---\n\n## 🎯 OBJETIVO\n\n✅ COLETAR dados faltantes\n✅ SALVAR email no CRM imediatamente quando coletado\n✅ VALIDAR disponibilidade\n✅ EXECUTAR ferramentas\n✅ AGUARDAR retorno (eventId)\n✅ ENTÃO responder confirmação\n\n**NUNCA confirme sem executar. NUNCA execute sem validar. SEMPRE salve email no CRM.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6192,0],"id":"dd448274-11cf-4a3f-be08-f0dad1395a12","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[5856,240],"id":"3a2ff679-7cc0-4088-a35c-09607a22feca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[6000,240],"id":"04ae9e87-f1f7-489a-99aa-e1003b68608e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Zs7WcxE92Q90lOWY","name":"Postgres RAG"}}},{"parameters":{"resource":"messages-api","instanceName":"RAG","remoteJid":"={{ $('Organizar Dados').item.json.telefone }}","messageText":"={{ $json.respostas }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[8000,32],"id":"f628565e-4010-44a9-a32a-789f7b99bf27","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Aqui tem tudo sobre o FAQ de perguntas frequentes sobre a faculdade","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[6128,256],"id":"8e11b1ee-b4d6-4e48-8fd4-d073f96b031a","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[6128,432],"id":"041d72bd-9906-40e7-949c-b372b9ac407e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4832,816],"id":"686ca85e-d37c-418a-8fd0-e182b85395a6","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4832,1008],"id":"5fd59cd2-a18b-4bd6-b263-cd5ba1fd68c8","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[5024,992],"id":"902e3e0d-e6d8-4338-8969-c619c758ad9e","name":"Default Data Loader"},{"parameters":{"fieldToSplitOut":"respostas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[7552,16],"id":"cabb2e71-ed19-48e8-bffc-0a6aba083fd8","name":"Split Out"},{"parameters":{"content":"## Webhook e formatação com Edit Field\n**Recebimento de mensagem e formatação dos dados**","height":416,"width":416},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4112,-160],"id":"82ec0e22-2fb0-4250-85b8-00aa4444cfc0","name":"Sticky Note"},{"parameters":{"content":"## Agente de IA com base de conhecimento sobre o FAQ\n**Informações sobre o FAQ no banco vetorial**","height":704,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5744,-144],"id":"93ceab2d-4e0b-4f93-8a82-9f7fb8e07276","name":"Sticky Note1"},{"parameters":{"content":"## Quebra e envio de mensagens via Evolution API\n\n**Envio de mensagens quebradas e pausadas simulando um humano**","height":464,"width":1152,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7296,-144],"id":"403769d7-4d3e-474a-9e10-0261f3fed97f","name":"Sticky Note3"},{"parameters":{"content":"# Cria o embedding dos arquivos upload para o agente RAG do nosso atendente","height":720,"width":1248,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4112,624],"id":"55e1087b-c221-4657-b31d-b6e28f21c5c6","name":"Sticky Note5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4384,816],"id":"5623a2ef-4186-4759-8103-56ba333ea1d7","name":"Obter Dados Drive","credentials":{"googleDriveOAuth2Api":{"id":"dYuCJT526nkIgyfF","name":"Google Drive"}}},{"parameters":{"separator":"4000","chunkSize":800},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[5024,1168],"id":"1f312e9e-22cb-41eb-8541-310a5d9ce831","name":"Separador de textos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8256,32],"id":"1519fc13-b66b-4381-b04e-a15e96cd99b0","name":"Pausa","webhookId":"cbe31973-12c2-4193-948b-5e8f6771ff7d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[7760,16],"id":"d97170df-a6ce-41d3-9d03-453a05506b9f","name":"Loop"},{"parameters":{"assignments":{"assignments":[{"id":"3119deff-f687-48c5-a0c1-0a2255b8887b","name":"respostas","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7376,16],"id":"14946dc6-66c0-4262-9cf7-65c4d9033026","name":"Preparar Dados"},{"parameters":{"assignments":{"assignments":[{"id":"1d7a966a-ca50-49cc-bdf3-048609262428","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"c3ea82c9-c3f2-4d67-9a32-c82dab9bc2cf","name":"nome_usuario","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"fa34f4d1-4743-48a5-b92a-f17610de2034","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4400,0],"id":"8c3848ee-5a3b-4bc1-a092-825c230d96e3","name":"Organizar Dados"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[4576,816],"id":"5d742b83-8ce9-4204-9e67-e2528043a3f1","name":"Extrair Textos"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1gAiHB6jU9NznXbyESfypjRXyFSNUR5wL","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1gAiHB6jU9NznXbyESfypjRXyFSNUR5wL"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[4160,816],"id":"5766d95e-d74d-4b9c-b053-20f470bc368c","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"dYuCJT526nkIgyfF","name":"Google Drive"}}},{"parameters":{"endpointUrl":"https://n8n-n8n.rd7jsk.easypanel.host/mcp/Agendamento","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[6352,384],"id":"bbca57d1-f44c-4651-969c-edd154cdcece","name":"MCP Client"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6448,288],"id":"be2a8202-6b98-46f0-8c9d-dc175c65b70a","name":"Think"},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4592,0],"id":"fda2d5a7-467f-4b0f-be5c-786f316b749a","name":"Buscar_User","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"189d60d6-0d15-495a-a254-84018c2e9ef1","leftValue":"={{ $json.created_at }}","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4752,0],"id":"f7df81b4-2db8-4e67-9b1d-dd212d15ccba","name":"if_user"},{"parameters":{"tableId":"contacts","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Organizar Dados').item.json.telefone }}"},{"fieldId":"name","fieldValue":"={{ $('Organizar Dados').item.json.nome_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4912,-112],"id":"0b7a1ed7-716c-4f18-a614-ce56bc524cdf","name":"Crear_user","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"assignments":{"assignments":[{"id":"2609c16a-572d-494b-adbc-c60f8e9b5231","name":"contact_id","value":"={{ $json.id ?? $('Set_default_contact').item.json.contact_id }}","type":"string"},{"id":"197afe87-b391-425e-a7fb-ca85df8c637d","name":"telefone","value":"={{ $json.phone ?? $('Organizar Dados').item.json.telefone }}","type":"string"},{"id":"a7ede9f8-bb00-47d9-858d-db0852a7160a","name":"mensagem_usuario","value":"={{ $('Organizar Dados').item.json.mensagem }}","type":"string"},{"id":"6587fb1b-5cc1-4471-9550-dac1c1343ccd","name":"tipo_mensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"2526aeea-4ded-4f96-8583-454c0c112875","name":"nome","value":"={{ $('Organizar Dados').item.json.nome_usuario ?? 'Não informado' }}","type":"string"},{"id":"90ce7d53-e571-4d86-9528-2491895e4f4e","name":"email","value":"={{ $json.email ?? null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5552,0],"id":"0311ab3e-0f20-4cea-a281-bc0674e5db5d","name":"SET_CONTEXT_AGENT"},{"parameters":{"tableId":"conversations","fieldsUi":{"fieldValues":[{"fieldId":"contact_id","fieldValue":"={{ $json.contact_id }}"},{"fieldId":"direction","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Direção da mensagem: 'inbound' (do usuário) ou 'outbound' (do agente)`, 'string') }}"},{"fieldId":"message_type","fieldValue":"={{ $json.tipo_mensagem }}"},{"fieldId":"message","fieldValue":"={{ $json.mensagem_usuario }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6800,256],"id":"225dbe55-00fa-43cf-b2d4-777b536fc324","name":"up_conversation","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"update","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"kanban_stage","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Estágio do Kanban - valores possíveis: 'lead', 'em_atendimento', 'agendado', 'compareceu', 'convertido', 'perdido'`, 'string') }}"},{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Email do contato (obrigatorio,  coletar o email e preencher esse campo)`, 'string') }}"},{"fieldId":"last_interaction_at","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Timestamp da última interação - use 'NOW()' ou formato ISO 8601`, 'string') }}"},{"fieldId":"phone","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `Numero do telefone do cliente`, 'string') }}"},{"fieldId":"name","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', `Nome completo do contato`, 'string') }}"},{"fieldId":"channel","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', `Local de onde veio o contato do cliente`, 'string') }}"},{"fieldId":"status","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', `Status do contato (geralmente igual ao kanban_stage)`, 'string') }}"},{"fieldId":"updated_at","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues7_Field_Value', `Data e horario da ultima atualização `, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6960,256],"id":"ef173541-1930-4914-b31c-7ffa9b0282db","name":"up_KanbanCRM","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"tableId":"contact_events","fieldsUi":{"fieldValues":[{"fieldId":"contact_id","fieldValue":"={{ $json.contact_id }}"},{"fieldId":"event_type","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Tipo de evento para auditoria. Valores possíveis: 'first_contact' (primeiro contato), 'agendamento' (novo agendamento criado), 'reagendamento' (horário alterado), 'cancelamento' (agendamento cancelado), 'status_change' (mudança de estágio no funil), 'conversion' (cliente converteu). Use o valor mais apropriado para cada situação.`, 'string') }}"},{"fieldId":"description","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Descrição detalhada do evento para registro de auditoria. Deve incluir informações importantes como: data/hora, serviço, detalhes da mudança, razão do cancelamento, etc. Seja específico para facilitar consultas futuras. Exemplo: 'Agendamento criado: Personal Training em 29/01/2026 às 14h' ou 'Cliente cancelou agendamento devido a compromisso de trabalho'.`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6800,400],"id":"1338f438-9d0f-4864-b3ac-892b260193c7","name":"up_ContactEvents","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"tableId":"appointments","fieldsUi":{"fieldValues":[{"fieldId":"service","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Serviço de interesse do cliente: 'Personal Training', 'Avaliação Física', 'Consultoria Nutricional' (opcional)`, 'string') }}"},{"fieldId":"start_time","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Data e horario inicial`, 'string') }}"},{"fieldId":"end_time","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Data e horario inicial + 1 hora`, 'string') }}"},{"fieldId":"calendar_event_id","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `ID do evento retornado pelo Google Calendar após criar o agendamento usando a ferramenta MCP Agendar (obrigatório)`, 'string') }}"},{"fieldId":"status","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', `Status do agendamento. \nValores possíveis: 'scheduled' (agendado e aguardando), 'confirmed' (confirmado pelo cliente), 'completed' (cliente compareceu), 'cancelled' (cancelado), 'no_show' (cliente faltou). \nUse 'scheduled' por padrão ao criar novo agendamento.`, 'string') }}"},{"fieldId":"contact_id","fieldValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6960,400],"id":"01659a16-9b9a-4d82-871d-7cd09865b74a","name":"up_appointments","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"getAll","tableId":"appointments","limit":15,"filters":{"conditions":[{"keyName":"contact_id","condition":"eq","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7120,256],"id":"d06b6534-bb9f-40bb-86c4-7b1e95d0bfbf","name":"buscar_appointments","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"getAll","tableId":"conversations","limit":15,"filters":{"conditions":[{"keyName":"contact_id","condition":"eq","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7120,400],"id":"f4ca5e86-c135-4c75-8cc1-acc369af81be","name":"buscar_conversations","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"content":"## Banco de Dados consultar e atualização do (CRM)","height":480,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6624,80],"id":"70317a69-a34a-48c7-8bd9-74531dcc7550","name":"Sticky Note2"},{"parameters":{"content":"## Checagem de lead  conhecidos e cadastro de lead novo ","height":704,"width":1152,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4544,-176],"id":"f4dc0324-daf3-4cd7-8c79-c8dee1354144","name":"Sticky Note4"},{"parameters":{"operation":"update","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Organizar Dados').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"name","fieldValue":"={{ $json.name }}"},{"fieldId":"email","fieldValue":"={{ $json.email }}"},{"fieldId":"channel","fieldValue":"={{ $json.channel }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"kanban_stage","fieldValue":"={{ $json.kanban_stage }}"},{"fieldId":"first_contact_at","fieldValue":"={{ $json.first_contact_at }}"},{"fieldId":"last_interaction_at","fieldValue":"={{ $json.last_interaction_at }}"},{"fieldId":"created_at","fieldValue":"={{ $json.created_at }}"},{"fieldId":"updated_at","fieldValue":"={{ $json.updated_at }}"},{"fieldId":"id","fieldValue":"={{ $json.id ?? $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5088,64],"id":"1b471219-6c84-4f22-8346-5a320c2d6191","name":"insert_contacts","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"update","tableId":"contacts","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Organizar Dados').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"name","fieldValue":"={{ $json.name }}"},{"fieldId":"email","fieldValue":"={{ $json.email }}"},{"fieldId":"channel","fieldValue":"={{ $json.channel }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"kanban_stage","fieldValue":"={{ $json.kanban_stage }}"},{"fieldId":"first_contact_at","fieldValue":"={{ $json.first_contact_at }}"},{"fieldId":"last_interaction_at","fieldValue":"={{ $json.last_interaction_at }}"},{"fieldId":"created_at","fieldValue":"={{ $json.created_at }}"},{"fieldId":"updated_at","fieldValue":"={{ $json.updated_at }}"},{"fieldId":"id","fieldValue":"={{ $json.id ?? $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5264,-112],"id":"cb01b663-5bdd-4131-a6be-e59e16d4366d","name":"insert_contacts1","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"assignments":{"assignments":[{"id":"62b0b1f7-1a93-43cc-bc22-d714e5a87618","name":"contact_id","value":"={{ $json.id ?? $json.contact_id }}","type":"string"},{"id":"144f04d3-302e-4033-ada0-4df0cdc16873","name":"phone","value":"={{ $json.phone }}","type":"string"},{"id":"24c46a0d-6069-41c9-9c4f-6551934363d4","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"93a7a6f4-7e6e-4def-a299-674305655da8","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"6f056687-88c1-4442-a654-ea4dbfb82ca6","name":"mensagem_usuario","value":"={{ $('Organizar Dados').item.json.mensagem }}","type":"string"},{"id":"d11663f6-10f4-49df-ac28-162e55c9ac7e","name":"tipo_mensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"008b652f-4968-4432-b854-9ddc499ae17a","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"677e7caf-30e2-448a-b710-95bee9b9dd37","name":"kanban_stage","value":"={{ $json.kanban_stage }}","type":"string"},{"id":"cc499b7a-152d-406f-9bcf-b6b601ec1ab7","name":"first_contact_at","value":"={{ $json.first_contact_at }}","type":"string"},{"id":"e31ea1e3-a3e0-4f78-ae44-9fe769691f74","name":"last_interaction_at","value":"={{ $json.last_interaction_at }}","type":"string"},{"id":"ed2e75ab-97ca-42cf-a4d5-9b0286ca55ec","name":"created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"cc482965-5a78-4774-9149-f2d0717c449a","name":"updated_at","value":"={{ $json.updated_at }}","type":"string"},{"id":"80d404c1-e692-4524-a5cb-299472d9ef83","name":"channel","value":"={{ $json.channel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5088,-112],"id":"b1dcaee9-8241-47f1-90c3-89b3519ad764","name":"SET_DEFAULT_USER3"}],"connections":{"Webhook":{"main":[[{"node":"Organizar Dados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Preparar Dados","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Split Out":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Obter Dados Drive":{"main":[[{"node":"Extrair Textos","type":"main","index":0}]]},"Separador de textos":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pausa":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Preparar Dados":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Organizar Dados":{"main":[[{"node":"Buscar_User","type":"main","index":0}]]},"Extrair Textos":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Obter Dados Drive","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar_User":{"main":[[{"node":"if_user","type":"main","index":0}]]},"if_user":{"main":[[{"node":"Crear_user","type":"main","index":0}],[{"node":"insert_contacts","type":"main","index":0}]]},"Crear_user":{"main":[[{"node":"SET_DEFAULT_USER3","type":"main","index":0}]]},"SET_CONTEXT_AGENT":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"up_conversation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"up_KanbanCRM":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"up_ContactEvents":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"up_appointments":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_appointments":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_conversations":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"insert_contacts":{"main":[[{"node":"SET_CONTEXT_AGENT","type":"main","index":0}]]},"insert_contacts1":{"main":[[{"node":"SET_CONTEXT_AGENT","type":"main","index":0}]]},"SET_DEFAULT_USER3":{"main":[[{"node":"insert_contacts1","type":"main","index":0}]]}},"authors":"Bruno Maia","name":"rev601","description":"","autosaved":true},"tags":[]}