google-maps-scraping.json
{"updatedAt":"2026-02-04T19:12:21.111Z","createdAt":"2026-02-04T18:55:23.980Z","id":"LfOJF7GMhV5-PCnautdIl","name":"Google Maps Scraping","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8b9ad757-672e-4401-a1ce-38afadc2cccd","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-2304,304],"typeVersion":1},{"parameters":{"compare":"selectedFields","fieldsToCompare":"place.id,places.id","options":{}},"id":"76b926d1-f09b-4b4f-83f0-69c474a8c78d","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[-208,944],"typeVersion":1.1},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"efbc019b-08c1-4eee-a81a-95c959a120fb","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[912,1136],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7424452f-e208-4e7e-8144-d0c6278bc0f0","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.body }}","rightValue":""}]},"options":{}},"id":"bfe8cb8b-78f3-458d-b681-ad161de85c19","name":"If Empty","type":"n8n-nodes-base.if","position":[1040,544],"typeVersion":2.2},{"parameters":{"content":"# Raspagem de Dados Google MAPS - Webscraping","height":1100,"width":3820,"color":5},"id":"bf8fe525-6d0f-44dd-b81c-58dd68b90a1b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-2544,176],"typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Notmaliza\"].json[\"url_planilha\"] }}","mode":"url"},"sheetName":{"__rl":true,"value":"=Resultados","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.place.nationalPhoneNumber }}","reviews":"={{ $json.place.reviews }}","website":"={{ $json.place.websiteUri }}","place_id":"={{ $json.place.id }}","nota":"={{ $json.place.rating }}","tipo":"={{ $json.place.types }}","Endereço":"={{ $json.place.formattedAddress }}","TITULO":"={{ $json.place.displayName.text }}","AÇÃO":"Disparar"},"matchingColumns":["place_id"],"schema":[{"id":"XID","displayName":"XID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AÇÃO","displayName":"AÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TITULO","displayName":"TITULO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reviews","displayName":"reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"types","displayName":"types","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e16aad1c-b0c0-4cd6-b52f-d4641d2d9c42","name":"Adicionando Locais na Planilha","type":"n8n-nodes-base.googleSheets","position":[48,944],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Notmaliza\"].json[\"url_planilha\"] }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $('Notmaliza').item.json.paginaCategorias }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Normaliza a Rodada').item.json.row_number }}","status":"scraped"},"matchingColumns":["row_number"],"schema":[{"id":"CEP","displayName":"CEP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subcategoria","displayName":"Subcategoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"75dc8e4b-047d-4099-8990-367630804515","name":"Atualizar Status","type":"n8n-nodes-base.googleSheets","position":[608,928],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"##                    Compilação dos Dados","height":520,"width":2528,"color":4},"id":"98bf2ffe-6855-4005-914a-d427befb252d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1296,752],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"fa469a25-eb00-4011-a626-87fae7fb8bbd","name":"url_planilha","type":"string","value":"https://docs.google.com/spreadsheets/d/1anOEqrqvsQqN60gQ44_tIqvTVusu702G/edit?usp=sharing&ouid=109263651740443500633&rtpof=true&sd=true"},{"id":"df0a7a51-0ec6-47d2-9f73-bc8268385305","name":"paginaCategorias","type":"string","value":"Checklist"},{"id":"a1ff9a58-9ae6-4000-9fcd-6c11de23bd48","name":"page","type":"string","value":"CEPS"}]},"options":{}},"id":"87202e60-b7b2-4acf-a519-adb4b1cd299c","name":"Notmaliza","type":"n8n-nodes-base.set","position":[-2032,304],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e96db99-ae0a-4a11-9d46-251e6f323bb5","leftValue":"={{ $json.status }}","rightValue":"scraped","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-496,400],"id":"0158a979-075b-40c3-8a0c-31b03cf14ba8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"7b1629c5-cbfe-4769-8286-66b46c51cd7e","name":"zip","type":"string","value":"={{ $json.CEP.split('-')[0] }}{{ $json.CEP.split('-')[1] }}"},{"id":"9aa89906-d490-4c1e-bed7-88a0d297d793","name":"row_number","value":"={{ $json.row_number }}","type":"string"},{"id":"9d23ccdf-18d0-45ad-8eb8-94a276a52da7","name":"status","value":"={{ $json.status }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"141ba1e9-886c-401f-a1a5-e3742f78885d","name":"Normaliza a Rodada","type":"n8n-nodes-base.set","position":[-752,400],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Notmaliza').item.json.url_planilha }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $('Notmaliza').item.json.paginaCategorias }}","mode":"name"},"options":{}},"id":"46f72dd1-a008-4d09-9cc4-8ce013b8ac78","name":"Liga o Chupa Cabra","type":"n8n-nodes-base.googleSheets","position":[-1760,304],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"vzmSTjLtL3xIYnDA","name":"Google Sheets Leads"}}},{"parameters":{"options":{}},"id":"963c6bfe-6c91-4cbb-8785-c418f935604f","name":"Loop Palavra-Chave","type":"n8n-nodes-base.splitInBatches","position":[-1312,304],"typeVersion":3},{"parameters":{"jsCode":"// Get the places array from the input data\nconst places = items[0]?.json?.body?.places || [];\n\n// Create an output array to hold each place as a separate item\nlet output = [];\n\nif (places.length > 0) {\n  for (let i = 0; i < places.length; i++) {\n    // For each place, push a new item into the output array\n    output.push({\n      json: {\n        place: places[i], // Encha The individual place object\n        otherData: items[0].json.otherData || null  // Include other data or default to null\n      }\n    });\n  }\n} else {\n  // Log an error or handle the case where Encha places array is empty or undefined\n  console.log('Places array is empty or undefined.');\n}\n\n// Return the output array, so each place becomes its own item\nreturn output;\n"},"id":"a5fa4ea2-0155-45ba-bf97-caf7812c9521","name":"Estrutura do JSON","type":"n8n-nodes-base.code","position":[-832,944],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"758ff896-7cd8-4f72-bfbb-e64583c5937c","name":"places.id","type":"string","value":"={{ $json.place.id }}"}]},"includeOtherFields":true,"options":{}},"id":"67dfedf0-633c-43c2-9251-2772067b3040","name":"Define Place ID","type":"n8n-nodes-base.set","position":[-480,944],"typeVersion":3.4},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-752,208],"id":"768f14c9-75c6-4ec0-9146-8b2acc76bf1b","name":"Finalizado"},{"parameters":{"content":"## Pré-instalação:\nA) Esses passos estão na aula: entre no link abaixo, faça o download da nossa planilha e insira a planilha no seu google planilhas. É muito importante não alterar os parâmetros sob o risco de inviabilizar o funcionamento do Fluxo.\n\nhttps://docs.google.com/spreadsheets/d/14sywqVCQoRvU573Uh7FgHmcX25Aul5c84DDx8OUhwrk/edit?usp=sharing\n\n\n## Instalação:\n1) Antes de Iniciar você deve ter uma credencial do Google como ensinamos no módulo Credenciais\n2) Entre no Google Cloud console e ative a API Places conforme ensinado na aula\n3) De volta ao N8N crie uma nova credencial do google incluindo o escopo abaixo:\n\nhttps://www.googleapis.com/auth/cloud-platform\n\n4) Agora adicione todas as credenciais nos ícones do Google Sheets e também no node \"RASPAGEM\" \n\n## Operando o Chupa Cabra\n\n1) Preencha as linhas da página \"Checklist\" da sua tabela, como mostrado na aula\n2) Ative o fluxo\n3) Agora está tudo pronto. Use com Responsabilidade!!","height":520,"width":1080},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2464,752],"id":"11e0ab6e-dbb9-4a8d-963c-21349d960999","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.addressComponents,places.formattedAddress,places.primaryType,places.primaryTypeDisplayName,places.types,places.location,places.nationalPhoneNumber,places.rating,places.userRatingCount,places.websiteUri,places.editorialSummary,places.reviews,places.attributions,places.userRatingCount,nextPageToken"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.Subcategoria }} {{ $json.CEP }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"a5352f52-ac01-4dec-8702-85c014dd73a3","name":"RASPAGEM","type":"n8n-nodes-base.httpRequest","position":[0,416],"typeVersion":4.2},{"parameters":{"content":"![Encha](https://encha.ai/wp-content/uploads/2025/01/Logo-ENCHA_AI-1.png)","height":219,"width":1080,"color":6},"id":"d035d7ce-06f0-4a65-b434-d7dcf571dfda","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2464,512]},{"parameters":{"content":"## Node Raspagem \n\n- Coloque as credenciais aqui.","height":260,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,304],"id":"69cab993-cf7e-41f5-b345-13ea73a4d7ab","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[352,928],"id":"a1e87977-1e80-436e-9d1b-7c52b0e5a15a","name":"Wait","webhookId":"215378a8-7075-4085-b97e-4132de5c8e7a"},{"parameters":{"assignments":{"assignments":[{"id":"3d22f974-dbd7-48f5-99b8-7ccfa2be033d","name":"nextPageToken","value":"={{ $json.body.nextPageToken }}","type":"string"},{"id":"75f035a0-1806-4e75-bf3f-92661a9486e7","name":"Subcategoria","value":"={{ $('Normaliza a Rodada').item.json.Subcategoria }}","type":"string"},{"id":"c92f4432-b35e-4d61-b65f-69571463145a","name":"CEP","value":"={{ $('Normaliza a Rodada').item.json.CEP }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,256],"id":"7b0cad6a-5e3f-4fa1-9beb-8d34371bb225","name":"paginacao"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06279172-947d-49a1-a305-b5cc804656eb","leftValue":"={{ $json.body.nextPageToken }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,240],"id":"7301b069-2fa7-4864-809c-fb61f5856852","name":"If1"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.addressComponents,places.formattedAddress,places.primaryType,places.primaryTypeDisplayName,places.types,places.location,places.nationalPhoneNumber,places.rating,places.userRatingCount,places.websiteUri,places.editorialSummary,places.reviews,places.attributions,places.userRatingCount,nextPageToken"},{"name":"pageToken","value":"={{ $('paginacao').item.json.nextPageToken || '' }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.Subcategoria }} {{ $json.CEP }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"98375c66-9daa-4c33-9316-89257194d5af","name":"RASPAGEM1","type":"n8n-nodes-base.httpRequest","position":[0,0],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.addressComponents,places.formattedAddress,places.primaryType,places.primaryTypeDisplayName,places.types,places.location,places.nationalPhoneNumber,places.rating,places.userRatingCount,places.websiteUri,places.editorialSummary,places.reviews,places.attributions,places.userRatingCount,nextPageToken"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.Subcategoria }} {{ $json.CEP }}"},{"name":"pageToken","value":"={{ $json.nextPageToken }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"069581e0-042b-4dd8-9619-58b7a796796d","name":"RASPAGEM2","type":"n8n-nodes-base.httpRequest","position":[976,256],"typeVersion":4.2},{"parameters":{"content":"## Paginação","height":292,"width":788},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[416,192],"id":"d36179ed-3128-4433-b14e-b7a22c2a3b8a","name":"Sticky Note3"}],"connections":{"If Empty":{"main":[[{"node":"Loop Palavra-Chave","type":"main","index":0}],[{"node":"Estrutura do JSON","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Adicionando Locais na Planilha","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Notmaliza","type":"main","index":0}]]},"Adicionando Locais na Planilha":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Atualizar Status":{"main":[[{"node":"Loop Palavra-Chave","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Notmaliza":{"main":[[{"node":"Liga o Chupa Cabra","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Palavra-Chave","type":"main","index":0}],[{"node":"RASPAGEM","type":"main","index":0}]]},"Normaliza a Rodada":{"main":[[{"node":"If","type":"main","index":0}]]},"Liga o Chupa Cabra":{"main":[[{"node":"Loop Palavra-Chave","type":"main","index":0}]]},"Loop Palavra-Chave":{"main":[[{"node":"Finalizado","type":"main","index":0}],[{"node":"Normaliza a Rodada","type":"main","index":0}]]},"Estrutura do JSON":{"main":[[{"node":"Define Place ID","type":"main","index":0}]]},"Define Place ID":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"RASPAGEM":{"main":[[{"node":"If Empty","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Atualizar Status","type":"main","index":0}]]},"paginacao":{"main":[[{"node":"RASPAGEM2","type":"main","index":0}]]},"If1":{"main":[[{"node":"If Empty","type":"main","index":0}],[{"node":"paginacao","type":"main","index":0}]]},"RASPAGEM2":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8d11a97-b764-441f-a8fe-5b0a96c2f9fe","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T18:55:23.991Z","createdAt":"2026-02-04T18:55:23.991Z","role":"workflow:owner","workflowId":"LfOJF7GMhV5-PCnautdIl","projectId":"G56NELttT2pGfqmo"}],"activeVersion":null,"tags":[]}