lead-gen-gmb---verified.json
{"updatedAt":"2026-02-04T18:48:18.570Z","createdAt":"2026-02-04T00:42:26.512Z","id":"z0CVWyIkHVM5UGj4","name":"Lead Gen GMB - Verified","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-gen-gmb-test","options":{}},"id":"webhook-trigger-id","name":"Webhook","position":[-96,-64],"type":"n8n-nodes-base.webhook","typeVersion":1.1,"webhookId":"c8ff41a4-527f-4c2c-8638-f5e3ddd53bc3"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst niche = body.nicho;\nconst location = body.cidade_estado;\nconst query = `${niche} ${location}`;\nreturn [{ json: { query, original_niche: niche, original_location: location } }];"},"id":"prepare-query-id","name":"PrepareQuery","position":[208,32],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"amount":2,"unit":"seconds"},"id":"wait-gmb-id","name":"WaitGMB","position":[368,0],"type":"n8n-nodes-base.wait","typeVersion":1,"webhookId":"877de409-1c67-41cd-a316-b7e10111a3a0"},{"parameters":{"jsCode":"return [{\n  json: {\n    data: [\n      {\n        \"place_id\": \"mock_ver_final\",\n        \"name\": \"Clinica Odontomed Campinas\",\n        \"website\": \"https://odontomedcampinas.com.br\",\n        \"full_address\": \"R. Dr. Costa Aguiar, 650 - Centro, Campinas - SP\",\n        \"rating\": 4.8,\n        \"review_count\": 150,\n        \"phone_number\": \"1932361000\"\n      }\n    ],\n    original_location: \"Campinas-sp\"\n  }\n}];"},"id":"mock-data-id-final","name":"MockData","position":[512,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"jsCode":"function fallback(val) {\n  return (val === undefined || val === null || val === '' || (Array.isArray(val) && val.length === 0)) ? 'Não Encontrado' : val;\n}\nconst input = $input.first().json;\nconst leads = input.data || [];\nreturn leads.map(business => {\n  return {\n    json: {\n      \"Cidade/Estado\": input.original_location,\n      \"Nome\": business.name,\n      \"Website\": fallback(business.website),\n      \"Endereço\": business.full_address,\n      \"Nota\": business.rating,\n      \"Qtd Aval\": business.review_count,\n      \"Telefone GMB\": business.phone_number,\n      \"WhatsApp\": \"Processando...\",\n      \"Email\": \"Processando...\",\n      \"Instagram\": \"Não Encontrado\",\n      \"CNPJ\": \"Não Encontrado\",\n      \"Atividades\": \"Processando...\",\n      \"Analise Reviews\": \"Processando...\",\n      \"Analise Geral IA\": \"Processando...\",\n      \"Telefone Site\": \"Processando...\"\n    }\n  };\n});"},"id":"process-data-id-final2","name":"ProcessData","position":[672,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"options":{}},"id":"loop-over-items-final2","name":"LoopOverItems","position":[880,0],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"parameters":{"amount":2,"unit":"seconds"},"id":"wait-agent-final2","name":"WaitAgent","position":[1056,16],"type":"n8n-nodes-base.wait","typeVersion":1,"webhookId":"892f8306-3e00-458e-b8dc-68b03b14c537"},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Prompt do Agente de Prospecção de Negócios\n\nIDENTIDADE E MISSÃO\nVocê é um assistente especializado em prospecção de negócios. Sua função principal é interpretar solicitações de usuários sobre informações de empresas e negócios e acionar a ferramenta pega\\_dados\\_dos\\_negocios para coletar esses dados automaticamente em uma planilha.\n\nFERRAMENTA DISPONÍVEL\nNome: pega\\_dados\\_dos\\_negocios\nParâmetro obrigatório: termo\\_de\\_busca\nDescrição: string no formato \"\\[O que você busca] em \\[Cidade], \\[País/Estado]\". O termo pode ser escrito em português ou em inglês.\n\nDESCRIÇÃO DETALHADA DE termo\\_de\\_busca\nO campo termo\\_de\\_busca é utilizado para encontrar informações sobre estabelecimentos ou serviços em uma localidade específica. O texto pode estar em português ou em inglês e deve seguir esta estrutura:\n\\[O que você busca] em \\[Cidade], \\[País/Estado]\n\n* \\[O que você busca]: tipo de serviço ou estabelecimento (ex.: Hotéis, Restaurantes, Museus).\n* em: palavra fixa \"em\" (ou \"in\", se preferir inglês).\n* \\[Cidade], \\[País/Estado]: nome da cidade e do país ou estado.\n\nEXEMPLOS RÁPIDOS\nIntenção: Hotéis em São Francisco, EUA      -> termo\\_de\\_busca: Hotéis em São Francisco, EUA\nIntenção: Farmácias em Rio de Janeiro       -> termo\\_de\\_busca: Farmácias em Rio de Janeiro, Brasil\nIntenção: Restaurantes japoneses em São Paulo -> termo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nIntenção: Aeroportos em Londres             -> termo\\_de\\_busca: Aeroportos em Londres, Reino Unido\n\nRESPONSABILIDADES PRINCIPAIS\n\n1. Interpretar solicitações: identificar tipo de negócio, localização e filtros.\n2. Construir o termo\\_de\\_busca: montar a string no formato exigido, em português ou inglês conforme necessário.\n3. Acionar a ferramenta:\n   pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"\\[consulta]\" })\n4. Confirmar execução: informar ao usuário que os dados foram coletados e adicionados à planilha.\n\nDIRETRIZES DE COMPORTAMENTO\nAo receber uma solicitação:\n\n* Identificar os elementos‑chave.\n* Normalizar os termos e montar o termo\\_de\\_busca no formato correto.\n* Chamar a ferramenta e responder de forma concisa ao usuário.\n\nFORMATO DA RESPOSTA AO USUÁRIO\n\n* Confirmar o que foi solicitado.\n* Informar que a busca foi realizada e que os dados estão na planilha.\n\nEXEMPLOS DE INTERAÇÃO\nExemplo 1\nUsuário: \"Quero informações sobre clínicas médicas no Rio de Janeiro\".\nAgente:\ntermo\\_de\\_busca: Clínicas médicas em Rio de Janeiro, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Clínicas médicas em Rio de Janeiro, Brasil\" })\nResposta: Busquei e coletei informações sobre clínicas médicas no Rio de Janeiro. Os dados já foram adicionados à sua planilha de prospecção.\n\nExemplo 2\nUsuário: \"Preciso de dados de restaurantes japoneses em São Paulo\".\nAgente:\ntermo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Restaurantes japoneses em São Paulo, Brasil\" })\nResposta: Coletei informações sobre restaurantes japoneses em São Paulo. Todos os dados foram inseridos na planilha.\n\nExemplo 3\nUsuário: \"Me ajuda a encontrar escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio\".\nAgente:\ntermo\\_de\\_busca: Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\" })\nResposta: Busquei escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio de Janeiro. As informações já estão disponíveis na sua planilha.\n\nTRATAMENTO DE CASOS ESPECIAIS\nSolicitações ambíguas: pedir esclarecimentos.\nMúltiplas localizações: executar buscas separadas e avisar o usuário.\nSegmentos amplos: sugerir refinamentos.\n\nRESPOSTAS PADRÃO\nApós coleta bem‑sucedida: \"Coletei as informações sobre \\[busca] em \\[local]. Os dados já foram adicionados à sua planilha de prospecção.\"\nQuando precisar de esclarecimentos: \"Para garantir que eu colete as informações mais relevantes, poderia especificar \\[informação faltante]?\"\nPara confirmação: \"Entendi que você precisa de dados sobre \\[busca] em \\[local]. Vou coletar essas informações agora.\"\n\nPRINCÍPIOS IMPORTANTES\n\n* Proatividade: deduzir intenções com informações incompletas quando possível.\n* Precisão: usar o formato exato de termo\\_de\\_busca.\n* Concisão: confirmar a ação sem explicações desnecessárias.\n* Confiabilidade: sempre confirmar quando os dados forem adicionados.\n\nLIMITAÇÕES\n\n* Não fornecer os dados diretamente na conversa.\n* Não analisar nem interpretar os dados coletados.\n* Não sugerir estratégias de prospecção.\n* Focar apenas em coletar e confirmar a inserção dos dados na planilha.\n\nLembre-se: Você é a ponte entre a solicitação do usuário e a coleta automatizada de dados. Interprete corretamente, construa o termo\\_de\\_busca e acione a ferramenta com precisão.\n"}},"id":"ai-agent-final2-id","name":"AIAgent","position":[1200,0],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7},{"parameters":{"jsCode":"const aiRaw = $input.first().json.output;\nconst loopData = $node[\\\"LoopOverItems\\\"].json;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(aiRaw.match(/\\{[\\s\\S]*\\}/)[0]);\n} catch (e) {\n  parsed = { cnpj: 'Não Encontrado', instagram: 'Não Encontrado' };\n}\nreturn [{\n  json: {\n    ...loopData,\n    \\\"CNPJ\\\": parsed.cnpj || 'Não Encontrado',\n    \\\"Instagram\\\": parsed.instagram || 'Não Encontrado',\n    \\\"Email\\\": parsed.email || 'Não Encontrado',\n    \\\"Telefone Site\\\": parsed.telefone_site || 'Não Encontrado',\n    \\\"Atividades\\\": parsed.atividades || 'Não Encontrado',\n    \\\"Analise Reviews\\\": parsed.analise_reviews || 'Não Encontrado',\n    \\\"Analise Geral IA\\\": parsed.analise_geral_ia || 'Não Encontrado'\n  }\n}];"},"id":"parse-ai-final2-id","name":"ParseAI","position":[1472,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M","mode":"list","cachedResultName":" 🎯 [EA] - GESTÃO DE LEADS OUTBOUND","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit#gid=1185880254"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link GMN","displayName":"Link GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Empresa GMN","displayName":"Empresa GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atividades","displayName":"Atividades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone GMN","displayName":"Telefone GMN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone Site","displayName":"Telefone Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qtd Reviews","displayName":"Qtd Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Analise Reviews","displayName":"Analise Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Analise Geral IA","displayName":"Analise Geral IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Contato","displayName":"Data Contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"save-to-sheets-final2-id","name":"SaveToSheets","position":[1648,0],"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"openai-model-final2-id","name":"OpenAI Chat Model","position":[1168,240],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"options":{}},"id":"serp-final2-id","name":"SerpAPI","position":[1296,240],"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"credentials":{"serpApi":{"id":"U9G9qJbSUZb1VHbk","name":"SerpAPI"}}},{"parameters":{},"id":"http-final2-id","name":"HTTPTool","position":[1408,240],"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1},{"parameters":{"jsCode":"return [{ json: { status: \\\"Sucesso\\\" } }];"},"id":"format-res-final2-id","name":"Format Response","position":[1024,-160],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-96,96],"id":"4a2475e5-de3f-486b-a925-2acdc19b8fbe","name":"When chat message received","webhookId":"22584a12-b021-4044-9b02-7f21868f1779"}],"connections":{"AIAgent":{"main":[[{"index":0,"node":"ParseAI","type":"main"}]]},"HTTPTool":{"ai_tool":[[{"index":0,"node":"AIAgent","type":"ai_tool"}]]},"LoopOverItems":{"main":[[{"index":0,"node":"Format Response","type":"main"}],[{"index":0,"node":"WaitAgent","type":"main"}]]},"MockData":{"main":[[{"index":0,"node":"ProcessData","type":"main"}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"index":0,"node":"AIAgent","type":"ai_languageModel"}]]},"ParseAI":{"main":[[{"index":0,"node":"SaveToSheets","type":"main"}]]},"PrepareQuery":{"main":[[{"index":0,"node":"WaitGMB","type":"main"}]]},"ProcessData":{"main":[[{"index":0,"node":"LoopOverItems","type":"main"}]]},"SaveToSheets":{"main":[[{"index":0,"node":"LoopOverItems","type":"main"}]]},"SerpAPI":{"ai_tool":[[{"index":0,"node":"AIAgent","type":"ai_tool"}]]},"WaitAgent":{"main":[[{"index":0,"node":"AIAgent","type":"main"}]]},"WaitGMB":{"main":[[{"index":0,"node":"MockData","type":"main"}]]},"Webhook":{"main":[[]]},"When chat message received":{"main":[[{"node":"PrepareQuery","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Solicitar leads":[{"json":{"sessionId":"07cb66fb54df4d888c63dda95d290a8c","action":"sendMessage","chatInput":"clinica estetica em Campinas/SP"}}]},"versionId":"f84924f5-504f-433c-a17e-16b7a71e2657","activeVersionId":"c9dee800-17b3-4bf4-ae79-032df7bde317","triggerCount":1,"shared":[{"updatedAt":"2026-02-04T00:42:26.517Z","createdAt":"2026-02-04T00:42:26.517Z","role":"workflow:owner","workflowId":"z0CVWyIkHVM5UGj4","projectId":"G56NELttT2pGfqmo"}],"activeVersion":{"updatedAt":"2026-02-04T17:03:07.187Z","createdAt":"2026-02-04T17:03:07.187Z","versionId":"c9dee800-17b3-4bf4-ae79-032df7bde317","workflowId":"z0CVWyIkHVM5UGj4","nodes":[{"id":"webhook-trigger-id","name":"Webhook","parameters":{"httpMethod":"POST","path":"lead-gen-gmb-test"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":1.1},{"id":"prepare-query-id","name":"PrepareQuery","parameters":{"jsCode":"const body = $input.first().json.body;\nconst niche = body.nicho;\nconst location = body.cidade_estado;\nconst query = `${niche} ${location}`;\nreturn [{ json: { query, original_niche: niche, original_location: location } }];"},"position":[200,0],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"wait-gmb-id","name":"WaitGMB","parameters":{"amount":2,"unit":"seconds"},"position":[350,0],"type":"n8n-nodes-base.wait","typeVersion":1},{"id":"mock-data-id-final","name":"MockData","parameters":{"jsCode":"return [{\n  json: {\n    data: [\n      {\n        \"place_id\": \"mock_ver_final\",\n        \"name\": \"Clinica Odontomed Campinas\",\n        \"website\": \"https://odontomedcampinas.com.br\",\n        \"full_address\": \"R. Dr. Costa Aguiar, 650 - Centro, Campinas - SP\",\n        \"rating\": 4.8,\n        \"review_count\": 150,\n        \"phone_number\": \"1932361000\"\n      }\n    ],\n    original_location: \"Campinas-sp\"\n  }\n}];"},"position":[500,0],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"process-data-id-final2","name":"ProcessData","parameters":{"jsCode":"function fallback(val) {\n  return (val === undefined || val === null || val === '' || (Array.isArray(val) && val.length === 0)) ? 'Não Encontrado' : val;\n}\nconst input = $input.first().json;\nconst leads = input.data || [];\nreturn leads.map(business => {\n  return {\n    json: {\n      \"Cidade/Estado\": input.original_location,\n      \"Nome\": business.name,\n      \"Website\": fallback(business.website),\n      \"Endereço\": business.full_address,\n      \"Nota\": business.rating,\n      \"Qtd Aval\": business.review_count,\n      \"Telefone GMB\": business.phone_number,\n      \"WhatsApp\": \"Processando...\",\n      \"Email\": \"Processando...\",\n      \"Instagram\": \"Não Encontrado\",\n      \"CNPJ\": \"Não Encontrado\",\n      \"Atividades\": \"Processando...\",\n      \"Analise Reviews\": \"Processando...\",\n      \"Analise Geral IA\": \"Processando...\",\n      \"Telefone Site\": \"Processando...\"\n    }\n  };\n});"},"position":[660,0],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"loop-over-items-final2","name":"LoopOverItems","parameters":{"batchSize":1},"position":[880,0],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"id":"wait-agent-final2","name":"WaitAgent","parameters":{"amount":2,"unit":"seconds"},"position":[1000,100],"type":"n8n-nodes-base.wait","typeVersion":1},{"id":"ai-agent-final2-id","name":"AIAgent","parameters":{"agent":"conversationalLogically"},"position":[1200,200],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7},{"id":"parse-ai-final2-id","name":"ParseAI","parameters":{"jsCode":"const aiRaw = $input.first().json.output;\nconst loopData = $node[\\\"LoopOverItems\\\"].json;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(aiRaw.match(/\\{[\\s\\S]*\\}/)[0]);\n} catch (e) {\n  parsed = { cnpj: 'Não Encontrado', instagram: 'Não Encontrado' };\n}\nreturn [{\n  json: {\n    ...loopData,\n    \\\"CNPJ\\\": parsed.cnpj || 'Não Encontrado',\n    \\\"Instagram\\\": parsed.instagram || 'Não Encontrado',\n    \\\"Email\\\": parsed.email || 'Não Encontrado',\n    \\\"Telefone Site\\\": parsed.telefone_site || 'Não Encontrado',\n    \\\"Atividades\\\": parsed.atividades || 'Não Encontrado',\n    \\\"Analise Reviews\\\": parsed.analise_reviews || 'Não Encontrado',\n    \\\"Analise Geral IA\\\": parsed.analise_geral_ia || 'Não Encontrado'\n  }\n}];"},"position":[1400,200],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"save-to-sheets-final2-id","name":"SaveToSheets","parameters":{"documentId":"1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M","operation":"append","resource":"sheet","sheetName":"Leads"},"position":[1600,0],"type":"n8n-nodes-base.googleSheets","typeVersion":4.5},{"id":"openai-model-final2-id","name":"OpenAI Chat Model","parameters":{"model":"gpt-4o-mini"},"position":[1100,240],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"serp-final2-id","name":"SerpAPI","parameters":{},"position":[1200,240],"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1},{"id":"http-final2-id","name":"HTTPTool","parameters":{},"position":[1300,240],"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1},{"id":"format-res-final2-id","name":"Format Response","parameters":{"jsCode":"return [{ json: { status: \\\"Sucesso\\\" } }];"},"position":[1100,200],"type":"n8n-nodes-base.code","typeVersion":2}],"connections":{"AIAgent":{"main":[[{"index":0,"node":"ParseAI","type":"main"}]]},"HTTPTool":{"ai_tool":[[{"index":0,"node":"AIAgent","type":"ai_tool"}]]},"LoopOverItems":{"main":[[{"index":0,"node":"Format Response","type":"main"}],[{"index":0,"node":"WaitAgent","type":"main"}]]},"MockData":{"main":[[{"index":0,"node":"ProcessData","type":"main"}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"index":0,"node":"AIAgent","type":"ai_languageModel"}]]},"ParseAI":{"main":[[{"index":0,"node":"SaveToSheets","type":"main"}]]},"PrepareQuery":{"main":[[{"index":0,"node":"WaitGMB","type":"main"}]]},"ProcessData":{"main":[[{"index":0,"node":"LoopOverItems","type":"main"}]]},"SaveToSheets":{"main":[[{"index":0,"node":"LoopOverItems","type":"main"}]]},"SerpAPI":{"ai_tool":[[{"index":0,"node":"AIAgent","type":"ai_tool"}]]},"WaitAgent":{"main":[[{"index":0,"node":"AIAgent","type":"main"}]]},"WaitGMB":{"main":[[{"index":0,"node":"MockData","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"PrepareQuery","type":"main"}]]}},"authors":"Bruno Maia","name":null,"description":null,"autosaved":false},"tags":[]}