leads.json
{"updatedAt":"2025-12-10T20:14:53.000Z","createdAt":"2025-09-09T01:07:09.149Z","id":"XcqTpgk9sL0WDLx3","name":"Leads","active":false,"isArchived":false,"nodes":[{"parameters":{"contextWindowLength":50},"id":"8f955c99-eb65-496d-a8e7-7de409b07c61","name":"Memória","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[256,384],"typeVersion":1.3,"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"httpMethod":"POST","path":"2f63aff5-a13a-4d10-ad1d-a6f4335bc7fa","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[720,352],"id":"f30180bd-f068-4494-8412-3cba842a1c74","name":"Webhook","webhookId":"2f63aff5-a13a-4d10-ad1d-a6f4335bc7fa","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"method":"POST","url":"https://local-business-search.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $('Webhook').item.json.body.termo_de_busca }}"},{"name":"limit","value":"120"},{"name":"language","value":"PT"},{"name":"region","value":"br"},{"name":"extract_emails_and_contacts","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"local-business-search.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{API-KEY-RAPIDAPI}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,352],"id":"dd5c7db6-d22b-44d2-acd6-51b574ecb81f","name":"rapidapi_local-business-search","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1mUR8wV1wNO3lXWc8jj1oM1mDfav4e-CXEmJREz4qgME","mode":"list","cachedResultName":"Negócios Extraídos_VG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUR8wV1wNO3lXWc8jj1oM1mDfav4e-CXEmJREz4qgME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UazuMy1WIt39SeRlToHkCvEbmhydzGD-WjBy3fdpg8c/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('separa_dados').item.json.name }}","Endereço":"={{ $('separa_dados').item.json.full_address }}","Cidade":"={{ $('separa_dados').item.json.city }}","CEP":"={{ $('separa_dados').item.json.zipcode }}","Rating":"={{ $('separa_dados').item.json.rating }}","Quantidade de Avaliações":"={{ $('separa_dados').item.json.review_count }}","Site":"={{ $('separa_dados').item.json.website }}","Business_id":"={{ $('separa_dados').item.json.business_id }}","Telefone":"={{ $('separa_dados').item.json.phone_number }}","Estado":"={{ $('separa_dados').item.json.state }}","Status 1":"Não enviado","Status 2":"Não enviado","Status 3":"Não enviado"},"matchingColumns":[],"schema":[{"id":"Business_id","displayName":"Business_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço","displayName":"Endereço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CEP","displayName":"CEP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quantidade de Avaliações","displayName":"Quantidade de Avaliações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site","displayName":"Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status 1","displayName":"Status 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status 2","displayName":"Status 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status 3","displayName":"Status 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1264,352],"id":"84e9d1a0-e27c-4914-bee0-8bdd2e63ae0c","name":"inclui_dados_planilha","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}},"onError":"continueRegularOutput","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"options":{"systemMessage":"=Prompt do Agente de Prospecção de Negócios\n\nIDENTIDADE E MISSÃO\nVocê é um assistente especializado em prospecção de negócios. Sua função principal é interpretar solicitações de usuários sobre informações de empresas e negócios e acionar a ferramenta pega\\_dados\\_dos\\_negocios para coletar esses dados automaticamente em uma planilha.\n\nFERRAMENTA DISPONÍVEL\nNome: pega\\_dados\\_dos\\_negocios\nParâmetro obrigatório: termo\\_de\\_busca\nDescrição: string no formato \"\\[O que você busca] em \\[Cidade], \\[País/Estado]\". O termo pode ser escrito em português ou em inglês.\n\nDESCRIÇÃO DETALHADA DE termo\\_de\\_busca\nO campo termo\\_de\\_busca é utilizado para encontrar informações sobre estabelecimentos ou serviços em uma localidade específica. O texto pode estar em português ou em inglês e deve seguir esta estrutura:\n\\[O que você busca] em \\[Cidade], \\[País/Estado]\n\n* \\[O que você busca]: tipo de serviço ou estabelecimento (ex.: Hotéis, Restaurantes, Museus).\n* em: palavra fixa \"em\" (ou \"in\", se preferir inglês).\n* \\[Cidade], \\[País/Estado]: nome da cidade e do país ou estado.\n\nEXEMPLOS RÁPIDOS\nIntenção: Hotéis em São Francisco, EUA      -> termo\\_de\\_busca: Hotéis em São Francisco, EUA\nIntenção: Farmácias em Rio de Janeiro       -> termo\\_de\\_busca: Farmácias em Rio de Janeiro, Brasil\nIntenção: Restaurantes japoneses em São Paulo -> termo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nIntenção: Aeroportos em Londres             -> termo\\_de\\_busca: Aeroportos em Londres, Reino Unido\n\nRESPONSABILIDADES PRINCIPAIS\n\n1. Interpretar solicitações: identificar tipo de negócio, localização e filtros.\n2. Construir o termo\\_de\\_busca: montar a string no formato exigido, em português ou inglês conforme necessário.\n3. Acionar a ferramenta:\n   pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"\\[consulta]\" })\n4. Confirmar execução: informar ao usuário que os dados foram coletados e adicionados à planilha.\n\nDIRETRIZES DE COMPORTAMENTO\nAo receber uma solicitação:\n\n* Identificar os elementos‑chave.\n* Normalizar os termos e montar o termo\\_de\\_busca no formato correto.\n* Chamar a ferramenta e responder de forma concisa ao usuário.\n\nFORMATO DA RESPOSTA AO USUÁRIO\n\n* Confirmar o que foi solicitado.\n* Informar que a busca foi realizada e que os dados estão na planilha.\n\nEXEMPLOS DE INTERAÇÃO\nExemplo 1\nUsuário: \"Quero informações sobre clínicas médicas no Rio de Janeiro\".\nAgente:\ntermo\\_de\\_busca: Clínicas médicas em Rio de Janeiro, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Clínicas médicas em Rio de Janeiro, Brasil\" })\nResposta: Busquei e coletei informações sobre clínicas médicas no Rio de Janeiro. Os dados já foram adicionados à sua planilha de prospecção.\n\nExemplo 2\nUsuário: \"Preciso de dados de restaurantes japoneses em São Paulo\".\nAgente:\ntermo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Restaurantes japoneses em São Paulo, Brasil\" })\nResposta: Coletei informações sobre restaurantes japoneses em São Paulo. Todos os dados foram inseridos na planilha.\n\nExemplo 3\nUsuário: \"Me ajuda a encontrar escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio\".\nAgente:\ntermo\\_de\\_busca: Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\" })\nResposta: Busquei escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio de Janeiro. As informações já estão disponíveis na sua planilha.\n\nTRATAMENTO DE CASOS ESPECIAIS\nSolicitações ambíguas: pedir esclarecimentos.\nMúltiplas localizações: executar buscas separadas e avisar o usuário.\nSegmentos amplos: sugerir refinamentos.\n\nRESPOSTAS PADRÃO\nApós coleta bem‑sucedida: \"Coletei as informações sobre \\[busca] em \\[local]. Os dados já foram adicionados à sua planilha de prospecção.\"\nQuando precisar de esclarecimentos: \"Para garantir que eu colete as informações mais relevantes, poderia especificar \\[informação faltante]?\"\nPara confirmação: \"Entendi que você precisa de dados sobre \\[busca] em \\[local]. Vou coletar essas informações agora.\"\n\nPRINCÍPIOS IMPORTANTES\n\n* Proatividade: deduzir intenções com informações incompletas quando possível.\n* Precisão: usar o formato exato de termo\\_de\\_busca.\n* Concisão: confirmar a ação sem explicações desnecessárias.\n* Confiabilidade: sempre confirmar quando os dados forem adicionados.\n\nLIMITAÇÕES\n\n* Não fornecer os dados diretamente na conversa.\n* Não analisar nem interpretar os dados coletados.\n* Não sugerir estratégias de prospecção.\n* Focar apenas em coletar e confirmar a inserção dos dados na planilha.\n\nLembre-se: Você é a ponte entre a solicitação do usuário e a coleta automatizada de dados. Interprete corretamente, construa o termo\\_de\\_busca e acione a ferramenta com precisão.\n"}},"id":"08ce986f-be4f-4498-b9a5-f8595ca611b1","name":"Agente IA","type":"@n8n/n8n-nodes-langchain.agent","position":[192,192],"typeVersion":1.8,"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"### API SCRAPING GOOGLE MAPS\n\nLink: https://rapidapi.com/letscrape-6bRBa3QguO5/api/local-business-search","height":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[848,192],"typeVersion":1,"id":"a8506b63-82c3-4a22-9ce1-b1193c9c179d","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,192],"id":"03ce2e1c-e2d7-4730-935d-f1afc99eca77","name":"Fim2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,352],"id":"54d3b287-6efd-42c6-893f-9d4c9df37fa4","name":"Fim1"},{"parameters":{"options":{}},"id":"fd7708c3-8501-4891-ad09-e1ef93e196a0","name":"Solicitar leads","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[48,192],"webhookId":"1fc494f1-781c-4f54-b3fc-d14132ad2ca6","typeVersion":1.1,"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"id":"5aada82e-4ac2-4c30-912a-bb48a9155911","name":"Modelo de Linguagem","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[144,368],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"l1rZbPsT3KbBq6Mj","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"toolDescription":"Busca dados de estabelecimentos, empresas e serviços a partir de um termo de busca","method":"POST","url":"={{URL-WEBHOOK}}","sendBody":true,"bodyParameters":{"parameters":[{"name":"termo_de_busca","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[448,384],"id":"eceb1d75-80cc-4475-978d-d71ece6428bf","name":"busca_dados","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,352],"id":"4b422188-4437-451a-a173-afc2a0376fd7","name":"separa_dados","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"26b63941-4d20-43ff-af60-6b148ce28706","name":"response","value":"Preenchi lá na planilha os negócios que eu encontrei","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,352],"id":"d2c95293-476e-4ce2-8868-eae8f2b9fed9","name":"responde_IA","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"","height":720,"width":1984,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,16],"id":"75e30066-119d-4117-ba96-736fe1fe9ca6","name":"Sticky Note1"},{"parameters":{"content":"## FLUXO BUSCADOR DE LEADS GOOGLE MEU NEGÓCIO","height":80,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,32],"id":"cdf31ddd-30ba-40f2-a1ab-4f7dd62da562","name":"Sticky Note2"},{"parameters":{"content":"## Instruções de Uso\n🔴 Áreas em vermelho você deve realizar alterações de acordo com seu canal de entrada;\n🟢 Áreas em verde já estão pré configuradas para o canal do Template, caso vá utilizar outro canal, também fazer devidas alterações nesses nodes;\n\n⚠️ Atenção: \n1. Não altere nome de parâmetros pré-existentes para para evitar quebra do fluxo;\n2. Fique a vontade para adicionar novos parâmetros caso necessário;","height":220,"width":690,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,544],"id":"00ffa0e1-beb5-4e86-a5b6-72792f8793f6","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://localhost"},{"name":"X-Title","value":"n8n leads"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente útil.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Escreva uma frase curta de teste para validar a integração.\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,96],"id":"bf797cd9-d706-42d3-8348-1d974bc04e80","name":"HTTP Request"},{"parameters":{"model":"openai/gpt-oss-20b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-256,32],"id":"7d70719a-7c53-4e95-9867-aa7965213f9c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SDBKT1BEEYiULjFr","name":"OpenRouter account 2"}},"disabled":true}],"connections":{"Memória":{"ai_memory":[[{"node":"Agente IA","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"rapidapi_local-business-search","type":"main","index":0}]]},"rapidapi_local-business-search":{"main":[[{"node":"separa_dados","type":"main","index":0}]]},"inclui_dados_planilha":{"main":[[{"node":"responde_IA","type":"main","index":0}]]},"Agente IA":{"main":[[{"node":"Fim2","type":"main","index":0}]]},"Solicitar leads":{"main":[[{"node":"Agente IA","type":"main","index":0}]]},"Modelo de Linguagem":{"ai_languageModel":[[{"node":"Agente IA","type":"ai_languageModel","index":0}]]},"busca_dados":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"separa_dados":{"main":[[{"node":"inclui_dados_planilha","type":"main","index":0}]]},"responde_IA":{"main":[[{"node":"Fim1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"707877b6-550a-4855-b0ad-57099abbeb69","triggerCount":2,"shared":[{"updatedAt":"2025-09-09T01:07:09.154Z","createdAt":"2025-09-09T01:07:09.154Z","role":"workflow:owner","workflowId":"XcqTpgk9sL0WDLx3","projectId":"G56NELttT2pGfqmo"}],"tags":[]}