letty-3.0-qualificadora-[nome-da-instância].json
{"updatedAt":"2026-01-28T20:33:27.219Z","createdAt":"2026-01-18T21:26:42.850Z","id":"Ud7PZpCg6oUOGBri","name":"Letty 3.0  Qualificadora [Nome da Instância]","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1c3b43f3-bd0a-4c25-9c3d-b5d6e811a5fe","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[6240,528]},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Normaliza').item.json.instance.Name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normaliza').item.json.instance.Apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normaliza').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"2018ebbb-ebd1-4750-aace-cc442e99d63f","name":"Mensagem de Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2928,176],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"213a4c9e-d956-403d-8eeb-7b2da4823a93","name":"Converter Áudio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3168,176]},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a6004904-d9e1-4627-be79-d2a5b073d44f","name":"mensagem","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"ae117fe9-4fb9-49fd-85f7-df8dac253138","name":"Filta Msg App","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3072,784]},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Normaliza').item.json.instance.Name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normaliza').item.json.instance.Apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normaliza').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"9e95edf9-32e4-44b7-b5a2-b17cb6b7bd34","name":"Envio de Imagens","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2704,576],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"3e47bd89-e5ff-4852-8c61-992e70df68bf","name":"Converter Imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2944,576]},{"parameters":{"operation":"pdf","options":{}},"id":"e7e1e415-44cd-4915-9217-60c762a5dcd1","name":"Extrair Dados","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3392,1216]},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Normaliza').item.json.instance.Name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normaliza').item.json.instance.Apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normaliza').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"43316fec-6098-4917-bec0-c1642f2efb9a","name":"Envio de Documentos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2912,1168],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"={{ $json.fileName }}","mimeType":"application/pdf"}},"id":"9f6ccaf8-7b9b-4e9d-8307-9a4f27f999aa","name":"Converter Arquivo1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3104,1168]},{"parameters":{"jsCode":"function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"},"id":"42cbf832-2d8b-46a6-a2ab-28dbc9827625","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5824,240]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"5d8796dd-8846-485e-b675-c961bb70cc94","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3488,176],"disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva essa imagem, oque tem nela?","inputType":"base64","options":{}},"id":"7b0f7e5f-6dc2-4d5b-b4fa-1cf49aa2888d","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3120,576],"disabled":true},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_timeout","options":{}},"id":"2c5b1523-b144-4153-8804-b449e026b228","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1280,1184]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"cb85ca18-ece3-468e-9675-7ffd75bdf6d7","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1600,880]},{"parameters":{},"id":"a450e693-fa24-4bd4-8487-3540fa2dd02a","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1904,1136]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('Webhook1').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38226af4-80fe-4155-9ceb-2379f44e29ed","leftValue":"={{ $('Webhook1').item.json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imageMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300366d9-2416-4cf4-93c3-e48c8761c60f","leftValue":"={{ $('Normaliza').item.json.message.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"conversation "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f33566fd-3eb9-45f4-934a-3a39e2adca6c","leftValue":"={{ $('Webhook1').item.json.body.data.messageType === 'documentMessage' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documentMessage"}]},"options":{"fallbackOutput":"none"}},"id":"51f16190-e94e-4dd0-a7ee-e88cdc3ee1a4","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2272,592]},{"parameters":{"promptType":"define","text":"={{ $json.messages }}","options":{"systemMessage":"=Você é o agente qualificador da imobiliária alto padrão. O seu papel é qualificar o cliente e controlar o estágio que ele está no funil de vendas. Seja cordial e conduza a conversa seguindo o ritmo do cliente, não force a barra.\nHoje é  {{ $now.toString() }} {{ new Date().toLocaleDateString('pt-BR', { weekday: 'long' }) }}\n\nPasso a Passo da Qualificação:\nVocê não precisa exatamente qualificar na ordem escrita, adapte a qualificação para o contexto da conversa.\n\n1) Você precisa saber se o cliente tem o valor para dar entrada no imóvel e qual seria o total, ou equivalente em dinheiro. Quando Souber disso acione a ferramenta Quali1 e quando terminar acione a ferramenta agenteestagio\n2) Quando souber quando o cliente quer comprar acione a ferramenta Quali2, em seguida acione a ferramenta agenteestagio.\n4) Caso o cliente queira visitar o imóvel acione a ferramenta Quali3 e em seguida ferramenta agenteestagio.\n\nRegra de Comunicação com a ferramenta agenteestagio\nA ferramenta agenteestagio vai qualificar o estágio do cliente dentro do funil. Essa ferramenta entende que:\nEstágio 1 – Não tem qualificação do cliente\nEstágio 2 – Possui a qualificação de valor de entrada e tem data para compra\nEstágio 3 – O cliente quer ver o imóvel\n\nRegra de ouro:\n- Jamais comunique ao cliente sobre as etapas do funil. \n- As mensagens enviadas para o cliente deve conter apenas informações qque ele precisa\n"}},"id":"092106e3-a712-4f57-bc65-39bdf372e951","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[6224,240]},{"parameters":{"content":"## Buffer \n","height":1564,"width":1399,"color":6},"id":"5da5754d-aed8-43ba-9187-94be1bc3d255","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4192,0]},{"parameters":{"content":"## Intervenção Humana - Timeout","height":1076,"width":2099,"color":6},"id":"7aac2bb9-8370-422c-98e5-b95b064f7e3c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,464]},{"parameters":{"content":"","height":1560,"width":1999,"color":7},"id":"60af91d5-af03-4b2e-8244-55067f6e3087","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normaliza').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"873ae22d-50c1-4f4f-89db-ff76cd6f94c9"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Normaliza').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"b954db2e-2c52-4b97-a88d-9e51f785e9e7","name":"Origem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[880,848]},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_timeout","value":"true","keyType":"string","expire":true,"ttl":900},"id":"b6bb0d48-f418-49d6-89df-5bdb24b60272","name":"Gera Timeout","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1280,704]},{"parameters":{"content":"## Autenticação Evolution Automática:\n- Para tanto, é necessário apenas:\n1. Certificar-se de que seu WhatsApp está devidamente conectado à Evolution\n2. Utilizar a URL correta na conexão da Evolution com o n8n\n## Atente-se a conexão com o ElevenLabs:\n\n- Para o EllevenLabs funcionar preencha o campo apiKey_eleven dentro do node de Normaliza, da maneira devida","height":660,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,640],"id":"7415ebe3-8525-41c3-9dfe-3b3fdcd17545","name":"Sticky Note3"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Tempo de Timeout\n- Você pode alterar o tempo em métricas TTL para melhor personalização do tempo de timeout\n- Utilize o site abaixo para saber em minutos quanto vale um determinado valor TTL:\n  - https://ttl-calc.com/","height":440,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,640],"id":"1f0f37a7-2ba2-40b3-9dac-353f0619e854","name":"Sticky Note4"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## LLM\n**Cérebro**\n\nOrigem da \nIA","height":460,"width":180,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5776,464],"id":"5480a17e-a811-40ed-8e5f-f829bc2deb5c","name":"Sticky Note7"},{"parameters":{"content":"## Extração de Texto\n**Não lê imagem mas torna mais barato o uso de tokens**\n\n","height":280,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3296,1104],"id":"17960aac-a331-4de3-98d3-7fdbb921b895","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3aa3973d-97b9-4647-9859-3365191b3411","leftValue":"={{ $json.output.length }}","rightValue":200,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7776,256],"id":"eaf77a19-9e61-47b4-9366-55438743cda1","name":"If"},{"parameters":{"content":"\n\n\n\n\nVerificar Anotações abaixo.","height":140,"width":580,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5952,224],"id":"128b8094-e7fb-4526-969a-d29a6f0fd95a","name":"Sticky Note12"},{"parameters":{"content":"Módulo de Voz","height":280,"width":1384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8192,256],"id":"706ba963-f509-49bf-8c8a-188a318076ce","name":"Sticky Note16"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Ferramentas / Funções \n**Aqui ficam as Ferramentas** \n- É importante que você conheça os\n  princípios para aciona-las\n- Existem infinitas possibilidades\n  dentro do N8N ","height":456,"width":448,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6160,464],"id":"2e105717-e8d9-4f73-b3a1-19669ba70f62","name":"Sticky Note13"},{"parameters":{"httpMethod":"POST","path":"adsasdasdcarlosxvxcvxv","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,864],"id":"14707dab-b54c-4ed6-8652-bf53a268e810","name":"Webhook1","webhookId":"48cae0d3-317b-4297-a9cb-9d186eb8db41"},{"parameters":{"assignments":{"assignments":[{"id":"2f2922a9-48b3-4c89-b64b-c38bb8b6d6c0","name":"Mídia_Tratada","value":"={{ $json.mensagem }}{{ $json.text }}{{ $json.content }}","type":"string"},{"id":"f63d6095-aa42-4c65-96e7-8a2b4fd21d4b","name":"message_Id","value":"={{ $('Normaliza').item.json.message.message_id }}","type":"string"},{"id":"1772262e-3e2d-4f1c-8a49-eb7e9a3240e6","name":"Timetamp","value":"={{ $('Normaliza').item.json.message.Timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3920,1120],"id":"3b114d90-1cfd-4bba-a9bb-f8528af4d782","name":"Organiza Texto"},{"parameters":{"assignments":{"assignments":[{"id":"4493d611-a160-4ff7-b99d-a1bbe9c1580f","name":"message.message_id","value":"={{ $json.body.data.key.id || '' }}","type":"string"},{"id":"49efffcf-df6e-42e2-a7a2-dc77aa3a8e44","name":"message.chat_id","value":"={{ $json.body.data.key.remoteJid.split('@')[0] || '' }}","type":"string"},{"id":"c2de024f-c074-40c5-b0af-26ccd5b8498a","name":"message.content_type","value":"={{ $('Webhook1').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook1').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook1').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook1').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"71776ffb-4208-496c-a43c-81641dd9a063","name":"message.content","value":"={{ $('Webhook1').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook1').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook1').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"59ac8819-fcec-4f11-bfbb-c64ddc2b5dc5","name":"=message.Timestamp","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"a8164c9b-f189-4c97-9fb4-828eb36175c3","name":"message.Content_URL","value":"={{ $('Webhook1').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook1').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"1d26cae2-f41e-4ae5-9e65-74702db13593","name":"message.event","value":"={{ $('Webhook1').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"0ce58477-9897-47fd-af87-2f11d8c51ef0","name":"instance.Name","value":"={{ $json.body.instance }}","type":"string"},{"id":"7c962476-f63e-48a1-bd7f-fc386ca3bb80","name":"instance.Apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"654a6c8d-0d36-46e8-8854-2dc3c08ac8b6","name":"instance.Server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"4d2c3630-3c3b-40bd-9ffa-c2e856eba2bc","name":"message.lid","value":"={{ $json.body.data.key.senderLid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,864],"id":"af72401e-2b94-4afa-a0fa-b5db6d2d880d","name":"Normaliza","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"81d92796-c567-4c0b-bd7a-727fd911f9e8","name":"content","value":"=A imagem enviada tem o seguinte conteúdo:\n{{ $json.content }}\nA imagem contém a seguinte legenda:\n{{ $('Normaliza').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3472,416],"id":"a7cab9b8-7a1c-4843-a556-9702befe2102","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54d3dfaa-2a45-4aa7-bbb5-1c3030db3ea1","leftValue":"={{ $('Normaliza').item.json.message.content }}","rightValue":"[empty]","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3312,576],"id":"4fb5446f-95fc-4093-bc35-f276d3333ce3","name":"If1"},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.instance.Server_url }}/message/sendWhatsAppAudio/{{ $('Normaliza').item.json.instance.Name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normaliza').item.json.instance.Apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Normaliza').item.json.message.chat_id }}{{ $('Normaliza').item.json.message.lid }}\",\n    \"audio\": \"{{ $json.data }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9344,352],"id":"2e635ff9-c4f9-424b-8aa0-9aaf3720e2e7","name":"Enviar Mensagem de ÁUDIO WhatsApp - Telefone"},{"parameters":{"content":"## Central de Envios de Mensagens e Áudios\n","height":1548,"width":1499,"color":6},"id":"4548ee90-0271-4e85-9fc7-2a5efdb7e3fa","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8144,16]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7232,240],"id":"3b69a57a-8703-480f-ad1f-f15d350c0a65","name":"No Operation, do nothing"},{"parameters":{"options":{}},"id":"01a238e4-4c05-4195-ad84-57c4a37e0d4f","name":"LoopItems","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8784,992]},{"parameters":{"amount":1.2},"id":"70414e94-363d-4c38-9580-daab5458bdf8","name":"Digitando","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9312,1136],"webhookId":"7e9d4594-fc00-4a7e-9d03-0868fce3a7f2"},{"parameters":{},"id":"959b643c-2db5-4f45-86ad-75b7ee753dde","name":"Termina envio","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9152,704]},{"parameters":{"assignments":{"assignments":[{"id":"efde61c9-1d5d-416a-8fc3-ae28d21fa94e","name":"=output","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8336,688],"id":"efa9383a-a364-482c-925b-f51db47cbbef","name":"Edit Fields4"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8544,816],"id":"ad42ee44-3aa6-4b47-8625-28e42c53d434","name":"Split Out1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[8896,352],"id":"03dbc3d1-7289-437b-baa9-61ff045fb3e1","name":"Extract from File","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Normaliza').item.json.instance.Server_url }}/message/sendText/{{ $('Normaliza').item.json.instance.Name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normaliza').item.json.instance.Apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Normaliza').item.json.message.chat_id || $('Normaliza').item.json.message.lid }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n","options":{}},"id":"15177228-02d8-4f5a-90a1-b3c038e03ea2","name":"Enviar Mensagem de TEXTO WhatsApp - Telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9072,1120],"continueOnFail":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"m","tableName":{"__rl":true,"value":"contacts","mode":"list","cachedResultName":"contacts"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[6112,1104],"id":"1462b039-7ea9-4b92-97d6-20c81cd01c2f","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[5952,1264],"id":"ee983323-0fb5-49b0-92ad-e852fae7ac2b","name":"Embeddings OpenAI","disabled":true},{"parameters":{"content":"## Aprenda a limpar o Redis\n**Temos aula disso**\n\n- Excesso de mensagens de teste confunde a IA\n- A aula está localizada no módulo \"Mecânico - solução de erros\" na aula \"Resetando memória do Redis\"","height":460,"width":1220,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6416,944],"id":"51479065-65d4-4292-b5d7-bde3e26b4888","name":"Sticky Note10"},{"parameters":{"content":"## Acessp ap RAG\n**Temos aula disso**\n\n- Excesso de mensagens de teste confunde a IA\n- A aula está localizada no módulo \"Mecânico - solução de erros\" na aula \"Resetando memória do Redis\"","height":460,"width":612,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5776,944],"id":"fb384265-1e17-44ef-8155-ddba163b4f07","name":"Sticky Note11"},{"parameters":{"mode":"delete","deleteMode":"all"},"id":"a867c117-12a3-473d-a06d-7ea7d43c4846","name":"Chat Memory Delete","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[7248,1216]},{"parameters":{"content":"Módulo de Voz","height":792,"width":1384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8192,576],"id":"d3cc2a5c-8665-411b-8367-5ee852ae0fc1","name":"Sticky Note22"},{"parameters":{"content":"## Agente de IA como Ferramenta \n**Facilita o Uso de Ferramentas** \n\n","height":456,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6624,464],"id":"5e072e63-f4e9-4d39-9181-efa83cd2d5a8","name":"Sticky Note17"},{"parameters":{"content":"Módulo de Voz","height":1384,"width":1880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2208,112],"id":"63ac8e75-a467-4a96-a74e-45ea308a7e99","name":"Sticky Note23"},{"parameters":{"content":"## Aprenda a limpar o Redis\n**Temos aula disso**\n\n- Excesso de mensagens de teste confunde a IA\n- A aula está localizada no módulo \"Mecânico - solução de erros\" na aula \"Resetando memória do Redis\"","height":1372,"width":1284,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4256,128],"id":"1861d425-cfc5-4de3-aa43-863631b2f56d","name":"Sticky Note14"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Ferramentas / Funções \n**Aqui ficam as Ferramentas** \n- É importante que você conheça os\n  princípios para aciona-las\n- Existem infinitas possibilidades\n  dentro do N8N ","height":824,"width":1968,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,624],"id":"44d9e337-eb2d-4e97-b46b-26fec449f1cb","name":"Sticky Note15"},{"parameters":{"content":"Módulo de Voz","height":280,"width":2216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5776,160],"id":"a03f5ed8-b005-433e-9a44-f72216106922","name":"Sticky Note24"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Memória\n**Gera Contexto**\n\nAlimenta o fluco da conversa","height":460,"width":180,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5968,464],"id":"40046a13-89eb-4339-87ab-acbc92e72335","name":"Sticky Note9"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[6448,1200],"id":"b01d011c-c15f-4ee0-a48f-c356b941e9d1","name":"When clicking ‘Execute workflow’"},{"parameters":{},"id":"ff7ce4d4-c081-439a-9399-9e27341e5232","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5072,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ \n  $json.messages.length > 8 \n    ? $('Normaliza').item.json.message.messageID\n    : JSON.parse($json.messages.first()).messageID\n}}","rightValue":"={{ $('Organiza Texto').item.json.message_Id }}","operator":{"type":"string","operation":"notEquals"},"id":"1ce28741-7c43-4598-9fa0-ab2c9e52d75f"}],"combinator":"and"},"renameOutput":"={{ true }}","outputKey":"Não é 1a Mensagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1585bc24-0b58-4179-8919-0e9aabc0e35e","leftValue":"={{ JSON.parse($json.messages.last()).messageTime }}","rightValue":"={{ $now.minus(3.'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":"={{ true }}"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"esperar"}},"id":"568a00f3-7630-4c24-97f3-d195b9ebe731","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4736,640]},{"parameters":{},"id":"3f88bac0-6f9f-40b7-9a99-543544155880","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5056,896],"webhookId":"f47e55cf-d851-450f-9505-86e6ba2a077a"},{"parameters":{"operation":"delete","key":"={{ $('Normaliza').item.json.message.chat_id.toString() }}_buf"},"id":"2f36c1d6-fd85-4baf-9ff5-f7ba3f91cb58","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5056,656]},{"parameters":{"content":"## Tempo de Buffer\n- Altere o número de segundos no node Wait1\n","height":360,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4704,448],"id":"e5e3346e-fec7-4045-97cb-aa526decf29c","name":"Sticky Note26"},{"parameters":{"operation":"push","list":"={{ $('Normaliza').item.json.message.chat_id }}_buf","messageData":"={{ JSON.stringify({ \n    \"messageContent\": $('Organiza Texto').item.json['Mídia_Tratada'],\n    \"messageTime\": $('Organiza Texto').item.json.Timetamp,\n    \"messageID\": $('Organiza Texto').item.json.message_Id,\n    \n}) }}","tail":true},"id":"8e4d5421-b12c-46d3-a9a1-bd3fa479c58a","name":"Push Buffer1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4336,496]},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Normaliza').item.json.message.chat_id.toString() }}_buf","options":{}},"id":"a8480431-d121-48d8-9aa1-e1841da0f07e","name":"Get Buffer1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4512,672]},{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"messages","value":"={{ $json.messages.map(msg => JSON.parse(msg)).sort((a, b) => new Date(a.messageTime) - new Date(b.messageTime)).map(msg => msg.messageContent).join(' ') }}\n","type":"string"}]},"options":{}},"id":"45065e48-c4a6-427c-b72b-d02ad3deae32","name":"Remonta Input1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5392,672]},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[6384,800],"id":"9d8fdb2a-9589-4efd-921d-0dcdcf16d8b6","name":"Date & Time"},{"parameters":{"httpMethod":"POST","path":"76ab852b-f6e9-4c79-9fa6-73b86a60e77e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[160,496],"id":"cf3b836c-67a4-447d-a6a3-9fbd5e93a5b3","name":"Webhook","webhookId":"76ab852b-f6e9-4c79-9fa6-73b86a60e77e","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6512,576],"id":"d07bc090-84a5-47dc-91f3-96d4a270080e","name":"Think"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6496,800],"id":"d15b7a05-12b3-4e96-9564-5245b3d5598c","name":"Google Gemini Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normaliza').item.json.message.chat_id }}_mem"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7504,784],"id":"f10e68c3-cf60-4979-8761-b0a8edd14c63","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"KGdZtV7l7XLXY021","name":"Postgres Clinica"}}},{"parameters":{"operation":"update","tableId":"leads_em_atendimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Normaliza').item.json.message.chat_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Quali 1","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7152,496],"id":"79be06e9-79e0-4afc-ac45-db315dec1079","name":"Quali1","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"update","tableId":"leads_em_atendimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Normaliza').item.json.message.chat_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Quali 2","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7280,496],"id":"77198d0e-d488-40c4-8497-1520e907251a","name":"Quali2","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"update","tableId":"leads_em_atendimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Normaliza').item.json.message.chat_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Quali 3","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[7392,496],"id":"1bf07839-7fff-4aaf-9fbf-090bbaacbbd7","name":"Quali3","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=Você precisa compreender em que estágio o cliente está no funil de vendas. \nVocê tem acesso a memória da conversa e deve avaliar para classificar:\n\nEstágio 1 – Não tem qualificação do cliente\nEstágio 2 – Possui a qualificação de valor de entrada e tem data de compra\nEstágio 3 – O cliente quer ver o imóvel\n\nQuando souber o estágio acione a ferramenta estagio e atualize usando o número do estágio."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[6688,624],"id":"ed575a99-ee05-4b4d-a626-202c843e0c82","name":"agenteestagio"},{"parameters":{"operation":"update","tableId":"leads_em_atendimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Normaliza').item.json.message.chat_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"stage","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[6864,800],"id":"1954eb97-e106-47a9-9dcd-e6d662efc973","name":"estagio","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"operation":"get","tableId":"leads_em_atendimento","filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.message.chat_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-800,864],"id":"7d9a0e3c-2cbd-49db-8d8e-2d95a5be9e25","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb189c89-8a7f-4afa-affa-b7c7a8406eba","leftValue":"={{ $json.session_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,864],"id":"c19596bd-24db-487c-9d38-fd46f4414477","name":"If2"},{"parameters":{"tableId":"leads_em_atendimento","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Normaliza').item.json.message.chat_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-272,624],"id":"95b0798f-c454-4e3f-a412-289bad42e8ea","name":"Create a row","credentials":{"supabaseApi":{"id":"qY4nOAUdZXWB7Dao","name":"Supabase_RAG"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"556182906699_mem"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[6992,1232],"id":"e254bc09-71a6-4ba3-8ca0-4b5200b6054b","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"KGdZtV7l7XLXY021","name":"Postgres Clinica"}}},{"parameters":{"options":{}},"id":"a52d706a-76c2-40e5-9379-a27400a4fd2c","name":"Chat Memory Get","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[7248,1024]}],"connections":{"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Mensagem de Audio":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Filta Msg App":{"main":[[{"node":"Organiza Texto","type":"main","index":0}]]},"Envio de Imagens":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Extrair Dados":{"main":[[{"node":"Organiza Texto","type":"main","index":0}]]},"Envio de Documentos1":{"main":[[{"node":"Converter Arquivo1","type":"main","index":0}]]},"Converter Arquivo1":{"main":[[{"node":"Extrair Dados","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Organiza Texto","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem de Audio","type":"main","index":0}],[{"node":"Envio de Imagens","type":"main","index":0}],[{"node":"Filta Msg App","type":"main","index":0}],[{"node":"Envio de Documentos1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Origem":{"main":[[{"node":"Gera Timeout","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Organiza Texto":{"main":[[{"node":"Push Buffer1","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Organiza Texto","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Organiza Texto","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"LoopItems":{"main":[[{"node":"Termina envio","type":"main","index":0}],[{"node":"Enviar Mensagem de TEXTO WhatsApp - Telefone","type":"main","index":0}]]},"Digitando":{"main":[[{"node":"LoopItems","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"LoopItems","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar Mensagem de ÁUDIO WhatsApp - Telefone","type":"main","index":0}]]},"Enviar Mensagem de TEXTO WhatsApp - Telefone":{"main":[[{"node":"Digitando","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Get","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Buffer1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Remonta Input1","type":"main","index":0}]]},"Push Buffer1":{"main":[[{"node":"Get Buffer1","type":"main","index":0}]]},"Get Buffer1":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Remonta Input1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"agenteestagio","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"agenteestagio","type":"ai_memory","index":0}]]},"Quali1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Quali2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Quali3":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"agenteestagio":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"estagio":{"ai_tool":[[{"node":"agenteestagio","type":"ai_tool","index":0}]]},"Get a row":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Origem","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Origem","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Delete","type":"ai_memory","index":0},{"node":"Chat Memory Get","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Webhook1":[{"json":{"headers":{"host":"webhook.alunaencha.shop","user-agent":"axios/1.12.2","content-length":"1461","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"217.196.63.233","x-forwarded-host":"webhook.alunaencha.shop","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9dcd1b7f8318","x-real-ip":"217.196.63.233"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"number_ia_5850","data":{"key":{"remoteJid":"556182906699@s.whatsapp.net","remoteJidAlt":"273632551006319@lid","fromMe":false,"id":"3B4922454ADADFC87BB2","participant":"","addressingMode":"pn"},"pushName":"Carlos Maximiliano","status":"DELIVERY_ACK","message":{"conversation":"quero marcar uma visita para amanhã","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":253,"1":159,"2":52,"3":101,"4":241,"5":99,"6":239,"7":41,"8":88,"9":183},"senderTimestamp":{"low":1758663348,"high":0,"unsigned":true},"recipientKeyHash":{"0":125,"1":193,"2":126,"3":12,"4":72,"5":1,"6":195,"7":117,"8":197,"9":216},"recipientTimestamp":{"low":1761059145,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":185,"1":218,"2":196,"3":255,"4":195,"5":238,"6":130,"7":172,"8":229,"9":178,"10":157,"11":160,"12":172,"13":9,"14":4,"15":60,"16":1,"17":189,"18":32,"19":211,"20":122,"21":235,"22":183,"23":197,"24":158,"25":154,"26":138,"27":174,"28":237,"29":191,"30":207,"31":150}}},"messageType":"conversation","messageTimestamp":1762268694,"instanceId":"eada9ee5-0083-4ad4-952e-948e349fc144","source":"unknown"},"destination":"https://webhook.alunaencha.shop/webhook/adsasdasdcarlosxvxcvxv","date_time":"2025-11-04T12:04:55.028Z","sender":"556191815850@s.whatsapp.net","server_url":"https://zconectap.enchat.in","apikey":"2F3C6C46C030-414D-A2D3-E77C91B9E616"},"webhookUrl":"https://webhook.alunaencha.shop/webhook/adsasdasdcarlosxvxcvxv","executionMode":"production"}}]},"versionId":"8647d7f0-c15b-478a-9767-ad55f4ebd398","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-18T21:26:42.861Z","createdAt":"2026-01-18T21:26:42.861Z","role":"workflow:owner","workflowId":"Ud7PZpCg6oUOGBri","projectId":"G56NELttT2pGfqmo"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-18T21:26:29.749Z","createdAt":"2026-01-18T21:26:29.749Z","id":"D3fZazgU0i6aX6DO","name":"ENCHA FLUXOS"},{"updatedAt":"2026-01-18T21:26:29.786Z","createdAt":"2026-01-18T21:26:29.786Z","id":"giLgkuZ2W5ppfQol","name":"Exército"}]}