my-workflow-2.json
{"updatedAt":"2025-12-20T22:05:02.000Z","createdAt":"2025-10-16T20:15:53.416Z","id":"FciAHquNEC7Pi2Xu","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-64,0],"id":"4e2d19ee-0028-405f-aad1-0840c415e03a","name":"When chat message received","webhookId":"02ba7f01-5829-47cd-832e-e7bf30f6c4de"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,0],"id":"0e66c118-9249-451a-a8ec-cb12bb1a1fad","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"b99347a6-c276-4a5d-bfb0-3b1c77ef3123","name":"id","value":"={{ $json.ID }}","type":"string"},{"id":"d37f0855-66b4-4ec5-9398-ec87a57a3f90","name":"telefone","value":"={{ $json['Telefone Site'] }}","type":"string"},{"id":"bcacf8dd-1df1-476d-892c-169e40858a54","name":"link_endereco","value":"={{ $json['Link GMN'] }}","type":"string"},{"id":"89d762b3-4705-4290-8706-193fcf042198","name":"email_cliente","value":"={{ $json.Email }}","type":"string"},{"id":"413df8c0-1034-438d-be59-1eb176481efd","name":"website","value":"={{ $json.Website }}","type":"string"},{"id":"0b3112a8-f6bf-4115-8a98-7e44218b181a","name":"analise_review","value":"={{ $json['Analise Reviews'] }}","type":"string"},{"id":"c7f2e56d-d925-4ca9-a3aa-c661235df580","name":"analise_geral","value":"={{ $json['Analise Geral IA'] }}","type":"string"},{"id":"04b04921-5170-4b48-ac45-7320fb760c1a","name":"nota","value":"={{ $json.Nota }}","type":"string"},{"id":"036e433f-6e47-4ecd-95d6-c113c30345ee","name":"qntd_avaliacoes","value":"={{ $json['Qtd Reviews'] }}","type":"string"},{"id":"414bfb09-af7b-435f-9b76-98242afca1e3","name":"status","value":"={{ $json.Status }}","type":"string"},{"id":"44dba12b-f6f7-45ca-9aff-ee71eaf73d3d","name":"data_contato","value":"={{ $json['Data Contato'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,0],"id":"0173a6b5-b563-4edc-81b7-6698954cfe53","name":"Organizando dados"},{"parameters":{"documentId":{"__rl":true,"value":"1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M","mode":"list","cachedResultName":" 🎯 [EA] - GESTÃO DE LEADS OUTBOUND","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit#gid=1185880254"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[128,0],"id":"ddca708e-9c97-4345-9e92-0d1baef8197e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1136,-128],"id":"841476d3-c7b7-43c9-9416-8c3425f330a3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1296,80],"id":"4c9cf26e-777b-4201-ac5f-58cf1cb53a50","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wX5w2fxZDN4WVLRZ","name":"OpenAi_Key"}}},{"parameters":{"documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit?gid=1185880254#gid=1185880254\n\n\n","mode":"url"},"sheetName":{"__rl":true,"value":1185880254,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M/edit#gid=1185880254"},"options":{}},"name":"Verificar Lead Existente","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1984,128],"id":"9028a657-7efd-48da-b40b-97794573a163","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"650b5ecd-5790-4705-a928-acf4d89e60b2","leftValue":"={{ !!($json.telefone && $json.telefone.trim() !== '') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,48],"id":"4612ed4e-999a-497a-890e-386b334c443f","name":"If","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false}],"connections":{"When chat message received":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Organizando dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Organizando dados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2079064-6f7a-4af3-a53c-3d7e4801d0bd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-16T20:15:53.419Z","createdAt":"2025-10-16T20:15:53.419Z","role":"workflow:owner","workflowId":"FciAHquNEC7Pi2Xu","projectId":"G56NELttT2pGfqmo"}],"activeVersion":null,"tags":[]}