my-workflow.json
{"updatedAt":"2025-12-20T22:05:45.000Z","createdAt":"2025-09-04T22:30:37.040Z","id":"1rC9XPieY3vXnppG","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,-64],"id":"54bf1442-3073-4bbd-9be2-1586358d9689","name":"Inicio"},{"parameters":{"url":"https://api.mymemory.translated.net/get","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.q }}"},{"name":"langpair","value":"en|pt-BR"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-64],"id":"c0b5d6a6-1191-4a4d-b767-c87d177f68f4","name":"traduz frase"},{"parameters":{"url":"https://zenquotes.io/api/random/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-64],"id":"46a6b943-7831-4ebb-8fb3-ac806b242ad1","name":"Busca frase"},{"parameters":{"sendTo":"brunomaiadasilva@gmail.com","subject":"Motivacional_N8N","message":"={{ $json.responseData.translatedText }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,-64],"id":"e8e9fb8e-6c0b-49fd-be8a-2685270ee327","name":"Send a message","webhookId":"751dd2ce-bf4f-4a4a-8701-37fac61962d7","notesInFlow":false,"credentials":{"gmailOAuth2":{"id":"AAvoHJe4y1pn8l2R","name":"Gmail account"}}}],"connections":{"Inicio":{"main":[[{"node":"Busca frase","type":"main","index":0}]]},"Busca frase":{"main":[[{"node":"traduz frase","type":"main","index":0}]]},"traduz frase":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Inicio":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e6f5344-b8d9-4a2a-988b-3c93dc2bdae4","triggerCount":1,"shared":[{"updatedAt":"2025-09-04T22:30:37.046Z","createdAt":"2025-09-04T22:30:37.046Z","role":"workflow:owner","workflowId":"1rC9XPieY3vXnppG","projectId":"G56NELttT2pGfqmo"}],"tags":[]}