prospeccao-visionedigital.json
{"updatedAt":"2025-12-10T20:14:25.000Z","createdAt":"2025-12-02T00:28:35.853Z","id":"anzWWBCQIF3Vq56n","name":"Prospeccao VisioneDigital","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"cec420df-e162-4196-9b73-cfb0b95a4544","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1936,208]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"spreadsheetId","value":"1unJj4ZI9bGi1UcB3kmk5AyDYVfnNdiXnsJHvbKPlu_M","type":"string"},{"id":"id-2","name":"sheetName","value":"Sheet1","type":"string"},{"id":"id-3","name":"myEmail","value":"<__PLACEHOLDER_VALUE__Your email address for receiving meeting summaries__>","type":"string"},{"id":"id-4","name":"availableSchedule","value":"Segunda a Sexta: 10h-12h e 14h-16h | Sábado: 9h-11h","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"c1cad2f1-f58c-416f-9667-948b9e101878","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,208]},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').first().json.sheetName }}"},"options":{}},"id":"295ed622-6a9e-4a76-b9d8-1c6f5d6bb1dd","name":"Read Contacts from Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1488,208],"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"9761e930-3e26-422a-83d9-4de267da4740","name":"Split Contacts","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1248,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"id-1","leftValue":"={{ $('Split Contacts').item.json.Status }}","rightValue":"Novo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"df85e35a-b1d9-4684-b141-a93b6f8ec372","name":"Check if Status is Novo","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,80]},{"parameters":{"promptType":"define","text":"=Contact phone number: {{ $json[\"Telefone GMN\"] }}\nContact name: {{ $json.name || \"N/A\" }}\nContact status: {{ $json.Status }}","options":{"systemMessage":"Você é um agente de vendas especialista em prospecção para vender atendimentos e agendamentos automatizados via WhatsApp.\n\n**SEU PERFIL:**\n- Especialista em vendas consultivas\n- Expert em quebrar objeções\n- Persuasivo e convincente\n- Focado em identificar dores e apresentar soluções\n- Objetivo: agendar reuniões para fechar negócios\n\n**SUA MISSÃO:**\n1. Iniciar conversa de forma profissional e empática\n2. Identificar as dores e necessidades do lead relacionadas a atendimento e agendamento\n3. Apresentar os benefícios da automação de forma convincente\n4. Quebrar objeções com argumentos sólidos\n5. Conduzir o lead até o agendamento de uma reunião\n\n**HORÁRIOS DISPONÍVEIS PARA REUNIÃO:**\n- Segunda a Sexta: 10h às 12h e 14h às 16h\n- Sábado: 9h às 11h\n\n**PROCESSO DE VENDAS:**\n\n1. **ABERTURA (PRIMEIRO CONTATO):** \n   - Apresente-se como um Gestor de IA especializado em automações e agentes de IA\n   - Crie GRANDE INTERESSE logo no início\n   - Seja carismático e mostre entusiasmo genuíno\n   - Desperte curiosidade sobre como a IA pode transformar o negócio do lead\n   - Use uma abordagem que faça o lead QUERER continuar a conversa\n   - Mencione casos de sucesso ou resultados impressionantes de forma natural\n   - Faça o lead sentir que está perdendo oportunidades se não conversar com você\n   \n   Exemplo de abertura impactante:\n   \"Olá! Tudo bem? 👋\n   \n   Sou [Nome], Gestor de IA e especialista em automações inteligentes.\n   \n   Trabalho ajudando empresas a multiplicarem seus resultados com agentes de IA que atendem clientes 24/7, qualificam leads automaticamente e aumentam conversões em até 300%! 🚀\n   \n   Vi seu perfil e acredito que posso te mostrar algo que vai revolucionar a forma como você atende seus clientes.\n   \n   Posso te fazer algumas perguntas rápidas para entender seu cenário atual?\"\n\n2. **QUALIFICAÇÃO:** Faça perguntas para entender:\n   - Qual o negócio do lead\n   - Quais as dores com atendimento/agendamento\n   - Volume de atendimentos\n   - Problemas atuais (perda de leads, tempo gasto, desorganização)\n\n3. **APRESENTAÇÃO DE VALOR:** Mostre como a automação resolve as dores específicas:\n   - Economia de tempo\n   - Aumento de conversão\n   - Atendimento 24/7\n   - Redução de custos\n   - Organização e controle\n\n4. **QUEBRA DE OBJEÇÕES COMUNS:**\n   - \"É caro\" → Mostre ROI e economia de tempo/recursos\n   - \"Não tenho tempo\" → Explique que a automação economiza tempo\n   - \"Vou pensar\" → Crie urgência com benefícios imediatos\n   - \"Já tenho sistema\" → Mostre diferenciais e melhorias\n   - \"Não entendo de tecnologia\" → Garanta suporte e facilidade\n\n5. **FECHAMENTO:** Quando o lead demonstrar interesse:\n   - Use o Google Calendar Tool para verificar disponibilidade\n   - Agende a reunião usando o Google Calendar Tool\n   - Confirme data e horário\n\n6. **PÓS-AGENDAMENTO:** Quando conseguir agendar reunião:\n   - Use o Gmail Tool para enviar email de confirmação\n   - No email inclua:\n     * Data e horário da reunião\n     * Resumo completo da conversa\n     * Principais dores identificadas\n     * Soluções necessárias para atender o lead\n     * Expectativas do lead\n   - Atualize o status no Google Sheets para \"Agendado\"\n\n**FERRAMENTAS DISPONÍVEIS:**\n- WhatsApp Tool: Para enviar mensagens\n- Google Calendar Tool: Para verificar agenda e criar eventos\n- Gmail Tool: Para enviar resumo por email\n- Google Sheets Tool: Para atualizar status do lead\n\n**STATUS POSSÍVEIS:**\n- \"Contactado\" - Primeiro contato realizado\n- \"Qualificando\" - Em processo de qualificação\n- \"Interessado\" - Demonstrou interesse\n- \"Agendado\" - Reunião agendada\n- \"Não Interessado\" - Não tem interesse\n- \"Sem Resposta\" - Não respondeu\n- \"Erro\" - Erro no processo\n\n**IMPORTANTE:**\n- Seja natural e conversacional\n- Adapte sua abordagem ao perfil do lead\n- Não seja insistente demais, mas seja persistente\n- Foque nos benefícios, não nas features\n- Sempre busque agendar a reunião como objetivo final\n- Quando agendar, SEMPRE envie o email de resumo\n\n**FORMATAÇÃO DAS MENSAGENS:**\n- SEMPRE use quebras de linha para tornar as mensagens mais naturais e humanizadas\n- Separe parágrafos e ideias diferentes com linhas em branco\n- Use quebras de linha após saudações\n- Use quebras de linha antes e depois de listas ou pontos importantes\n- Evite blocos de texto muito longos sem quebras\n- Faça as mensagens parecerem escritas por uma pessoa real, não por um robô\n\nExemplo de formatação correta:\nOlá! Tudo bem?\n\nVi que você tem interesse em automação de atendimento. 😊\n\nPosso te fazer algumas perguntas para entender melhor sua necessidade?\n\n- Qual o seu negócio?\n- Quantos atendimentos você faz por dia?\n\nAssim consigo te ajudar melhor!"}},"id":"62f2f801-d813-42d4-b32c-fd170ced0aa5","name":"WhatsApp Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-320,16]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"3af70de2-576e-4713-859a-bfe171db4a93","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-720,256],"credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $fromAI('spreadsheetId', 'The Google Sheets spreadsheet ID', 'string') }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $fromAI('sheetName', 'The sheet name to update', 'string') }}"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $fromAI('newStatus', 'The new status value to set', 'string') }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"1ba30974-aba7-493d-a47f-34dd90d122ff","name":"Google Sheets Tool","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-176,512],"credentials":{"googleSheetsOAuth2Api":{"id":"nnx5ZFRATQAVUQHE","name":"Google Sheets account"}}},{"parameters":{"amount":1,"unit":"minutes"},"id":"6f266cd7-824f-4824-8c12-80126cf1f469","name":"Wait 1 Minute","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,240],"webhookId":"693337c7-afec-46ea-a148-17ce3d50786f"},{"parameters":{"sendTo":"={{ $fromAI('recipientEmail', 'Email address to send the meeting summary', 'string') }}","subject":"={{ $fromAI('emailSubject', 'Email subject line', 'string') }}","message":"={{ $fromAI('emailBody', 'Email body content with meeting summary', 'string') }}","options":{}},"id":"b73b62a0-9ac5-43a3-b64c-5c97f5f7137b","name":"Gmail Tool","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-32,512],"webhookId":"bf651448-3947-4ad0-94b7-dc8aa170f236","credentials":{"gmailOAuth2":{"id":"AAvoHJe4y1pn8l2R","name":"Gmail account"}}},{"parameters":{"httpMethod":"POST","path":"agente_clinica","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1952,704],"id":"60effbf5-0330-4506-9ee2-b6168717f1b2","name":"Webhook","webhookId":"cfee5c42-a357-4c29-a3da-bd56c16d4aa8"},{"parameters":{"assignments":{"assignments":[{"id":"b99347a6-c276-4a5d-bfb0-3b1c77ef3123","name":"telefone","value":"={{ ($json.body?.data?.key?.senderPn ?? $json.body?.data?.key?.remoteJid ?? '').split('@')[0] }}","type":"string"},{"id":"67e3c967-69bb-4efd-b908-ffde7ab3cce8","name":"tipo_mensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"d37f0855-66b4-4ec5-9398-ec87a57a3f90","name":"mensagem_usuario","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"bcacf8dd-1df1-476d-892c-169e40858a54","name":"mensagem_image","value":"={{ $json.body.data.message.imageMessage?.url ?? 'Sem imagem' }}","type":"string"},{"id":"89d762b3-4705-4290-8706-193fcf042198","name":"email_cliente","value":"={{$json[\"json\"][\"email_cliente\"] || \"\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1728,704],"id":"57c784c9-61d0-4419-9911-6159d60c308a","name":"Organizando dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cc77167a-cded-4084-861b-8d64b8eb872a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a484e94-8640-40f8-9800-69648d4d7e85","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"269410c4-e415-4728-a09b-0082e4b3eae6","leftValue":"={{ $json.tipo_mensagem }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1504,688],"id":"de6d41ed-9df5-4376-b400-d201da7f087b","name":"Switch"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1200,800],"id":"d3faa7ad-7644-4b78-805e-c1d178bdb152","name":"Obter midia em base64","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-992,800],"id":"f1caaf91-ea93-4021-acb5-4e9b39802c6b","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-800,800],"id":"d171517e-4ae6-4d1e-9793-d2d86aaa0a77","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c7a7f70-722f-4cb8-a73d-983c82312609","name":"mensagem_usuario","value":"={{ $if($(\"Transcribe a recording\").isExecuted, $(\"Transcribe a recording\").last().json.text, \"\") }}","type":"string"},{"id":"3b2ae610-320c-4603-9665-6015441bc9c7","name":"mensagem_image","value":"={{ $if($(\"Analyze image\").isExecuted, $(\"Analyze image\").last().json.content, \"\") }}","type":"string"},{"id":"f7361740-17df-44ed-8f3a-f09625bff956","name":"mensagem_final","value":"={{ \n  $(\"Transcribe a recording\").isExecuted && $(\"Transcribe a recording\").last().json.text \n    ? $(\"Transcribe a recording\").last().json.text \n    : ($(\"Analyze image\").isExecuted && $(\"Analyze image\").last().json.content \n        ? $(\"Analyze image\").last().json.content \n        : ($(\"Organizando dados\").last().json.mensagem_usuario || \"\"))\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,896],"id":"590f8115-6fac-4673-99b5-7163ab789ed7","name":"Edit Fields"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"Teste_Agendamento","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1216,992],"id":"222e9dc6-a44f-4b44-9a9b-5cae871062cc","name":"Obter midia em base","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1008,992],"id":"22ad5380-2d7f-4283-8d14-54f5722568a5","name":"Convert to File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Aqui está uma imagem enviada pelo usuário. Descreva detalhadamente a imagem e qualquer texto visível.\nColoque o máximo de detalhes.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-800,992],"id":"81f185a6-50e0-4934-a9d1-93ad3ab50741","name":"Analyze image","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `horário desejado`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `horário desejado + 1 hora`, 'string') }}","additionalFields":{"attendees":["=[   {     \"email\": \"{{$json[\"email_cliente\"]}}\"   } ]"],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Agendamento Online, nome do cliente + telefone do cliente + serviço desejado`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[304,512],"id":"45e3468a-e23e-4703-8162-1c532763590e","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `horário desejado`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `horário desejado + 1 hora`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[416,512],"id":"aec4a65a-ae9a-4108-9910-a71ee9789c42","name":"Listar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id do evento`, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[80,512],"id":"d95b9830-4295-47a8-b768-df0e5b8b95dc","name":"Reagendar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"brunomaiadasilva@gmail.com","mode":"list","cachedResultName":"brunomaiadasilva@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `verificar o id do evento criado dentro do #Listar`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[192,512],"id":"e665041a-6410-4926-9020-79161ae2e5b8","name":"Cancelar","credentials":{"googleCalendarOAuth2Api":{"id":"wRKSK7Ms7Dg4slNI","name":"Google Calendar account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Organizando dados').item.json.telefone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-560,272],"id":"0ce186af-a2e8-4a95-a4b9-b39bbf8deb2e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Zs7WcxE92Q90lOWY","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=Teste_Agendamento","remoteJid":"={{ $('Organizando dados').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[336,16],"id":"5a68e537-a950-4f04-bf3e-f14f0c40011c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Read Contacts from Google Sheets","type":"main","index":0}]]},"Read Contacts from Google Sheets":{"main":[[{"node":"Split Contacts","type":"main","index":0}]]},"Split Contacts":{"main":[[{"node":"Check if Status is Novo","type":"main","index":0}]]},"Check if Status is Novo":{"main":[[{"node":"WhatsApp Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"WhatsApp Agent","type":"ai_languageModel","index":0}]]},"Google Sheets Tool":{"ai_tool":[[{"node":"WhatsApp Agent","type":"ai_tool","index":0}]]},"WhatsApp Agent":{"main":[[{"node":"Wait 1 Minute","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"Wait 1 Minute":{"main":[[{"node":"Split Contacts","type":"main","index":0}]]},"Gmail Tool":{"ai_tool":[[{"node":"WhatsApp Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Organizando dados","type":"main","index":0}]]},"Organizando dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Obter midia em base64","type":"main","index":0}],[{"node":"Obter midia em base","type":"main","index":0}]]},"Obter midia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Obter midia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"WhatsApp Agent","type":"main","index":0}]]},"Reagendar":{"ai_tool":[[{"node":"WhatsApp Agent","type":"ai_tool","index":0}]]},"Cancelar":{"ai_tool":[[{"node":"WhatsApp Agent","type":"ai_tool","index":0}]]},"Agendar":{"ai_tool":[[{"node":"WhatsApp Agent","type":"ai_tool","index":0}]]},"Listar":{"ai_tool":[[{"node":"WhatsApp Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"WhatsApp Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dd318702-7f52-478c-9be2-0a07aaa4774c","triggerCount":0,"shared":[{"updatedAt":"2025-12-02T00:28:35.865Z","createdAt":"2025-12-02T00:28:35.865Z","role":"workflow:owner","workflowId":"anzWWBCQIF3Vq56n","projectId":"G56NELttT2pGfqmo"}],"tags":[]}