rag_rv2-m4nXhhYbPkX6ljhV.json
{"updatedAt":"2025-12-20T22:03:59.000Z","createdAt":"2025-10-16T20:07:12.508Z","id":"m4nXhhYbPkX6ljhV","name":"RAG_RV2","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"58e51f24-586c-4535-8207-9da5216f1bea","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2784,2848]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"c9e4e2c7-a4c3-4623-b943-d5770413d129","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2224,2912]},{"parameters":{"content":"# Agente IA","height":80,"width":196,"color":5},"id":"f12b3f4f-c7f7-4a70-98f6-9f63c5b6bcdb","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3072,2464]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"0f2928a3-5d4a-42f5-b1a8-6ebae13b60c8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2400,2864]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3040,2448],"typeVersion":1,"id":"ca59b729-d283-49e6-adf2-a657963e3fdb","name":"Sticky Note4"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"44234769-9f02-4a34-b384-d470752aa16d","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4032,2928]},{"parameters":{"options":{}},"id":"bdfcd27b-1b18-4a71-a599-359041f5e959","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4624,2752]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"672d9989-abca-4daf-87cc-52247ce694c5","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4240,2928]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n\"troque essas palavra: Prazer por: feliz em conhecer\"\n  ]\n}"}]}},"id":"64b8962c-b694-423c-ab7f-25217f65d6ed","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4048,2720]},{"parameters":{"content":"","height":620,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3904,2448],"typeVersion":1,"id":"c7584f60-1f57-4d56-9a45-c2fd83c3f87f","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"8d4d9b6a-8a7a-47e6-b2e7-59716ce0b992","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3920,2464]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3104,2832],"id":"2196b458-216e-4847-b9e3-46bf5b03a1a1","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"=TREINAMENTO DA IA AQUI"}},"id":"4d18d9a5-2108-41c1-99fd-6954859471b3","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3184,2624]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Telefone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3248,2800],"id":"76ddc261-08a2-44cf-b22e-f5bb3f05717f","name":"Postgres Chat Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"251213","operator":{"type":"string","operation":"notContains"},"id":"2aa763f7-cf04-44e7-9bbb-8f8de823aef8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar na IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"251213","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisar Lead grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3632,2704],"id":"12232b16-a858-4c74-b68e-63c1fed73ad9","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4704,3392],"id":"a41ae323-9492-4bf5-8884-63a6b843f963","name":"OpenAI Chat Model2"},{"parameters":{"content":"","height":400,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3904,3104],"typeVersion":1,"id":"43fbaed4-099e-49a4-919e-283407b0da83","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"d8b5c509-e893-4c77-9b38-0b9f2d0ba123","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3920,3120]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook EVO').item.json.body.instance }}","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":4200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4912,2768],"id":"c3504873-7c9f-4e1b-bb61-3628275bed5d","name":"Evolution API"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook EVO').item.json.body.instance }}","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3952,3232],"id":"a5d78c8d-504d-47e8-ba71-0293a4a32e22","name":"Evolution API1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook EVO').item.json.body.instance }}","remoteJid":"Codigo do grupoo aqui","messageText":"={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5072,3232],"id":"d4876e98-8cc0-4200-965b-ceb79c97e914","name":"Evolution API2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[4624,2192],"id":"bbb3a4f6-d0a1-4ce7-ab5a-cf1a804fcfcd","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4128,2192],"id":"2d1485e0-6a0e-4682-86dd-638afdaf015f","name":"If4"},{"parameters":{"content":"","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3904,2048],"typeVersion":1,"id":"bda5093c-2e67-450b-bc07-0f5c6ecfdb95","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"7b91be0e-0ea0-43ce-a570-650862da0150","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3920,2064]},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3968,2192],"id":"6143b800-72fc-4819-8cf9-c446e341a667","name":"Busca Telefone","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4400,2080],"id":"502e6f01-00b8-4a4a-a9c7-e9986898a571","name":"Adiciona CHAT supabase"},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4432,2272],"id":"5f15edec-dc91-42e0-85bb-b5744b354bef","name":"Atualiza CHAT Supabase","alwaysOutputData":true},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Dados').item.json.message.content }}"},{"fieldId":"message_type","fieldValue":"={{ $('Dados').item.json.body.event }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4832,2192],"id":"b9029412-6b9f-4dbb-ab93-b485e4696bb8","name":"Cria Histórico Supabase"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"851e9056-e5d9-450b-8d32-be01233b0fd5","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4400,2752]},{"parameters":{"amount":1},"id":"df8b89c1-ed32-42d8-b8d2-223596e973f4","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5120,2768],"webhookId":"3d687a7e-268e-4399-bf51-77626e001509"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.Telefone }}"},"id":"3892e550-6d81-447d-8199-24115cf3822c","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5024,2192]},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"3db7beb8-f05d-43f4-bdb9-6025352353ff","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2544,2704]},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4144,3232],"id":"c3db4e04-5757-4616-a71a-8b4c75f75eb5","name":"ListMessages-Supabase2","alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4352,3232],"id":"9955910f-b3b2-4ebc-9dfe-a255e5578be0","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4528,3232],"id":"f427906e-a3e1-4b26-afdd-e91f34c4c7ac","name":"Code6"},{"parameters":{"promptType":"define","text":"={\n  \"role\": \"Agente Resumidor de Casos\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados dos problemas\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas os problemas do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"Apenas problemas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados, mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do problema com detalhes relevantes e curto\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[4720,3232],"id":"0dd15038-eabc-48e0-85cb-d0c016cefb37","name":"Basic LLM Chain1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1760,2800],"id":"7c6378de-a3bf-418c-88fb-7b2bb91a8c4e","name":"Supabase","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,2752],"id":"fc56e8a1-5d4d-466d-aa1d-8bdeab05b060","name":"If1"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1376,2880],"id":"d034446f-d5a5-4a0e-957c-40918dc95902","name":"Supabase1"},{"parameters":{"content":"","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1184,2448],"typeVersion":1,"id":"9c0d76eb-7cbc-4eeb-be11-b693241108f0","name":"Sticky Note17"},{"parameters":{"content":"","height":660,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[160,2400],"typeVersion":1,"id":"c5ec5721-84da-40cb-ab8a-888619037b81","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1808,2624],"typeVersion":1,"id":"896b9439-41a2-45e0-a4c3-d51a82b88695","name":"Sticky Note22"},{"parameters":{"content":"# Cadastrar Lead Supa Base","height":80,"width":596,"color":4},"id":"3de6e606-8773-427a-a60c-4677e509dae3","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1808,2640]},{"parameters":{"content":"","height":500,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1040,2560],"typeVersion":1,"id":"8ce81e04-6329-4f6a-a7c7-c3ac6d6e00ca","name":"Sticky Note26"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[48,544],"typeVersion":1,"id":"afab38f4-2314-42e6-8fcc-f8dd1de65bca","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[848,144],"typeVersion":1,"id":"ced1e2e5-14a3-4819-bc22-943b04ec4270","name":"Sticky Note33"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1088,544],"typeVersion":1,"id":"d91f59fc-0a39-4c70-b576-13db23e35b77","name":"Sticky Note37"},{"parameters":{"httpMethod":"POST","path":"3e949337-89b9-4fcc-a461-45458213b840","options":{}},"id":"2055cf0e-cb90-4caf-ada4-c7b3485a2067","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2400,2832],"webhookId":"3e949337-89b9-4fcc-a461-45458213b840"},{"parameters":{"content":"# Pausar IA","height":80,"width":216,"color":4},"id":"534dd44d-936a-4164-8c90-988f27f30214","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,2560]},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[384,160],"id":"3259183a-08d8-47e2-a3da-fea2a8c8f281","name":"Cria Tabela Dados Cliente"},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1440,192],"id":"1228f8be-acea-4b07-b6a1-659e69d8aefe","name":"Cria Tabela Documentos"},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1152,560],"id":"d19f8467-465a-4932-8a1e-ace052489724","name":"Deleta Conteúdo Documentos"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1104,144],"typeVersion":1,"id":"cb2e45ce-d469-42f3-a842-f734a741b99e","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1392,144],"typeVersion":1,"id":"6b2e704e-4c49-4f07-a392-ceab83ba65d0","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[64,144],"typeVersion":1,"id":"039a59af-7f1c-436e-b5bc-051af6cdb367","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[592,144],"typeVersion":1,"id":"7f9adff8-b1e0-4e52-b1fd-d81c543e4332","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[560,544],"typeVersion":1,"id":"4422831f-6690-447a-9b87-84b187324960","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[320,144],"typeVersion":1,"id":"b1fe38a3-7d5a-4d0e-ac0e-ff10539cf8d0","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[112,592],"id":"526d3a3d-1f0b-4b4f-ab45-b83662eb88c3","name":"Deleta Histórico"},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,160],"id":"208122c7-9187-417b-9dbc-2dbce1967cf8","name":"Cria função Busca em Vetor"},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,160],"id":"4020dd54-279d-49fd-856f-c68aa766be96","name":"Cria Extensão Vetor"},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[640,160],"id":"5af55f3d-434f-40d8-ad84-262b0bef367b","name":"Cria Tabela Chats"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[832,544],"typeVersion":1,"id":"f1d68665-63f9-4054-80fd-8b136abe0e6f","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,560],"id":"3b512301-f2a2-48e6-92b8-4dce41d5002a","name":"Deleta Conteúdo Chats"},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[624,560],"id":"e3a7b715-b364-4be0-a4b7-5ac4776fb61d","name":"Deleta Conteúdo Dados Cliente"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[304,544],"typeVersion":1,"id":"ba92fb1e-aecb-4c47-a755-c8d94d4064d2","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[368,560],"id":"ee11ac28-2f66-4500-ab8c-a24003ab17d1","name":"Deleta Conteúdo Chat_Messages"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[128,160],"id":"f5fee706-1300-4bcd-ac4a-92ad1d40b2fc","name":"Cria Tabela Chat_Messages"},{"parameters":{"content":"","height":440,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2448,2624],"typeVersion":1,"id":"bd3073c3-1737-4802-a22b-f2555ca7ba7e","name":"Sticky Note32"},{"parameters":{"content":"## WEBHOOK & ROTAS","height":80,"width":276,"color":4},"id":"c1f1188f-90cb-4fde-a80d-d97c93a114f8","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2416,2640]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"1acd8944-464a-40aa-ab35-a85c86e202ef","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[432,2912]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"e494f3f0-fc12-4d44-b240-ef03a56ba56b","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,2912]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dbbe41c8-8cba-4952-be80-884330b46ae9","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[768,2912]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"3fc3a5dc-2f54-4a8a-a2ce-e5559151fcef","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,2928]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"7320cba5-dc6a-4208-9486-c19eab1b597e","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,2752]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"438532d7-df80-4334-a4b1-f06f16958248","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[192,2672]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":4},"id":"131030ba-6f7b-4f40-879e-625642a5501e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1184,2448]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"2902b566-b44c-4098-bf82-8c42e7405bca","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[592,2912]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ef4bba8f-0639-4f85-91c6-d783e401f777","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,2704]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}","tail":true},"id":"e3349aac-9041-4190-b17a-2539db232c9b","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,2432]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"787fe8c5-e8f7-4111-a243-5c404b3fa00b","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,2592]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"f3983305-5f25-4f09-9563-dcab120294b3","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,2704]},{"parameters":{"amount":40},"id":"d723457e-6ad0-464d-abf4-3ba10ec0e46d","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,2704],"webhookId":"f6c81d17-1a7d-40c4-8617-deab7d16595e"},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"2453c124-4342-42b7-bfc7-7df4d2cb0768","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1232,2704]},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"70b27890-0cab-45e0-b36a-04575c447b69","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1520,2704]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"7c878f9b-2c93-4061-954a-a832153e7647"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"0463d2a0-269c-4da6-9090-0bb470259b88","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1024,2848]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":4},"id":"f543a325-1285-4216-9a5b-14496c43a251","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,2400]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"29f30414-6b79-4d6f-bd47-c89855c6ce7a","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,2688]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"f7003ad1-6c4e-4afd-956e-c027aa3e33bf","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[560,2704]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"7b523d5c-1dc6-4ff2-831c-3fcf3af7e825","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,2704]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"25a1a4d0-4f4f-473a-9da4-bbaf28eb7d26","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[752,2704]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"aaa80cda-f40d-4770-99ef-a757cc2a3473","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1760,3584],"typeVersion":1.2},{"parameters":{"content":"## Agente treinamento RAG, ativação automática como o texto: TreinoIA1212:","height":840,"width":2300,"color":4},"id":"59ee60fc-e547-4932-81b2-79dfecfe46e1","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-1808,3104],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Use para buscar informações na planilha caso tenha um treinamento paricido devovlea o numeroo da rtoow para ela ser atualziada","documentId":{"__rl":true,"value":"=","mode":"id"},"sheetName":{"__rl":true,"value":"=","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1616,3632],"id":"4d37321a-2b0c-4731-8cc7-95feeda7bb7e","name":"Treinamento_feito"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"60e2f888-4117-426b-95e6-e167def59cb8","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[80,3408]},{"parameters":{"separator":"/n","chunkSize":1200,"chunkOverlap":200},"id":"c3e283e6-942e-4ff1-bd7d-d1cce01cf1b9","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[224,3808]},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"rew_number","options":{}},"id":"db92cec9-5e7a-40fc-be54-0f024b0df308","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,3408]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"008403d9-bcc8-42de-b8a9-1cfe22f0728c","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-64,3648]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"Arquivo","value":"={{ $('Download File1').item.json.name }}"}]}}},"id":"6a199fb1-cc95-4d0c-a659-b895e4c7b791","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[112,3648]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5af6ca2d-dca2-470e-9514-345b40e47106","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-976,3360],"executeOnce":false},{"parameters":{"operation":"xlsx","options":{}},"id":"9eb3e6cd-96b9-40f6-907c-fb26be35413f","name":"Extract from Excel2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-480,3312]},{"parameters":{"promptType":"define","text":"={{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","options":{"systemMessage":"={\n  \"name\": \"AgenteTreinamentoPlanilha\",\n  \"objectives\": [\n    \"Receber um texto e corrigi-lo\",\n    \"Verificar se já existe pergunta similar na planilha\",\n    \"Atualizar a planilha com a pergunta e a resposta corrigida\",\n    \"Caso peça para atualizar, não execute nem uma tool\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"Treinamento_feito\",\n      \"description\": \"Verifica se existe conteúdo similar antes de atualizar, caso exista deve ser removido ou substituído\"\n    },\n    {\n      \"name\": \"Atualizar_treinamento\",\n      \"description\": \"Cria ou atualiza linha na planilha com as colunas: Pergunta e Resposta\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não mencionar a planilha ou as ferramentas na resposta ao usuário\",\n    \"Corrigir sempre o texto recebido antes de registrar no sistema\",\n    \"Seja preciso e consistente ao preencher as colunas pergunta e resposta\",\n    \"Gere sua resposta sem acentos nas palavras ou caracteres especiais\"\n  ]\n}\n"}},"id":"789417e9-3f61-4f75-b65c-30f84b9db6be","name":"Agente Treinamento RAG","type":"@n8n/n8n-nodes-langchain.agent","position":[-1760,3344],"typeVersion":1.8},{"parameters":{"content":"# Ferramentas para criar\n\n","height":80,"width":456,"color":4},"id":"0d9c459e-2f12-4c0b-88ff-fe4e4ee6841f","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,48]},{"parameters":{"content":"# Ferramentaspara apagar\n\n","height":80,"width":496,"color":3},"id":"aa7703fa-2405-4275-8195-5facd3ac1e98","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922557b-71e7-4390-af21-10b683e7a875","leftValue":"={{ $json.Telefone }}","rightValue":"553173374875@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Numero pessoal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notStartsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Rota normal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Treinamento IA"}]},"options":{}},"id":"2841c8b2-e518-4d3b-ab3d-be8099474782","name":"Rotas","type":"n8n-nodes-base.switch","position":[-2016,2832],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-688,2608],"id":"9bad49d4-bc08-42fa-9ef3-538f5b2595ac","name":"Pausar IA"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-688,2928],"id":"203aa810-58b7-4eb9-bda5-322f02d5e20d","name":"Verificar Pause"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"notStartsWith"},"id":"ff00573b-e517-43c6-8644-14a4fe8565d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia pausada"}]},"options":{}},"id":"a12a2821-2e6d-4fd9-bb68-840727ad1a29","name":"Rota Atendimento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-464,2928]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Pausada"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativar IA"}]},"options":{}},"id":"f00e2f33-b9a4-4701-8a66-c9e6b7390cd7","name":"Rotas1","type":"n8n-nodes-base.switch","position":[-880,2752],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"reativada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,2768],"id":"cdd51e59-e23f-4ca4-8d0f-f4bc531b0121","name":"Reativar IA"},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"886e3751-e39b-4fc6-98d1-3113eaeebbb4","name":"=body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7","name":"Telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a57db642-3e13-452e-bb5b-19f7e9f3bd5d","name":"NomeWpp","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"7dd37be8-0ff3-4bdf-a656-8a6b83520ec9","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2208,2832]},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-688,2768],"id":"fe48553e-bb5d-47cb-b164-074ebc66a7a7","name":"Wait","webhookId":"fb57c068-92da-4e57-a6bd-c69c7c2de863"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-128,2880],"id":"b82ab554-31ee-4cca-979a-6085ad2464e5","name":"Salvar Historicoo Humano1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2240,2720],"id":"fa6a632f-fd3b-4cab-b47a-6f97059f0818","name":"OpenAI Chat Model4"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"}},"id":"50670451-bfe7-4fac-bf7b-3aeb262eccad","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2240,2544]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":4},"id":"8439875c-e7af-4a92-9665-3515ce7d9485","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2208,2448]},{"parameters":{"content":"","height":380,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"022f2b1f-a2a1-46c3-8c46-85ce755d2963","name":"Sticky Note12"},{"parameters":{"content":"","height":380,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"cfcd839f-ce45-4b23-bc1a-09b56a5c332f","name":"Sticky Note13"},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2192,2448],"typeVersion":1,"id":"2f371c08-39f0-4a3b-b5c0-9a78db532669","name":"Sticky Note6"},{"parameters":{"descriptionType":"manual","toolDescription":"Analise se já existeuma coluca pareceida se sim atualize ela se não crie uma nova linha","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"=","mode":"id"},"sheetName":{"__rl":true,"value":"=","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Pergunta":"={{ $fromAI(\"Pergunta\",\"isso é a pergunta\") }}","Resposta":"={{ $fromAI(\"Resposta\",\"isso é a resposta\") }}"},"matchingColumns":["Pergunta"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d2ab438f-8fcc-4a20-b4b1-3f79618c6fa4","name":"Atualizar_treinamento","type":"n8n-nodes-base.googleSheetsTool","position":[-1424,3632],"typeVersion":4.5},{"parameters":{"operation":"text","options":{}},"id":"350e5863-8e31-425d-84ba-0d2ba4d479af","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-480,3648],"alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"id":"be139fe9-7baa-44b3-ba83-aceeaffcd7ac","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-480,3120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"d324b22b-cdf4-4216-a5ac-7db17ab11851"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8bd558b2-8c70-4edd-ab19-92540895ae46","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CVS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Docs"}]},"options":{"fallbackOutput":3}},"id":"f2ac7eed-5d80-487c-9339-3e8543779a1b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-800,3344]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"b9e1bed7-c8f9-4341-ad41-61f34d8f7b75","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-128,3408]},{"parameters":{"options":{}},"id":"ee6a5a64-b2c4-4610-8df6-b0e14d49b1f6","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-480,3488]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1IoveRco9UkoOsk5LDoupkPkMuxi2TPej","mode":"list","cachedResultName":"D:FERNANDA ","cachedResultUrl":"https://drive.google.com/drive/folders/1IoveRco9UkoOsk5LDoupkPkMuxi2TPej"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1168,3360],"id":"e346b423-589b-4663-9f66-b51f1844a6b3","name":"Google Drive","executeOnce":true},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"id","condition":"neq","keyValue":"0"}]}},"id":"e3a13743-1e79-49c5-b6c5-9d53cd711770","name":"Deleta linhas antigas do documento1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,3360],"alwaysOutputData":true,"executeOnce":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,3184],"id":"c97f512e-6b0f-44cf-815e-29f08573bd96","name":"Schedule Trigger"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-176,2608],"id":"560d092f-cd42-4c9f-bf6d-40d3ee66d56b","name":"Salvar Historicoo Humano"},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5312,3232],"id":"9a2c8855-2737-4794-bf9f-222b29c33cb3","name":"Pausar IA1"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Parser  Chain","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Pausar IA1","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch6","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Rotas1","type":"main","index":0}],[{"node":"Verificar Pause","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Agente Treinamento RAG","type":"ai_languageModel","index":0}]]},"Treinamento_feito":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from Excel2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Rotas":{"main":[[],[{"node":"Supabase","type":"main","index":0}],[{"node":"Agente Treinamento RAG","type":"main","index":0}]]},"Pausar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"Rota Atendimento","type":"main","index":0}]]},"Rota Atendimento":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Salvar Historicoo Humano1","type":"main","index":0}]]},"Rotas1":{"main":[[{"node":"Pausar IA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Reativar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Reativar IA","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atualizar_treinamento":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel2","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Deleta linhas antigas do documento1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fc334e60-290f-461e-ac43-a2a13ef9d82a","triggerCount":0,"shared":[{"updatedAt":"2025-10-16T20:07:12.522Z","createdAt":"2025-10-16T20:07:12.522Z","role":"workflow:owner","workflowId":"m4nXhhYbPkX6ljhV","projectId":"G56NELttT2pGfqmo"}],"tags":[]}