whatsapp-crm-api.json
{"updatedAt":"2026-02-25T22:43:30.459Z","createdAt":"2026-02-16T14:57:43.789Z","id":"0AVtrSBBTNUzHzI8","name":"WhatsApp CRM API","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-crm","options":{}},"id":"webhook-trigger","name":"Webhook CRM","position":[-272,288],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"879ebc2d-634a-4b31-9b16-9b97ce83e58c","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Analise e agende se necessário.\n\nO usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.message }}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n## FUNCAO\nVoce e VIVI, Consultora de Marketing Digital e Agente de Atendimento Inteligente da\nVisione Digital — uma agencia especializada em crescimento digital para empresas.\n\nVoce inicia, conduz e finaliza o atendimento com autonomia, operando como:\n- Consultora de Pre-Vendas e Qualificacao de Leads\n- Operadora de CRM (captura e estruturacao de dados)\n- Orquestradora de Agendamentos via Google Calendar\n\nVoce responde sempre com eficiencia, empatia e foco no resultado do cliente.\nNunca pergunte informacoes que voce ja possui no historico da conversa.\n\n## EMPRESA\nVisione Digital | Agencia de Marketing Digital\nServicos: Trafego Pago (Google Ads, Meta Ads), SEO, Social Media Management,\n         Branding Digital, Criacao de Sites, Email Marketing, Consultorias.\nDiferencial: Estrategia personalizada + resultado mensuravel + time dedicado.\n\n## FLUXO DE ATENDIMENTO\n\n### ETAPA 1 - BOAS-VINDAS (somente no primeiro contato)\nEnvie: \"Ola! Sou a VIVI, consultora da Visione Digital.\nEstou aqui para entender como podemos ajudar a sua empresa a crescer online.\nPode me contar um pouco sobre o seu negocio?\"\n\n### ETAPA 2 - QUALIFICACAO (colete estes dados de forma natural, nunca como formulario)\n- Nome completo\n- Nome da empresa e segmento de atuacao\n- Principal desafio ou objetivo de marketing atual\n- Servico de interesse (se souber)\n- Orcamento disponivel para marketing (faixas: ate R$3k | R$3k-10k | acima R$10k)\n- Urgencia (imediata, 30 dias, 60+ dias)\n- Telefone/WhatsApp e E-mail\n\n### ETAPA 3 - APRESENTACAO DE VALOR\nCom base no perfil identificado, apresente 1 a 2 servicos da Visione Digital\nalinhados ao desafio do lead. Seja especifico. Use numeros e resultados reais\nse possivel (ex: 'Nossos clientes de e-commerce aumentaram 40% o ROAS em 90 dias').\n\n### ETAPA 4 - AGENDAMENTO\nQuando houver interesse em uma reuniao, diga:\n\"Perfeito! Vamos marcar uma reuniao estrategica gratuita de 30 minutos com\nnosso especialista. Qual horario fica melhor para voce: manha ou tarde?\"\n\nEm seguida, siga o fluxo obrigatorio com MCP_Agendamento_Personal:\n  1. Chame listar() para buscar slots disponiveis no periodo indicado pelo lead.\n  2. Apresente ate 3 opcoes de horario ao lead.\n  3. Apos confirmacao explicita, chame agendar() com:\n     titulo: 'Reuniao Estrategica - [Nome] - [Empresa]'\n     data_hora: <ISO 8601 com fuso -03:00>\n     duracao_minutos: 30\n     email_convidado: <email do lead>\n     descricao: 'Lead: [Nome] | Empresa: [X] | Interesse: [Servico] | Score: [N]/14'\n  4. Se lead pedir mudanca de horario: chame reagendar() com o event_id retornado.\n  5. Se lead cancelar: chame deletar() com notificar_convidado: true.\n\nConfirme o agendamento informando data, horario e link da reuniao (Meet/Zoom).\n\n### ETAPA 5 - FINALIZACAO\nAo final, agradeca o contato, reforce o proximo passo e salve o JSON com\ntodos os dados capturados.\n\n## REGRAS DE COMPORTAMENTO\n- NUNCA mencione que e uma IA ou bot, a menos que diretamente perguntado.\n- NUNCA faca mais de 2 perguntas por mensagem.\n- NUNCA use linguagem robotica ou respostas engessadas.\n- SEMPRE demonstre que ouviu e entendeu antes de responder.\n- SEMPRE priorize dados ja existentes no historico antes de perguntar.\n- Se o lead nao quiser agendar, mantenha o relacionamento e ofeca envio de material.\n- Se o lead mencionar concorrente, foque nos diferenciais da Visione, sem criticar.\n\n## OUTPUT OBRIGATORIO (JSON)\nAo finalizar cada atendimento, retorne um JSON valido com os campos:\nid | dataPrimeiroContato | nome | empresa | contato | email |\nsegmento | servicoInteresse | orcamentoEstimado | urgencia |\nstatus | pontuacaoLead | resumo | dataAgendada | linkMeet | observacoes\n\n## MENSAGEM ATUAL DO USUARIO\n{{ $json.message }}\n\n## HISTORICO DA CONVERSA\n{{ $json.history }}\n"}},"id":"2a9c94a8-a097-4f33-9a92-3ba9f591f09d","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,304]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[272,496],"id":"57757bd2-ac77-4b25-b70a-e877ab456c1c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[432,496],"id":"9099228f-9129-4192-9e75-56d86aa2b072","name":"Redis Chat Memory","credentials":{"redis":{"id":"B31aKtGbli4REZ8d","name":"Redis account"}}},{"parameters":{"endpointUrl":"https://n8n-n8n.rd7jsk.easypanel.host/mcp/Agendamento","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[608,496],"id":"749729bb-4c22-41a3-a806-1faf0aa38bb3","name":"MCP Client"},{"parameters":{"assignments":{"assignments":[{"id":"3cdf91d8-a3d3-4250-85e2-311ad8e8bb6d","name":"numero","value":"={{\n  $json.body?.conversation?.meta?.sender?.identifier}}","type":"string"},{"id":"60989898-3454-4fb9-a906-b57d379263c3","name":"message_type","value":"={{ $json.body.message_type }}","type":"string"},{"id":"0a1dea99-99de-402b-9da1-28f1636a8ae5","name":"nome","value":"={{ $json.body.conversation.meta.sender.name }}","type":"string"},{"id":"bb60975b-32d3-45e3-905a-49916a0aba30","name":"message","value":"={{ $json.body.content }}","type":"string"},{"id":"bf882606-3fd7-4c34-a3da-04aca35b0381","name":"created_at","value":"={{ $json.body.conversation.contact_inbox.created_at }}","type":"string"},{"id":"8c33b438-a72c-4fae-bb22-f8d0a97a8352","name":"sessionId","value":"={{ $json.body.conversation.contact_inbox.source_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,288],"id":"900e1665-f612-40aa-a667-42f3f756bfac","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1944561f-85dd-4b3e-b063-cf9e28b57040","leftValue":"={{ $json.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,288],"id":"7ad4df43-450b-46ec-9ae6-49a1c68ba74a","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"RAG","remoteJid":"={{ $json.numero }}","messageText":"={{ $json.respostas }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1472,320],"id":"035bfbeb-6a30-4776-8579-f9617d7c260f","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"fieldToSplitOut":"respostas , numero","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1024,304],"id":"02efc681-f846-47e0-8461-837c9a9a7def","name":"Split Out"},{"parameters":{"content":"## Quebra e envio de mensagens via Evolution API\n\n**Envio de mensagens quebradas e pausadas simulando um humano**","height":464,"width":1152,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,144],"id":"0c492925-e36a-45d7-ba6f-7d0a3c5d1a67","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1728,320],"id":"2c983de8-9fa1-4ed9-9b3f-c6dea2182bc2","name":"Pausa","webhookId":"cbe31973-12c2-4193-948b-5e8f6771ff7d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1232,304],"id":"8fd6ea3c-670c-4fe2-ab62-b74b7c3b0bb9","name":"Loop"},{"parameters":{"assignments":{"assignments":[{"id":"3119deff-f687-48c5-a0c1-0a2255b8887b","name":"respostas","value":"={{ $json.output.split('\\n\\n') }}","type":"array"},{"id":"bcc7472b-d727-4a20-9f50-7240de51a567","name":"numero","value":"={{ $('Edit Fields').first().json.numero }}","type":"string"},{"id":"869a6f83-b51f-4af6-87fe-c9956b496860","name":"nome","value":"={{ $('Edit Fields').first().json.nome }}","type":"string"},{"id":"abae4c99-1b83-4d8f-ac05-f3e9fd33b6da","name":"sessionId","value":"={{ $('Edit Fields').first().json.sessionId }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,304],"id":"5c03e8b7-ed72-4be6-8395-46a8755e9321","name":"Preparar Dados"},{"parameters":{"content":"## Quebra e envio de mensagens via Evolution API\n\n**Envio de mensagens quebradas e pausadas simulando um humano**","height":384,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,48],"id":"0a854d9c-c2f8-47b1-ac96-d83ccb365edb","name":"Sticky Note"}],"connections":{"Webhook CRM":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Preparar Dados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Preparar Dados":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cccc3de3-09d6-44dc-ab98-e0f803db3b74","activeVersionId":"ee9ab541-2c5b-4e35-a60f-f7d9162081a6","triggerCount":1,"shared":[{"updatedAt":"2026-02-16T14:57:43.796Z","createdAt":"2026-02-16T14:57:43.796Z","role":"workflow:owner","workflowId":"0AVtrSBBTNUzHzI8","projectId":"G56NELttT2pGfqmo"}],"activeVersion":{"updatedAt":"2026-02-18T00:16:15.000Z","createdAt":"2026-02-18T00:15:55.064Z","versionId":"ee9ab541-2c5b-4e35-a60f-f7d9162081a6","workflowId":"0AVtrSBBTNUzHzI8","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-crm","options":{}},"id":"webhook-trigger","name":"Webhook CRM","position":[-272,288],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"879ebc2d-634a-4b31-9b16-9b97ce83e58c","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Analise e agende se necessário.\n\nO usuário enviou a seguinte mensagem ou descrição da mensagem: {{ $json.message }}\nHora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}","options":{"systemMessage":"=Hora e data atual: {{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss - cccc\", { locale: \"pt-BR\" }) }}\n\n## FUNCAO\nVoce e VIVI, Consultora de Marketing Digital e Agente de Atendimento Inteligente da\nVisione Digital — uma agencia especializada em crescimento digital para empresas.\n\nVoce inicia, conduz e finaliza o atendimento com autonomia, operando como:\n- Consultora de Pre-Vendas e Qualificacao de Leads\n- Operadora de CRM (captura e estruturacao de dados)\n- Orquestradora de Agendamentos via Google Calendar\n\nVoce responde sempre com eficiencia, empatia e foco no resultado do cliente.\nNunca pergunte informacoes que voce ja possui no historico da conversa.\n\n## EMPRESA\nVisione Digital | Agencia de Marketing Digital\nServicos: Trafego Pago (Google Ads, Meta Ads), SEO, Social Media Management,\n         Branding Digital, Criacao de Sites, Email Marketing, Consultorias.\nDiferencial: Estrategia personalizada + resultado mensuravel + time dedicado.\n\n## FLUXO DE ATENDIMENTO\n\n### ETAPA 1 - BOAS-VINDAS (somente no primeiro contato)\nEnvie: \"Ola! Sou a VIVI, consultora da Visione Digital.\nEstou aqui para entender como podemos ajudar a sua empresa a crescer online.\nPode me contar um pouco sobre o seu negocio?\"\n\n### ETAPA 2 - QUALIFICACAO (colete estes dados de forma natural, nunca como formulario)\n- Nome completo\n- Nome da empresa e segmento de atuacao\n- Principal desafio ou objetivo de marketing atual\n- Servico de interesse (se souber)\n- Orcamento disponivel para marketing (faixas: ate R$3k | R$3k-10k | acima R$10k)\n- Urgencia (imediata, 30 dias, 60+ dias)\n- Telefone/WhatsApp e E-mail\n\n### ETAPA 3 - APRESENTACAO DE VALOR\nCom base no perfil identificado, apresente 1 a 2 servicos da Visione Digital\nalinhados ao desafio do lead. Seja especifico. Use numeros e resultados reais\nse possivel (ex: 'Nossos clientes de e-commerce aumentaram 40% o ROAS em 90 dias').\n\n### ETAPA 4 - AGENDAMENTO\nQuando houver interesse em uma reuniao, diga:\n\"Perfeito! Vamos marcar uma reuniao estrategica gratuita de 30 minutos com\nnosso especialista. Qual horario fica melhor para voce: manha ou tarde?\"\n\nEm seguida, siga o fluxo obrigatorio com MCP_Agendamento_Personal:\n  1. Chame listar() para buscar slots disponiveis no periodo indicado pelo lead.\n  2. Apresente ate 3 opcoes de horario ao lead.\n  3. Apos confirmacao explicita, chame agendar() com:\n     titulo: 'Reuniao Estrategica - [Nome] - [Empresa]'\n     data_hora: <ISO 8601 com fuso -03:00>\n     duracao_minutos: 30\n     email_convidado: <email do lead>\n     descricao: 'Lead: [Nome] | Empresa: [X] | Interesse: [Servico] | Score: [N]/14'\n  4. Se lead pedir mudanca de horario: chame reagendar() com o event_id retornado.\n  5. Se lead cancelar: chame deletar() com notificar_convidado: true.\n\nConfirme o agendamento informando data, horario e link da reuniao (Meet/Zoom).\n\n### ETAPA 5 - FINALIZACAO\nAo final, agradeca o contato, reforce o proximo passo e salve o JSON com\ntodos os dados capturados.\n\n## REGRAS DE COMPORTAMENTO\n- NUNCA mencione que e uma IA ou bot, a menos que diretamente perguntado.\n- NUNCA faca mais de 2 perguntas por mensagem.\n- NUNCA use linguagem robotica ou respostas engessadas.\n- SEMPRE demonstre que ouviu e entendeu antes de responder.\n- SEMPRE priorize dados ja existentes no historico antes de perguntar.\n- Se o lead nao quiser agendar, mantenha o relacionamento e ofeca envio de material.\n- Se o lead mencionar concorrente, foque nos diferenciais da Visione, sem criticar.\n\n## OUTPUT OBRIGATORIO (JSON)\nAo finalizar cada atendimento, retorne um JSON valido com os campos:\nid | dataPrimeiroContato | nome | empresa | contato | email |\nsegmento | servicoInteresse | orcamentoEstimado | urgencia |\nstatus | pontuacaoLead | resumo | dataAgendada | linkMeet | observacoes\n\n## MENSAGEM ATUAL DO USUARIO\n{{ $json.message }}\n\n## HISTORICO DA CONVERSA\n{{ $json.history }}\n"}},"id":"2a9c94a8-a097-4f33-9a92-3ba9f591f09d","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,304]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[272,496],"id":"57757bd2-ac77-4b25-b70a-e877ab456c1c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"8dOgQP3NIfQNX9Pc","name":"OpenAi_Cash"}}},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[432,496],"id":"9099228f-9129-4192-9e75-56d86aa2b072","name":"Redis Chat Memory","credentials":{"redis":{"id":"B31aKtGbli4REZ8d","name":"Redis account"}}},{"parameters":{"endpointUrl":"https://n8n-n8n.rd7jsk.easypanel.host/mcp/Agendamento","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[608,496],"id":"749729bb-4c22-41a3-a806-1faf0aa38bb3","name":"MCP Client"},{"parameters":{"assignments":{"assignments":[{"id":"3cdf91d8-a3d3-4250-85e2-311ad8e8bb6d","name":"numero","value":"={{\n  $json.body?.conversation?.meta?.sender?.identifier}}","type":"string"},{"id":"60989898-3454-4fb9-a906-b57d379263c3","name":"message_type","value":"={{ $json.body.message_type }}","type":"string"},{"id":"0a1dea99-99de-402b-9da1-28f1636a8ae5","name":"nome","value":"={{ $json.body.conversation.meta.sender.name }}","type":"string"},{"id":"bb60975b-32d3-45e3-905a-49916a0aba30","name":"message","value":"={{ $json.body.content }}","type":"string"},{"id":"bf882606-3fd7-4c34-a3da-04aca35b0381","name":"created_at","value":"={{ $json.body.conversation.contact_inbox.created_at }}","type":"string"},{"id":"8c33b438-a72c-4fae-bb22-f8d0a97a8352","name":"sessionId","value":"={{ $json.body.conversation.contact_inbox.source_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,288],"id":"900e1665-f612-40aa-a667-42f3f756bfac","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1944561f-85dd-4b3e-b063-cf9e28b57040","leftValue":"={{ $json.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,288],"id":"7ad4df43-450b-46ec-9ae6-49a1c68ba74a","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"RAG","remoteJid":"={{ $json.numero }}","messageText":"={{ $json.respostas }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1472,320],"id":"035bfbeb-6a30-4776-8579-f9617d7c260f","name":"Enviar texto","credentials":{"evolutionApi":{"id":"kFiTNckWCh53vvnW","name":"Evolution API"}}},{"parameters":{"fieldToSplitOut":"respostas , numero","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1024,304],"id":"02efc681-f846-47e0-8461-837c9a9a7def","name":"Split Out"},{"parameters":{"content":"## Quebra e envio de mensagens via Evolution API\n\n**Envio de mensagens quebradas e pausadas simulando um humano**","height":464,"width":1152,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,144],"id":"0c492925-e36a-45d7-ba6f-7d0a3c5d1a67","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1728,320],"id":"2c983de8-9fa1-4ed9-9b3f-c6dea2182bc2","name":"Pausa","webhookId":"cbe31973-12c2-4193-948b-5e8f6771ff7d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1232,304],"id":"8fd6ea3c-670c-4fe2-ab62-b74b7c3b0bb9","name":"Loop"},{"parameters":{"assignments":{"assignments":[{"id":"3119deff-f687-48c5-a0c1-0a2255b8887b","name":"respostas","value":"={{ $json.output.split('\\n\\n') }}","type":"array"},{"id":"bcc7472b-d727-4a20-9f50-7240de51a567","name":"numero","value":"={{ $('Edit Fields').first().json.numero }}","type":"string"},{"id":"869a6f83-b51f-4af6-87fe-c9956b496860","name":"nome","value":"={{ $('Edit Fields').first().json.nome }}","type":"string"},{"id":"abae4c99-1b83-4d8f-ac05-f3e9fd33b6da","name":"sessionId","value":"={{ $('Edit Fields').first().json.sessionId }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,304],"id":"5c03e8b7-ed72-4be6-8395-46a8755e9321","name":"Preparar Dados"}],"connections":{"Webhook CRM":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Preparar Dados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Preparar Dados":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"authors":"Bruno Maia","name":"Version ee9ab541","description":"","autosaved":true},"tags":[]}